<div class="cont {{status_class}}" permission>
    <h1 class="title2">Mark Complete Contract #{{contract._id}}</h1>

    <md-input-container class="md-block"
                        ng-class="{'has-error': submitted && formContract.title.$invalid}">
        <div class="title3">Mark Comment</div>
        <textarea class="form-control" name="title" ng-enter="contract_create(contract); submitted=true"
                  ng-model="contract.complete_comment" required></textarea>
        <p class="error" ng-if="formContract.title.$error.required">Title is required</p>

    </md-input-container>
    <btns list="[{'fn': 'contract_mark_complete', 'name': 'Send Complete Request'}]"></btns>
    <div class="separator"></div>


    <succ
            title="The complete request is sent to buyer"
            desc="We'll update you as soon as buyer response"
            btns="['jobs_list.seller_ongoing']"
    ></succ>

    <contract-detailed
            title="Contract Information"
    ></contract-detailed>
</div>