<div class="cont {{status_class}}" permission>
    <a owner="{{gid(suggest.contract.seller)}}"
       ui-sref="root.contract_suggest({contract: contract._id})"
    >
    </a>

    <succ
            title="Thanks, the contract is started"
            btns="['jobs_list.buyer_ongoing', 'contract_detailed']"
    ></succ>

    <contract-detailed
            title="Suggest terms for Contract #{{contract._id}}"
            suggest="true"
    ></contract-detailed>

    <btns list="['contract_suggest_approve_fn', 'contract_edit_terms']"></btns>

</div>