<div class="cont {{status_class}}" permission>
    <h1 class="title2">Mark Complete Contract #{{contract._id}}</h1>
    <div class="jshadow jshadow_padd">
        <div class="jheader">
            Details
        </div>
        <div class="jbody">
            <md-input-container class="md-block"
                                ng-class="{'has-error': submitted && formContract.title.$invalid}">
                <div class="title3">Comment</div>
        <textarea class="form-control" name="title" ng-enter="contract_create(contract); submitted=true"
                  ng-model="contract.complete_comment" required></textarea>
                <p class="error" ng-if="formContract.title.$error.required">Title is required</p>

            </md-input-container>
            <md-input-container class="md-block"
                                ng-class="{'has-error': submitted && formContract.title.$invalid}">
                <div class="title3">Rating:</div>
                <div>
                    <div>
                        <div class="title3">Buyer Communication</div>
                        <star-rating isDisable="false" ng-model="contract.review.buyer_communication"></star-rating>
                    </div>
                    <div>
                        <div class="title3">Job Described</div>
                        <star-rating isDisable="false" ng-model="contract.review.job_described"></star-rating>
                    </div>
                    <div>
                        <div class="title3">Would Recommended</div>
                        <star-rating isDisable="false" ng-model="contract.review.would_recommend"></star-rating>
                    </div>
                </div>
                <p class="error" ng-if="formContract.title.$error.required">Title is required</p>
            </md-input-container>
            <btns list="[{'fn': 'contract_mark_complete', 'name': 'Send Complete Request'}]"></btns>
        </div>
    </div>


    <succ
            title="The complete request is sent to buyer"
            desc="We'll update you as soon as buyer response"
            btns="['jobs_list.seller_ongoing']"
    ></succ>

    <contract-detailed
            title="Contract Information"
    ></contract-detailed>
</div>