<div class="cont {{status_class}}">
    <btns list="['contract_create', 'job_recreate', 'contract_pause']" class="mtop20"></btns>
    <btns list="['contract_resume', 'contract_approve', 'contract_accept']" class="mtop20"></btns>
    <btns list="['contract_edit', 'contract_detailed']" class="mtop20"></btns>

    <hr/>
    <hr/>
    <btns list="['contract_create_fn', 'contract_reject_by_seller_fn', 'contract_reject_by_buyer_fn']" class="mtop20"></btns>
    <btns list="['contract_pause_fn', 'contract_resume_fn', 'contract_approve_fn']" class="mtop20"></btns>
    <btns list="['contract_approve_suggestion_fn', 'contract_close_fn', 'create_suggestion_fn']" class="mtop20"></btns>
    <btns list="['udpate_suggestion_fn', 'contract_preview_fn']" class="mtop20"></btns>



    <succ
            title="Thanks, your contract sent to seller"
            desc="We'll update you as soon as seller answer"
            btns="['contract_detailed', 'contract_edit']"
    ></succ>

    <contract-detailed
            title="Contract Information #{{job._id}}"
    ></contract-detailed>

</div>