<div class="cont {{status_class}}" permission>
    <h1 class="title2">Close Contract #{{contract._id}}</h1>

    <div class="jshadow jshadow_padd">
        <div class="jheader">
            Details
        </div>
        <div class="jbody">

            <md-input-container class="md-block"
                                ng-class="{'has-error': submitted && formContract.title.$invalid}">
                <div class="title3">Review Comment</div>
        <textarea class="form-control" name="title" ng-enter="contract_create(contract); submitted=true"
                  ng-model="contract.review_comment" required></textarea>
                <p class="error" ng-if="formContract.title.$error.required">Title is required</p>

            </md-input-container>
            <md-input-container class="md-block"
                                ng-class="{'has-error': submitted && formContract.title.$invalid}">
                <div class="title3">Rating</div>

                <p class="error" ng-if="formContract.title.$error.required">Title is required</p>

            </md-input-container>
            <md-input-container class="md-block"
                                ng-class="{'has-error': submitted && formContract.title.$invalid}">
                <div class="title3">Closure Comment</div>
        <textarea class="form-control" name="title" ng-enter="contract_create(contract); submitted=true"
                  ng-model="contract.closure_comment" required></textarea>
                <p class="error" ng-if="formContract.title.$error.required">Title is required</p>

            </md-input-container>
            <btns list="['contract_close_fn']"></btns>
        </div>
    </div>


    <succ
            title="The contract is closed"
            btns="['jobs_list.buyer_closed']"
    ></succ>

    <contract-detailed
            title="Contract Information"
    ></contract-detailed>
</div>