<div class="way container">
    <div ncy-breadcrumb></div>
</div>
<div class="cont" ng-class="{response: succ_resp}">
    <succ
            title="Thanks, your job is created and sent for our admin approval"
            desc="We will inform you as soon as the job is approved"
            links="['seller_open', 'job_detailed']"
    />
    </succ>

    <h1 class="title2">
        Post a Project
    </h1>
    <div class="jshadow">
        <job-post
            btns="[{name: 'Submit', fn: 'job_create'}]"
        ></job-post>
    </div>
</div>

