<div>
    <jobs-list url="/api/jobs/buyer/open/active" info="{{info}}" header="Active candidates" template="buyer-open" nf="There is no active candidates"></jobs-list>
    <jobs-list url="/api/jobs/buyer/open" info="{{info}}" header="All candidates" template="buyer-open" nf="There is no candidates"></jobs-list>

    <jobs-list url="/api/jobs/buyer/my" info="{{info}}" header="My Posted jobs" template="buyer-my" nf="There is no jobs"></jobs-list>
    <jobs-list url="/api/jobs/buyer/open/rejected" info="{{info}}" header="Rejected candidates" template="buyer-open" nf="There is no applications"></jobs-list>


</div>