<div>
    <!--<jobs-list url="/api/jobs/seller/open/active" info="{{info}}" header="Open jobs" template="seller-open" nf="There is no active candidates"></jobs-list>-->

    <jobs-list url="/api/jobs/seller/open" info="{{info}}" header="New Applications" template="{{info.template}}" nf="There is no applications. Apply for a job!"></jobs-list>

    <!--<jobs-list url="/api/jobs/seller/open/rejected" info="{{info}}" header="Rejected Applications" template="seller-open" nf="There is no applications"></jobs-list>-->
</div>