<form name="agencyRegistration" novalidate>
    <div class="afade">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-bold">Agency Information</h3>
                <p>Please provide brief information</p>
                <div class="form-group" ng-class="{'has-error': submitted && agencyRegistration.name.$invalid}">
                    <md-input-container class="md-block">
                        <label>Name</label>
                        <input class="form-control" name="name" unique-name ng-model="freelancer.name" required>


                        <div ng-messages="submitted && agencyRegistration.name.$invalid">
                            <div ng-show="submitted && agencyRegistration.name.$error.unique" ng-message="unique">Name already is taken</div>
                            <div ng-show="submitted && agencyRegistration.name.$error.required" ng-message="required">Name is required</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="form-group" ng-class="{'has-error': submitted && agencyRegistration.introduction.$invalid}">
                    <md-input-container class="md-block">
                        <label>Provide a short introduction of you (10-15 words)</label>
                        <input class="form-control" name="introduction" ng-model="freelancer.introduction" required>
                        <div ng-messages="submitted && agencyRegistration.introduction.$invalid">
                            <div ng-show="submitted && agencyRegistration.introduction.$error.required" ng-message="required">Introduction of you is required</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': submitted && agencyRegistration.description.$invalid}">
                    <md-input-container class="md-block">
                        <label>Why should an organization pick you from many others?(your 200 words sales</label>
                        <input class="form-control" name="description" ng-model="freelancer.description" required>

                        <div ng-messages="submitted && agencyRegistration.description.$invalid">
                            <div ng-show="submitted && agencyRegistration.description.$error.required" ng-message="required">Required field</div>
                        </div>

                    </md-input-container>
                </div>

                <div class="form-group">
                    <md-input-container class="md-block" ng-class="{'has-error': submitted && agencyRegistration.location.$invalid}">
                        <label>Choose location</label>
                        <md-select name="location" ng-model="freelancer.location" required>
                            <md-option ng-repeat="item in locations" value="{{item}}">
                                {{item}}
                            </md-option>
                        </md-select>
                        <div ng-messages="submitted && agencyRegistration.location.$invalid" ng-class="{'md-auto-hide': !submitted}">
                            <div ng-show="submitted && agencyRegistration.location.$error.required" ng-message="required">Required field</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="form-group">
                    <md-input-container class="selectTerm" ng-class="{'has-error': submitted && agencyRegistration.cities.$invalid}">
                        <label>Cities where you can service</label>
                        <md-select ng-model="freelancer.cities" name="cities" md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader" multiple="" required>
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm" type="search" placeholder="Search for a cities.."
                                       class="demo-header-searchbox _md-text">
                            </md-select-header>
                            <md-optgroup label="locations">
                                <md-option ng-value="item" ng-repeat="item in locations | filter:$select.search ">
                                    {{item}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                        <div ng-messages="submitted && agencyRegistration.cities.$invalid"  ng-class="{'md-auto-hide': !submitted}">
                            <div ng-show="submitted && agencyRegistration.cities.$error.required" ng-message="required">Required field</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="form-group">
                    <md-input-container class="md-block" ng-class="{'has-error': submitted && agencyRegistration.experience.$invalid}">
                        <label>Years of Experience (in years)</label>
                        <md-select ng-model="freelancer.experience" name="experience" required>
                            <md-option ng-repeat="item in experience" value="{{item}}">
                                {{item}}
                            </md-option>
                        </md-select>
                        <div ng-messages="submitted && agencyRegistration.experience.$invalid" ng-class="{'md-auto-hide': !submitted}">
                            <div ng-show="submitted && agencyRegistration.experience.$error.required" ng-message="required">Required field</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="form-group">
                    <md-input-container class="selectTerm" ng-class="{'has-error': submitted && agencyRegistration.freelancer_type.$invalid}">
                        <label>I want to register as a freelancer in</label>
                        <md-select ng-model="freelancer.freelancer_type" md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader" name="freelancer_type" multiple required>
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm" type="search" placeholder="Search ..."
                                       class="demo-header-searchbox _md-text">
                            </md-select-header>
                            <md-optgroup label="locations">
                                <md-option ng-value="item" ng-repeat="item in freelancerType | filter:$select.search ">
                                    {{item}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                        <div ng-messages="submitted && agencyRegistration.freelancer_type.$invalid" ng-class="{'md-auto-hide': !submitted}">
                            <div ng-show="submitted && agencyRegistration.freelancer_type.$error.required" ng-message="required">Required field</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-bold">Contact Details</h3>

                <p>Please provide contact details at which marketers can contact you</p>

                <div class="form-group"
                     ng-class="{'has-error': submitted && freelancerRegistration.contact_name.$invalid}">

                    <md-input-container class="md-block">
                        <label>Contact Person Name</label>
                        <input class='form-control' name="contact_name" ng-model="freelancer.contact_detail.name" required>

                        <div ng-messages="submitted && freelancerRegistration.contact_name.$invalid">
                            <div ng-show="submitted && freelancerRegistration.contact_name.$error.required" ng-message="required">Contact Person Name is required</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': submitted && freelancerRegistration.contact_email.$invalid}">
                    <md-input-container class="md-block">
                        <label>Email ID at which marketers can contact you</label>
                        <input class='form-control' name="contact_email" ng-model="freelancer.contact_detail.email" required
                               ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>

                        <div ng-messages="submitted && freelancerRegistration.contact_name.$invalid">
                            <div ng-show="submitted && freelancerRegistration.contact_email.$error.required" ng-message="required">Email ID is required</div>
                            <div ng-show="submitted && !freelancerRegistration.contact_email.$error.required && freelancerRegistration.contact_email.$error.pattern"
                                 ng-message="pattern">Email ID is invalid</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': submitted && freelancerRegistration.contact_mobile.$invalid}">

                    <md-input-container class="md-block">
                        <label>Mobile Number to send the contact request (will not be displayed)</label>
                        <input class='form-control' phone-number name="contact_mobile"
                               ng-model="freelancer.contact_detail.mobile"
                               required>

                        <div ng-messages="submitted && freelancerRegistration.contact_mobile.$invalid">
                            <div ng-show="submitted && freelancerRegistration.contact_mobile.$error.required" ng-message="required">Mobile Number is required</div>
                        </div>

                    </md-input-container>


                </div>
                <div class="form-group">
                    <div>Upload Profile Image <a class="pointer floatR" ng-click="downloadPicProfile()">Attach Files</a>
                    </div>
                </div>
                <div class="row ">

                </div>
                <div class="col-xs-12 floatL">
                    <img ng-src="{{freelancer.poster.url.replace('/public', '')}}" ng-hide="globalImg.length" style="max-width: 90px"/>
                    <img ngf-src="globalImg[1]" ng-show="globalImg[1]" ngf-thumbnail="globalImg[0]" class="thumbImg">
                    <a href="" class="boxclose" ng-click="deleteNewImg(globalImg[0].data._id)"
                       ng-show="globalImg.length"></a>
                </div>
            </div>
        </div>

        <div class="row paddingB20">
            <div class="col-md-12">
                <button class="btn btn-default" ng-click="submitted=true;register(agencyRegistration.$invalid,freelancer,globalFiles,globalImg);">Submit </button>
                <a href="/#/" class="btn btn-back floatR">Cancel</a>
            </div>
        </div>
    </div>
</form>