<div class="afade">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-bold">Freelancer Information</h3>

            <p>Please provide brief information</p>

            <div class="form-group" ng-class="{'has-error': submitted && freelancerRegistration.name.$invalid}">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input class="form-control" name="name" unique-name ng-model="freelancer.name" required>

                    <p ng-if="freelancerRegistration.name.$error.unique">Name already is
                        taken</p>

                    <p class="error" ng-if="freelancerRegistration.name.$error.required">Name is required</p>
                </md-input-container>

                <!--<div>Name</div>-->
                <!--<input class="form-control" name="name" ng-model="freelancer.name" required>-->

                <!--<p class="error" ng-if="freelancerRegistration.name.$error.required">Name is required</p>-->
            </div>

            <div class="form-group"
                 ng-class="{'has-error': submitted && freelancerRegistration.introduction.$invalid}">
                <md-input-container class="md-block">
                    <label>Provide a short introduction of you (10-15 words)</label>
                    <input class="form-control" name="introduction" ng-model="freelancer.introduction" required>

                    <p class="error" ng-if="freelancerRegistration.introduction.$error.required">Introduction of you
                        is required</p></md-input-container>

                <!--<div>Provide a short introduction of you (10-15 words)</div>-->
                <!--<input class="form-control" name="introduction" ng-model="freelancer.introduction" required>-->

                <!--<p class="error" ng-if="freelancerRegistration.introduction.$error.required">Introduction of you is-->
                <!--required</p>-->
            </div>

            <div class="form-group"
                 ng-class="{'has-error': submitted && freelancerRegistration.description.$invalid}">
                <md-input-container class="md-block">
                    <label>Why should an organization pick you from many others?(your 200 words sales</label>
                    <input class="form-control" name="description" ng-model="freelancer.description" required>

                    <p class="error" ng-if="freelancerRegistration.description.$error.required">This field is
                        required</p>
                </md-input-container>

                <!--<div>Why should an organization pick you from many others?(your 200 words sales pitch)</div>-->
                <!--<input class="form-control" name="description" ng-model="freelancer.description" required>-->

                <!--<p class="error" ng-if="freelancerRegistration.description.$error.required">This field is-->
                <!--required</p>-->
            </div>

            <div class="form-group">

                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Choose location</label>
                    <md-select ng-model="freelancer.location">
                        <md-option ng-repeat="item in locations" value="{{item}}">
                            {{item}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!--<div>Location</div>-->
                <!--<select class="full-width form-control" ng-model="freelancer.location">-->
                <!--<option ng-selected="!freelancer.location" value="">Choose location</option>-->
                <!--<option ng-repeat="item in locations" value="{{item}}">{{item}}</option>-->
                <!--</select>-->
            </div>

            <div class="form-group testDisplay">
                <!--<div>Cities where you can service</div>-->

                <md-input-container class="selectTerm">
                    <label>Cities where you can service</label>
                    <md-select ng-model="freelancer.cities" md-on-close="clearSearchTerm()"
                               data-md-container-class="selectdemoSelectHeader" multiple="">
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm" type="search" placeholder="Search for a cities.."
                                   class="demo-header-searchbox _md-text">
                        </md-select-header>
                        <md-optgroup label="locations">
                            <md-option ng-value="item" ng-repeat="item in locations | filter:$select.search ">
                                {{item}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>

                <!--<ui-select multiple ng-model="freelancer.cities" theme="bootstrap" close-on-select="false"-->
                <!--style="width: 100%;" title="Choose freelancer types">-->
                <!--<ui-select-match placeholder="Select freelancer types...">{{$item}}</ui-select-match>-->
                <!--<ui-select-choices repeat="item in locations | filter:$select.search">-->
                <!--{{item}}-->
                <!--</ui-select-choices>-->
                <!--</ui-select>-->
            </div>

            <div class="form-group">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Years of Experience (in years)</label>
                    <md-select ng-model="freelancer.experience">
                        <md-option ng-repeat="item in experience" value="{{item}}">
                            {{item}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <!--<div>Years of Experience (in years)</div>-->
            <!--<select class="full-width form-control" ng-model="freelancer.experience">-->
            <!--<option ng-selected="!freelancer.experience" value="">Choose</option>-->
            <!--<option ng-repeat="item in experience" value="{{item}}">{{item}}</option>-->
            <!--</select>-->
            <!--</div>-->

            <div class="form-group">

                <md-input-container class="selectTerm">
                    <label>I want to register as a freelancer in</label>
                    <md-select ng-model="freelancer.freelancer_type" md-on-close="clearSearchTerm()"
                               data-md-container-class="selectdemoSelectHeader">
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm" type="search" placeholder="Search for a cities.."
                                   class="demo-header-searchbox _md-text">
                        </md-select-header>
                        <md-optgroup label="locations">
                            <md-option ng-value="item" ng-repeat="item in freelancerType | filter:$select.search ">
                                {{item}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>


                <!--<ui-select multiple ng-model="freelancer.freelancer_type" theme="bootstrap" close-on-select="false"-->
                <!--style="width: 100%;" title="Choose freelancer types">-->
                <!--<ui-select-match placeholder="Select freelancer types...">{{$item}}</ui-select-match>-->
                <!--<ui-select-choices repeat="item in freelancerType | filter:$select.search">-->
                <!--{{item}}-->
                <!--</ui-select-choices>-->
                <!--</ui-select>-->
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="text-bold">Work</h3>

            <p>Enter information about your past work</p>

            <div class="form-group"
                 ng-class="{'has-error': submitted && freelancerRegistration.customers.$invalid}">
                <md-input-container class="md-block">
                    <label>Number of Customers</label>
                    <input class='form-control' name="customers" numbers-only ng-model="freelancer.work.customers"
                           required>

                    <p class="error" ng-if="freelancerRegistration.customers.$error.required">Number of Customers is
                        required</p></md-input-container>

            </div>
            <div class="form-group"
                 ng-class="{'has-error': submitted && freelancerRegistration.past_client.$invalid}">

                <md-input-container class="md-block">
                    <label>Past Clients that you have worked with</label>
                    <input class='form-control' name="past_client" ng-model="freelancer.work.past_client" required>

                    <p class="error" ng-if="freelancerRegistration.past_client.$error.required">Past Clients is
                        required</p>
                </md-input-container>

            </div>
            <div class="form-group"
                 ng-class="{'has-error': submitted && freelancerRegistration.testimonials.$invalid}">

                <md-input-container class="md-block">
                    <label>Client Testimonials (also mention the client name)</label>
                    <input class='form-control' name="testimonials" ng-model="freelancer.work.testimonials"
                           required>

                    <p class="error" ng-if="freelancerRegistration.testimonials.$error.required">Client Testimonials
                        is
                        required</p>
                </md-input-container>

                <!--<div>Client Testimonials (also mention the client name)</div>-->
                <!--<input class='form-control' name="testimonials" ng-model="freelancer.work.testimonials" required>-->
                <!--<p class="error" ng-if="freelancerRegistration.testimonials.$error.required">Client Testimonials is-->
                <!--required</p>-->
            </div>
            <div class="form-group" ng-class="{'has-error': submitted && freelancerRegistration.awards.$invalid}">
                <md-input-container class="md-block">
                    <label>Awards and Recognition</label>
                    <input class='form-control' name="awards" ng-model="freelancer.work.awards" required>

                    <p class="error" ng-if="freelancerRegistration.awards.$error.required">Awards is required</p>

                </md-input-container>

            </div>
            <div class="form-group">
                <div>Upload samples of work <a class="pointer floatR" ng-click="attachFile()">Attach Files</a>
                </div>
                <div class="text-right">
                    <div class="row Files" ng-repeat="globalFile in globalFiles track by $index">
                        <!--<a href="" ng-click="open(globalFile)">test</a>-->
                        <div class="col-xs-4 text-left">{{globalFile.name}}
                        </div>
                        <div class="col-xs-8 floatR">
                            <img ngf-src="globalFile" ng-show="globalFile" ngf-thumbnail="globalFile" class="thumb">
                            <a href="" class="boxclose" ng-click="deleteNewFile(globalFile.result.data._id,$index)"
                               ng-show="globalFile"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-bold">Content Writing</h3>

            <p>Please provide information about the Content Writing services you offer</p>

            <div class="form-group">
                <md-input-container class="selectTerm">
                    <label>Industry Expertise (select top 5)</label>
                    <md-select ng-model="freelancer.industry_expertise" md-on-close="clearSearchTerm()"
                               data-md-container-class="selectdemoSelectHeader" multiple>
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm" type="search" placeholder="Search for a cities.."
                                   class="demo-header-searchbox _md-text">
                        </md-select-header>
                        <md-optgroup label="locations">
                            <md-option ng-value="item" ng-repeat="item in industry | filter:$select.search ">
                                {{item}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>


            </div>

            <div class="form-group">

                <md-input-container class="selectTerm">
                    <label>Content Type</label>
                    <md-select ng-model="freelancer.content_type" md-on-close="clearSearchTerm()"
                               data-md-container-class="selectdemoSelectHeader" multiple="">
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm" type="search" placeholder="Search for a cities.."
                                   class="demo-header-searchbox _md-text">
                        </md-select-header>
                        <md-optgroup label="locations">
                            <md-option ng-value="item" ng-repeat="item in content | filter:$select.search ">
                                {{item}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>


            </div>

            <div class="form-group">
                <md-input-container class="selectTerm">
                    <label>Languages in which you write</label>
                    <md-select ng-model="freelancer.languages" md-on-close="clearSearchTerm()"
                               data-md-container-class="selectdemoSelectHeader" multiple="">
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm" type="search" placeholder="Search for a cities.."
                                   class="demo-header-searchbox _md-text">
                        </md-select-header>
                        <md-optgroup label="locations">
                            <md-option ng-value="item" ng-repeat="item in language | filter:$select.search">
                                {{item}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>

            </div>

            <div class="form-group">
                <div>Please specify pricing for your services</div>
                <div class="row">
                    <div class="col-xs-3 paddingT20">
                        <md-checkbox ng-click="priceHour=false;service=false;freelancer.price.hour=[]"
                                     ng-model="priceWord"
                                     class="md-warn">Rs. Per word
                        </md-checkbox>
                        <!---->
                        <!--<input type="checkbox" ng-click="priceHour=false;service=false;freelancer.price.hour=[]"-->
                        <!--ng-model="priceWord"> Rs. Per word-->
                    </div>
                    <div class="col-xs-9">
                        <!--<input class='form-control' numbers-only ng-disabled="!priceWord"-->
                        <!--ng-model="freelancer.price.word">-->

                        <md-input-container class="md-block">
                            <input class='form-control' numbers-only ng-disabled="!priceWord"
                                   ng-model="freelancer.price.word">

                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 paddingT20">


                        <md-checkbox ng-click="priceWord=false;service=false;freelancer.price.word = []"
                                     ng-model="priceHour"
                                     class="md-warn">Rs. Per word
                        </md-checkbox>
                    </div>
                    <div class="col-xs-9">

                        <md-input-container class="md-block">
                            <input class='form-control' numbers-only ng-disabled="!priceHour"
                                   ng-model="freelancer.price.hour">

                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <md-checkbox ng-click="priceHour=false;priceWord=false;freelancer.price=[]"
                                     ng-model="addService" class="md-warn">
                            <span>Packaged Services(?)</span>
                        </md-checkbox>
                    </div>
                    <div class="col-xs-8">
                        <a class="pointer"
                           ng-click="priceHour=false; priceWord=false; freelancer.price=[]; addService=true; addPackage(addService)">Create
                            Packages</a>
                    </div>
                </div>
                <div class="row" ng-if="freelancer.service_packages.length">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>Title</td>
                            <td>Price</td>
                            <td>close</td>
                        </tr>
                        <tr ng-repeat="elem in new_services">
                            <td>{{elem.title}}</td>
                            <td>{{elem.pricing}}</td>
                            <td><i class="fa fa-times" aria-hidden="true" ng-click="delete_package(elem)"></i></td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="text-bold">Contact Details</h3>

            <p>Please provide contact details at which marketers can contact you</p>

            <div class="form-group"
                 ng-class="{'has-error': submitted && freelancerRegistration.contact_name.$invalid}">

                <md-input-container class="md-block">
                    <label>Contact Person Name</label>
                    <input class='form-control' name="contact_name" ng-model="freelancer.contact.name" required>

                    <p class="error" ng-if="freelancerRegistration.contact_name.$error.required">Contact Person Name
                        is
                        required</p>
                </md-input-container>

                <!--<div>Contact Person Name</div>-->
                <!--<input class='form-control' name="contact_name" ng-model="freelancer.contact.name" required>-->

                <!--<p class="error" ng-if="freelancerRegistration.contact_name.$error.required">Contact Person Name is-->
                <!--required</p>-->
            </div>
            <div class="form-group"
                 ng-class="{'has-error': submitted && freelancerRegistration.contact_email.$invalid}">
                <md-input-container class="md-block">
                    <label>Email ID at which marketers can contact you</label>
                    <input class='form-control' name="contact_email" ng-model="freelancer.contact.email" required
                           ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>

                    <p class="error" ng-if="freelancerRegistration.contact_email.$error.required">Email ID is
                        required</p>

                    <p class="error" ng-if="freelancerRegistration.contact_email.$error.pattern">Email ID is
                        invalid</p>

                </md-input-container>
                <!--<div>Email ID at which marketers can contact you</div>-->
                <!--<input class='form-control' name="contact_email" ng-model="freelancer.contact.email" required-->
                <!--ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>-->

                <!--<p class="error" ng-if="freelancerRegistration.contact_email.$error.required">Email ID is-->
                <!--required</p>-->

                <!--<p class="error" ng-if="freelancerRegistration.contact_email.$error.pattern">Email ID is invalid</p>-->
            </div>
            <div class="form-group"
                 ng-class="{'has-error': submitted && freelancerRegistration.contact_mobile.$invalid}">

                <md-input-container class="md-block">
                    <label>Mobile Number to send the contact request (will not be displayed)</label>
                    <input class='form-control' phone-number name="contact_mobile"
                           ng-model="freelancer.contact.mobile"
                           required>

                    <p class="error" ng-if="freelancerRegistration.contact_mobile.$error.required">Mobile Number is
                        required</p>

                </md-input-container>


            </div>
            <div class="form-group">
                <div>Upload Profile Image <a class="pointer floatR" ng-click="downloadPicProfile()">Attach Files</a>
                </div>
            </div>
            <div class="row ">
                <!--<a href="" ng-click="open(globalFile)">test</a>-->

            </div>
            <div class="col-xs-12 floatL">
                <img ngf-src="globalImg[1]" ng-show="globalImg[1]" ngf-thumbnail="globalImg[0]" class="thumbImg">
                <a href="" class="boxclose" ng-click="deleteNewImg(globalImg[0].data._id)"
                   ng-show="globalImg.length"></a>
            </div>
        </div>

    </div>

    <div class="row paddingB20">
        <div class="col-md-12">
            <button class="btn btn-default"
                    ng-click="register(freelancerRegistration.$invalid,freelancer,globalFiles,globalImg); submitted=true">Submit
            </button>
            <a href="/#/home" class="btn btn-back floatR">Cancel</a>
        </div>
    </div>
</div>