<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 ng-if="!isApply" class="modal-title">Apply for Job</h4>
                <h4 ng-if="isApply" class="modal-title">Edit your apply info</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" ng-model="text" rows="12" placeholder="Provide a short introduction of you or your skills"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(text)" class="btn btn-default" data-dismiss="modal">Apply</button>
                <button type="button" class="btn background-orange text-white" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>