<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 ng-if="!isApply" class="modal-title">Apply for Job</h4>
                <h4 ng-if="isApply" class="modal-title">Edit your apply info</h4>
            </div>
            <div class="modal-body">
                <small>Why do you fit for the job?</small>
                <textarea class="form-control" ng-model="text" rows=12 placeholder="Provide a short introduction of you or your skills"></textarea>
                <small>For which budget you are ready to have done the job?</small>
                <input class="form-control" ng-model="price" placeholder="Provide the minimal amount" />
                <small>Within which period you are ready to have done the job?</small>
                {{time}}
                <select ng-options="item for item in [1,2,3] track by $index" ng-model="time"></select>

                <select name="singleSelect" id="singleSelect" ng-model="time" ng-init="arr=[1,2,3]; time=arr[0]">
                    <option ng-repeat="item in arr" value="{{item}}">{{item}}</option> <!-- interpolation -->
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="onSendApply(text, isApply ? 'put' : 'post')" class="btn btn-my">{{isApply ? 'Edit the apply': 'Send the apply'}}</button>
                <button type="button" class="btn btn-my" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>