<div class="modal fade">
    <div class="modal-dialog auth-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h4 class="text-center">I'm already Registered</h4>
                        <form name="loginForm" class="loginForm" shake-that novalidate>
                            <div class="form-group" ng-class="{'has-error': submittedLogin && loginForm.login.$invalid}">
                                <input class="form-control" ng-click="startInput()" name="login" placeholder="Login" ng-model="loginObj.login" required>
                                <p class="error" ng-if="loginForm.login.$error.required">Login is required</p>
                            </div>

                            <div class="form-group" ng-class="{'has-error': submittedLogin && loginForm.password.$invalid}">
                                <input class="form-control" name="password" ng-click="startInput()" type="password"
                                       ng-model="loginObj.password"
                                       placeholder="password"
                                       required>
                                <p class="error" ng-if="loginForm.password.$error.required">Password is required</p>
                            </div>

                            <div class="form-group ">
                                <div class="text-center">
                                    <div class="full-width text-center">
                                        <a href="" ng-click="go('/forgot/email')" style="text-decoration: underline">Forgot your password?</a>
                                        <p class="error-login" ng-if="loginError">{{loginError}}</p>
                                    </div>
                                    <md-button class="md-raised login-btn" ng-click="submittedLogin=true;signin(loginForm.$invalid, loginObj)">
                                        Log In
                                    </md-button>

                                </div>
                                <br/>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h4 class="text-center">I'm New</h4>
                        <form name="signupForm" class="signupForm" shake-that submitted="submittedSignup" submit="submitSignup()" novalidate>
                            <div class="form-group" ng-class="{'has-error': submittedSignup && signupForm.first_name.$invalid}">
                                <input class="form-control" name="first_name" ng-model="signupObj.first_name" placeholder="First Name" required>
                                <p class="error" ng-if="signupForm.first_name.$error.required">First Name is required</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error': submittedSignup && signupForm.last_name.$invalid}">
                                <input class="form-control" name="last_name" ng-model="signupObj.last_name" placeholder="Last Name" required>
                                <p class="error" ng-if="signupForm.last_name.$error.required">Last Name is required</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error': submittedSignup && signupForm.email.$invalid}">
                                <input class="form-control" name="email" type="email" ng-model="signupObj.email"
                                       ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                                       placeholder="email"
                                       unique-email required>
                                <p class="error" ng-if="signupForm.email.$error.unique">Email already is taken</p>
                                <p class="error" style="display: {{emailError}}" >{{loginError}}</p>
                                <p class="error" ng-if="signupForm.email.$error.required">Email is required</p>
                                <p class="error" ng-if="!signupForm.email.$error.unique && signupForm.email.$error.pattern">Email is invalid</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error': submittedSignup && signupForm.password.$invalid}">
                                <input class="form-control" name="password" type="password" ng-model="signupObj.password" placeholder="password" required>
                                <p class="error" ng-if="signupForm.password.$error.required">Password is required</p>
                            </div>
                            <div class="form-group ">
                                <div class="text-center">
                                    <md-button class="md-raised signup-btn" ng-click="submittedSignup=true;signup(signupForm.$invalid, signupObj)">
                                        Sign Up
                                    </md-button>
                                </div>
                                <br/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>