<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">This is the first sign in as a Seller. You can change password or press 'Continue' and save curen password</h4>
            </div>
            <form name="_password" novalidate>

                <div class="modal-body">
                    <div class="row  background-white">
                        <div class="col-xs-offset-1 col-xs-10">
                            <div class="form-group" ng-class="{'has-error': submittedPwd && (_password.old.$invalid || wrongPassword)}">
                                <md-input-container class="md-block">
                                    <label>Old password</label>
                                    <input type="password" class="form-control" name="old" ng-model="password.oldPassword" required>


                                    <div ng-messages="submittedPwd && _password.old.$invalid" ng-class="{'md-auto-hide': !submittedPwd}">
                                        <div ng-show="submittedPwd && _password.old.$error.required" ng-message="required">Old password is required</div>
                                        <div ng-if="wrongPassword">Wrong password</div>
                                    </div>

                                    <!--<p class="error" ng-if="_password.old.$error.required">Old password is required</p>-->
                                    <!--<p class="error" ng-if="wrongPassword">Wrong password</p>-->
                                </md-input-container>
                            </div>

                            <div class="form-group" ng-class="{'has-error': submittedPwd && (_password.new.$invalid || failPassword)}">
                                <md-input-container class="md-block">
                                    <label>New password</label>
                                    <input type="password" class="form-control" name="new" ng-model="password.newPassword" required>

                                    <div ng-messages="submittedPwd && _password.new.$invalid" ng-class="{'md-auto-hide': !submittedPwd}">
                                        <div ng-show="submittedPwd && _password.new.$error.required" ng-message="required">New password is required</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div class="form-group" ng-class="{'has-error': submittedPwd && (_password.confirm.$invalid || failPassword) }">
                                <md-input-container class="md-block">
                                    <label>Confirm new password</label>
                                    <input type="password" class="form-control" name="confirm" ng-model="password.confirm_password" required equals="{{password.newPassword}}">

                                    <div ng-messages="submittedPwd && _password.confirm.$invalid" ng-class="{'md-auto-hide': !submittedPwd}">
                                        <div ng-show="submittedPwd && _password.confirm.$error.required" ng-message="required">Confirm new password is required</div>
                                        <div ng-show="submittedPwd && _password.confirm.$error.equals" ng-message="equals">Passwords do not match</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="btn job-button text-white" ng-click="changePass(_password.$invalid, password);submittedPwd=true">Change</button>
                        <button class="btn job-button text-white" ng-click="continue()">Continue</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>