<div class="modal fade">
    <div class="modal-dialog" style="margin-top: 10%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <button class="btn btn-default full-width" ng-click="close({name: 'root.job_create', params: {}})">POST A JOB</button>
                    </div>
                    <div class="col-md-2">OR</div>
                    <div class="col-md-5">
                        <button class="btn btn-default full-width" ng-click="close({name: 'categories', params: {service_providers: item}})">VIEW SERVICE PROVIDERS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
