<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title_header}}123</h4>
            </div>
            <div class="modal-body">
                <p>Are you want continue?</p>
            </div>
            <div class="modal-footer">
                <a href="#/jobs" data-dismiss="modal" >12312</a>
                <button type="button" ng-click="close(true)" class="btn btn-my" data-dismiss="modal">Go To Home</button>
            </div>
        </div>
    </div>
</div>