<div class="row">
    <div class="col-xs-12">
        <h1 class="title3">{{header}}</h1>
        <div class="job-items">
            <div class="lloading hid-loading" ng-class="{'hid-loading': !showLoading}">
                <!--<loading w="45" margin-top="100"></loading>-->
            </div>
            <div class="job-head">
                <div class="row nomarginxs">
                    <div class="row">
                        <div ng-include="templateHeader"></div>
                    </div>
                </div>
            </div>
            <div class="jobs-list items">

                <div class="row" ng-repeat="item in items">
                    <div ng-include="templateItem" class="row nomarginxs fitems"></div>
                </div>
                <div ng-if="!items.length && !showLoading" class="row">
                    <div class="row nomarginxs fitems emptyjobs">
                        There is no jobs with that params
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div ng-if="TotalItems> 12" class="pull-right">
            <div custom-pagination="configPagination" cb="cb(currentPage)"></div>

            <!--<custom-pagination items-per-page="limit" total-items="TotalItems" ng-change="changePage(currentPage)" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPage"></custom-pagination>-->
        </div>
    </div>
</div>