<div class="row">
    <div class="col-sm-3">
        <div class="job-nav">
            <div>
                <input class="job-search" placeholder="Search type"/>
                <div class="sub-title">
                    By status
                </div>
                <div class="sub-select">
                    <selector items="['Open', 'Ongoing', 'Canceled']" class-name="'nav'"></selector>
                </div>
                <div class="sub-title">
                    View jobs as
                </div>
                <div class="sub-select">
                    <selector items="['Buyer', 'Seller']" value="Seller" class-name="'nav'"></selector>
                </div>
                <a href="#/jobs">all</a>
                <div></div>
                <b>Buyer</b>
                <a href="/#/jobs/buyer/my">My</a>
                <a href="/#/jobs/buyer/open">Open</a>
                <a href="/#/jobs/buyer/ongoing">Ongoing</a>
                <a href="/#/jobs/buyer/closed">Closed</a>
                <div></div>
                <b>Seller</b>

                <a href="/#/jobs/seller/open">Open</a>
                <a href="/#/jobs/seller/ongoing">Ongoing</a>
                <a href="/#/jobs/seller/closed">Closed</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title3">{{header}}</h1>
                <div class="job-items">
                    <div class="job-head">
                        <div class="row nomarginxs">
                            <div class="row">
                                <div ng-include="templateHeader"></div>
                            </div>
                        </div>
                    </div>
                    <div class="jobs-list items">
                        <div class="lloading hid-loading" ng-class="{'hid-loading': !showLoading}">
                            <loading w="45" margin-top="100"></loading>
                        </div>
                        <div class="row" ng-repeat="item in items">
                            <div ng-include="templateItem" class="row nomarginxs fitems"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="pull-right">
                    <uib-pagination items-per-page="limit" total-items="TotalItems" ng-change="changePage(currentPage)" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPage"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>