<div class="row">
    <div class="col-xs-12">
        <h1 ng-if="header != 'All jobs'" class="title3">{{header}}</h1>
        <div ng-if="header == 'All jobs'">
            <div class="title3 inline-block"> SORT BY</div>
            <div style="color:#72717D;font-size: 16px;padding: 0 20px;" class="inline-block pointer" ng-click="changeSort('-created_at');active='Relevant'">Most Relevant <span style="padding-left: 5px" class="fa fa-chevron-down"
                                                                                                                                                                                ng-class="{'text-red':active == 'Relevant'}"></span></div>
            <div style="color:#72717D;font-size: 16px;padding-right: 20px;" class="inline-block pointer" ng-click="changeSort('budget');active='Low'">Price Low To High <span style="padding-left: 5px" class="fa fa-long-arrow-up"
                                                                                                                                                                              ng-class="{'text-red':active == 'Low'}"></span></div>
            <div style="color:#72717D;font-size: 16px" class="inline-block pointer" ng-click="changeSort('-budget');active='High'">Price High to Low <span style="padding-left: 5px" class="fa fa-long-arrow-down"
                                                                                                                                                           ng-class="{'text-red':active == 'High'}"></span></div>
        </div>
        <div class="job-items">

            <div class="lloading hid-loading" ng-class="{'hid-loading': !showLoading}">
                <!--<loading w="45" margin-top="100"></loading>-->
            </div>
            <div class="job-head">
                <div class="row nomarginxs">
                    <div class="row">
                        <div ng-include="templateHeader" style="text-transform: capitalize;"></div>
                    </div>
                </div>
            </div>
            <div class="jobs-list items">
                <div style="padding-bottom: 1px;" ng-if="showLoading">
                    <loading w="20" h="20" margin-top="20" margin-bottom="20"></loading>
                </div>
                <div class="row" ng-repeat="item in items | orderBy: sortBy">
                    <div ng-if="(item.admin_approved == 1)||(item.job.admin_approved == 1)" ng-include="templateItem" class="row nomarginxs fitems"></div>
                </div>
                <div ng-if="!items.length && !showLoading" class="row">
                    <div class="row nomarginxs fitems emptyjobs">
                        {{nf || 'There is no jobs with that params'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div ng-if="TotalItems> 12" class="pull-right">
            <div custom-pagination="configPagination" cb="cb(currentPage)"></div>
            <!--<custom-pagination items-per-page="limit" total-items="TotalItems" ng-change="changePage(currentPage)" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPage"></custom-pagination>-->
        </div>
    </div>
</div>