<div class="way container">
    <div ncy-breadcrumb></div>
</div>

<div class="container job">
    <div class="row">
        <div class="col-sm-3" ng-if="$state.current.name == 'jobs_list.all'">
            <div class="job-nav">
                <div>
                    <div>
                        <input class="job-search" ng-model="searchJob" ng-keyup="searchText(searchJob)" placeholder="Keywords"/>

                        <div class="sub-title">
                            Category
                        </div>

                        <md-input-container class="full-width" style="margin: 0">
                            <label> </label>
                            <md-select aria-label="none" ng-model="job.category" md-on-close="selectItem(job.category, 'category', true, value)" data-md-container-class="selectdemoSelectHeader">
                                <md-option value="" ng-selected="true">
                                    All categories
                                </md-option>
                                <md-option ng-repeat="item in categories | filter:search.category" value="{{item}}">
                                    {{item}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div class="sub-title" ng-if="isSub">
                            Sub Category
                        </div>
                        <div class="sub-select" ng-if="isSub">
                            <md-input-container class="full-width" style="margin: 0">
                                <label> </label>
                                <md-select ng-model="job.subcategory" md-on-close="selectItem(job.subcategory, 'sub_category', false)" data-md-container-class="selectdemoSelectHeader">
                                    <md-option value="" ng-selected="true">
                                       All subcategories
                                    </md-option>
                                    <md-option ng-repeat="item in subFilters | filter:search.subcategory" value="{{item}}">
                                        {{item}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div class="sub-title">
                            Location
                        </div>
                        <div class="sub-select">
                            <md-input-container class="selectTerm" >
                                <md-select aria-label="hidden" ng-model="job.location" name="cities" md-on-close="selectItem(job.location, 'location', false)">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchTerm" ng-keydown="onSearchChange($event)" placeholder="Search for a locations.." class="search-select _md-text">
                                    </md-select-header>
                                    <md-option value="" ng-selected="true">
                                        All locations
                                    </md-option>
                                    <md-option ng-value="item" ng-repeat="item in locations | filter:searchTerm ">
                                        {{item}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div class="sub-title">
                            Budget
                        </div>
                        <div class="sub-select">
                            <rzslider rz-slider-model="slider.minValue"
                                      rz-slider-high="slider.maxValue"
                                      rz-slider-options="slider.options"></rzslider>
                        </div>
                    </div>

                    <!--<div class="sub-title" ng-if="asView">-->
                    <!--By status-->
                    <!--</div>-->
                    <!--<div class="sub-select" ng-if="asView">-->
                    <!--<selector type="'job_type'" items="['Open', 'Ongoing', 'Closed']" class-name="'nav'" value="{{info.job_type}}"></selector>-->
                    <!--</div>-->
                    <!--<div class="sub-title" ng-if="asView">-->
                    <!--View project as-->
                    <!--</div>-->
                    <!--<div class="sub-select" ng-if="asView">-->
                    <!--<selector type="'user_type'" items="['Buyer', 'Seller']" value="{{info.user_type}}" class-name="'nav'"></selector>-->
                    <!--</div>-->
                    <!--<b>Buyer</b>-->
                    <!--<a ui-sref="jobs_list.buyer_open">Open</a>-->
                    <!--<a ui-sref="jobs_list.buyer_ongoing">Ongoing</a>-->
                    <!--<a ui-sref="jobs_list.buyer_closed">Closed</a>-->
                    <!--<div></div>-->
                    <!--<b>Seller</b>-->

                    <!--<a ui-sref="jobs_list.seller_open">Open</a>-->
                    <!--<a ui-sref="jobs_list.seller_ongoing">Ongoing</a>-->
                    <!--<a ui-sref="jobs_list.seller_closed">Closed</a>-->
                </div>
            </div>
        </div>
        <div ng-class="{'col-sm-12':$state.current.name != 'jobs_list.all', 'col-sm-9':$state.current.name == 'jobs_list.all' }">
            <ui-view></ui-view>
        </div>
    </div>
</div>