<div class="content">
    <div>
        <div class="users-block">
            <div class="row">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td ng-repeat="(key, value) in agency[0].data">{{key}}</td>
                        <td>Information</td>
                    </tr>
                    <tr ng-repeat="item in agency">
                        <td ng-repeat="(key,value) in item.data"><a class="pointer" ng-if="key=='Agency Name'"
                                                                    ng-click="showModal(true, item)">{{value}}</a><span
                                ng-if="key!='Agency Name'">{{value}}</span></td>
                        <td ng-if="!item.admin_approved">
                            <button class="btn btn-default" ng-click="showModal(true, item)">
                                Show
                            </button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>