#loading-bar .bar {
    background: #ff0c05;
}

#loading-bar .peg {
    -webkit-box-shadow: #ff0c05 1px 0 6px 1px;
    -moz-box-shadow: #ff0c05 1px 0 6px 1px;
    -ms-box-shadow: #ff0c05 1px 0 6px 1px;
    box-shadow: #ff0c05 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon{
    border-top-color: #ff0c05;
    border-left-color: #ff0c05;
}
.st-sort-default:before {content: '\25B1'}
.st-sort-ascent:before {content: '\25B2'}
.st-sort-descent:before {content: '\25BC'}

.active-tab{
    background-color: #49596f;
}
.text-black, .text-black:hover {
    color:#333;
}

.transparent {
    color: transparent;
}

.input-block {
    display: inline-block;
    width: 40%;
    padding-left: 15px;
    margin-bottom: 20px;
}

.input-custom {
    border: 0px;
    border-bottom: 1px solid lightgray !important;
    border-radius: 0;
}

.title3 {
    text-transform: uppercase;
    color: #333945;
    /*font-weight: 500;*/
    font-size: 15px;
    padding-top: 0;
    margin-top: 0;
    letter-spacing: .8px;
    padding-bottom: 15px;
}

.full-width {
    width: 100%;
}
.show {
    color: #333;
}

.outline-none {
    outline: none !important;
}

.fake-icon {
    padding-right: 6px;
}

.hasError textarea{
    border: 1px solid red;
}

.rejecting-row td{
    background: rgb(219, 164, 164) !important;
    color: white;
    font-weight: bold;
}

.alert-error {
    border: #e62a2e;
    background-color: #e62a2e;
    color: white;
}

.black {
    color:#333;
}
.red {
    color:#e62a2e;
}

.ui-block {
    border: 1px solid whitesmoke;
    padding: 20px;
    padding-top: 0px;
    border-radius: 5px;
    border-top: 5px solid #4B8DBA;
    background: white;
}

.inline-block {
    display: inline-block !important;
}

.agency-type {
    display: inline-block;
    background: #EA9F34;
    padding: 0px 10px 3px;
    border-radius: 3px;
    color: white;
}

.freelancer-type {
    display: inline-block;
    background: #49BEEC;
    padding: 0px 10px 3px;
    border-radius: 3px;
    color: white;
}