#loading-bar .bar {
    background: #ff0c05;
}

#loading-bar .peg {
    -webkit-box-shadow: #ff0c05 1px 0 6px 1px;
    -moz-box-shadow: #ff0c05 1px 0 6px 1px;
    -ms-box-shadow: #ff0c05 1px 0 6px 1px;
    box-shadow: #ff0c05 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon{
    border-top-color: #ff0c05;
    border-left-color: #ff0c05;
}
.st-sort-default:before {content: '\25B1'}
.st-sort-ascent:before {content: '\25B2'}
.st-sort-descent:before {content: '\25BC'}