md-checkbox .md-ink-ripple{
    color: rgb(51, 57, 69) !important;
}

md-checkbox.md-checked .md-icon{
    background-color: rgb(51, 57, 69) !important;
}

.flex.menu {
    height: 33px;
}

#primary_nav_wrap
{
    margin-top: 6px;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-size:16px;
    font-weight: 100;
    line-height:35px;
    padding:0 15px;
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0
}

.flex.menu li.active > a {
    color: #EA2B29 !important;
    border-bottom: 2px solid #EA2B29;
}

.top-menu
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    max-width: 200px;
}

.top-sub-menu {
    display: inline-block;
    position: relative;
}

.top-sub-sub-menu {
    position: absolute;
}

.top-sub-ul {
    position: relative !important;
}


#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap > ul > li:hover > div > ul
{
    display: block
}

.top-sub-menu:hover > .top-sub-sub-menu {
    display: block !important;
}

/*#primary_nav_wrap ul li:hover  > ul*/
/*{*/
    /*display: block*/
/*}*/

.flexMenu-popup > .top-menu:hover > div > ul
{
    display: block !important;
}

.paddingL20 {
    padding-left: 20px;
}

.md-button{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

md-input-container.md-input-focused .md-input, md-input-container .md-input.ng-invalid.ng-dirty{
    border-width: 0 0 1px 0 !important;
    border-bottom: 1px solid #e53d32
}

md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input{
    border-color: lightgray;
}

.form-group{
    margin-top: 25px;
    margin-botom: 25px;
}

.md-input-focused.md-input-invalid label{
   color: lightgrey !important;
}

.md-autocomplete-suggestions li{
    color: rgb(51, 57, 69) !important;
}

.md-autocomplete-suggestions li .highlight{
    color: black !important;
}

