.block-center {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.registration-module {
    width: 400px;
    margin: 0 auto;
    margin-top: 5%;
    background: #f0f1f3;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.delete-modal-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 98;
    background: rgba(0, 0, 0, 0.75);
}

.login-form {
    width: 250px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5%;
}

.restore-form {
    width: 20%;
    margin: 0 auto;
    margin-top: 10%
}

.top-home {
    background: #85A0C0;
}

.back-service-provider {
    background: #F2F2F2;
}

.padding20 {
    padding: 20px 0px;
}

.padding10 {
    padding: 10px 0px;
}

.padding7 {
    padding: 7px;
}

.paddingLR20 {
    padding: 0px 20px;
}

.paddingR20 {
    padding-right: 20px;
}

.paddingL10 {
    padding-left: 10px;
}

.paddingB20 {
    padding-bottom: 20px;
}

.paddingB10 {
    padding-bottom: 10px;
}

.marginLR20 {
    margin: 10px 1px;
}

.marginR10 {
    margin-right: 10%;
}

.marginTB20 {
    margin: 20px 0px;
}

.marginT20 {
    margin-top: 20px;
}

.marginB30 {
    margin-bottom: 30px;
}

.width20 {
    width: 20%;
}

.width35 {
    width: 34%;
}

.width75 {
    width: 75%;
}

.width100 {
    width: 100%;
}

.floatR {
    float: right;
}

.border-box {
    border: 1px solid black;
}

.service-provider {
    background: white;
    border: 1px solid #456791;
    width: calc(100% / 2 - 20px);
    height: 80px;
    display: inline-block;
    float: left;
    margin: 15px 10px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 8pt;
    font-weight: bold;
}

@media (min-width: 768px) {
    .service-provider {
        font-size: 9pt;
    }

}

@media (min-width: 992px) {
    .service-provider {
        font-size: 10pt;
        width: calc(100% / 5 - 20px);
    }

}

.pointer {
    cursor: pointer;
}

.nopadding {
    padding: 0px !important;
}

.inlineBlock {
    display: inline-block;
}

.relative {
    position: relative;
}

.text-bold {
    font-weight: bold;
}

.text-bolder {
    font-weight: bolder;
}

.grey-text {
    color: #a9a9a9;
}

.text-white, .text-white:hover, .text-white:focus {
    color: #ffffff;
}

.border-blue {
    border: 2px solid #3D628D;
}

.border-grey {
    border: 1px solid #F1F1F1;
}

.btn-registration {
    padding: 5px 20px;
}

.job-item {
    margin: 10px 0px;
}

.agency-item {
    margin: 10px -2px;
}

.button-home-register {
    margin-top: 20px;
    margin-bottom: 20px;
}

.background-orange {
    background: #E46C0A;
}

.background-grey {
    background: #D9D9D9;
}

.background-black {
    background: #404040;
}

.background-white {
    background: white
}

.background-primary {
    background: #00B0F0;
}

.background-lime {
    background: #C3D69B;
}

.rating-star {
    width: 20%;
}

.profile-poster {
    width: 100%;
    height: 75%;
    border: 1px solid transparent;
}

.profile {
    width: 150px;
    height: 230px;
    border: 1px solid #CECECE;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.block-popularity {
    width: 22%;
    height: 15px;
    margin: 0px 1px;
    display: inline-block;
}

.btn-search {
    margin-top: 0px;
}

.agency-text {
    text-align: right;
}

@media (max-width: 768px) {
    .profile {
        width: 115px;
        height: 170px;
        padding: 5px;
        font-size: 8pt;
    }

    .block-popularity {
        height: 10px;
    }
}

@media (max-width: 990px) {
    .agency-text {
        text-align: left;
    }

    .btn-search {
        margin-top: 20px;
    }
}

.green-popularity {
    background: #008000;
}

.lime-popularity {
    background: greenyellow;
}

.body {
    height: 100%;
}

.form-group p.error {
    display: none;
}

.has-error input {
    border: 1px solid #a94442;
}

.has-error p.error {
    color: #a94442;
    display: block;
    position: relative;
    font-size: 12px;
}

.full-width {
    width: 100%;
}

.success-text {
    color: #279B61;
}

.error-text {
    color: #993333;
}

.createPackage {
    width: 400px;
    margin: auto;
    padding: 30px;
    background: white;
    margin-top: 10%;
}

.user-search {
    background: transparent;
    width: 60%;
    margin: auto;
    margin-top: 6%;
    position: relative;
}

.user-logo {
    width: 40%;
    height: 75%;
}

.user-view-more {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
}

.user-service {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-topic {
    border-radius: 5px;
    height: 200px;
    position: relative;
    z-index: 99;
    overflow: hidden;
}

.user-topic-top {
    height: 30px;
    background: whitesmoke;
    position: absolute;
    top:0;
    z-index: 99;
    padding: 10px;
    padding-top: 5px;
}

.user-topic-bottom {
    margin-top: 28px;
    height: 160px;
    overflow: auto;
    width: 106%;
    padding-left: 10px;
}

.user-topic-input {
    border: 0px;
    box-shadow: none;
    border-bottom: 1px solid;
    border-radius: 0px;
    margin-bottom: 10px;
}

.user-search-icon {
    font-size: 17px;
    padding: 8px;
}

.user-block {
    border-radius: 4px;
}

.user-block-top {
    padding: 10px;
    background: #D9D9D9;
}

.user-block-bottom {
    padding: 10px;
}