html {
    overflow-y: scroll;
}
body {
    background-color: #F0F1F3;
}

.block-center {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.registration-module {
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.delete-modal-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 98;
    background: rgba(0, 0, 0, 0.75);
}

.modal-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 98;
}

.modal-block-body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 98;
    height: 200px;
    width: 50%;
    text-align: center;
}

.login-form {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 5%;
}

.restore-form {
    width: 402px;
    height: 80px;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%

}

.restore-form a {
    padding: 0 10px 10px 10px;
    position: relative;
    text-align: center;
}

.emailInput {
    padding: 10px 10px 0 10px;
}

.common-style-form {
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px 20px 5px 20px;
    background-color: white;

}

.error {
    color: #ff0000;
    text-align: center;
}

.form-group button {
    margin-top: 5px;
}

.form-background {
    background-color: white;
}
.button-work{
text-align: center
}

.top-home {
    position: absolute;
    width: 100%;
    left: 0;
    /*margin: 10px 0 10px 0;*/
    padding: 10px 0 10px 0;
    background:white;
}
.top-home input.form-control{
    width:40%;
}
.home-page .btn-default{
    color:#f7961d;
    border-color:#f7961d;

}
.home-page .btn-default:hover{
    color:white;
    background-color: #f7961d;
    border-color:white;
}

div.top-home div.text-right{
    padding-top: 8px;
}

div.text-padding{
    padding-bottom: 20px;
}
.communitySP{
    background-color: #FFFFFF;
}

.back-service-provider {
    margin: 50px 0 20px 0 ;

    background: #F2F2F2;
}

.padding20 {
    padding: 20px 0px;
}

.padding10 {
    padding: 10px 0px;
}

.padding7 {
    padding: 7px;
}

.paddingLR20 {
    padding: 0px 20px;
}

.paddingLR40 {
    padding: 0px 40px;
}

.paddingR20 {
    padding-right: 20px;
}

.paddingL10 {
    padding-left: 10px;
}

.paddingB20 {
    padding-bottom: 20px;
}

.paddingB10 {
    padding-bottom: 10px;
}

.marginLR20 {
    margin: 10px 1px;
}

.marginR10 {
    margin-right: 10%;
}

.marginTB20 {
    margin: 20px 0px;
}

.marginT20 {
    margin-top: 20px;
}

.marginB30 {
    margin-bottom: 30px;
}

.width20 {
    width: 20%;
}

.width35 {
    width: 34%;
}

.width45 {
    width: 45%;
}

.width75 {
    width: 75%;
}

.width80 {
    width: 80%;
}

.width100 {
    width: 100%;
}

.floatR {
    float: right;
}

.floatL {
    float: left;
}

.border-box {
    border: 1px solid black;
}

.service-provider {
    background: white;
    border: 1px solid #d8e6f3;
    border-radius: 5px;
    width: calc(100% / 2 - 20px);
    height: 80px;
    display: inline-block;
    float: left;
    margin: 15px 10px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 8pt;
    font-weight: bold;
}

@media (min-width: 768px) {
    .service-provider {
        font-size: 9pt;
    }

}

@media (min-width: 992px) {
    .service-provider {
        font-size: 10pt;
        width: calc(100% / 5 - 20px);
    }

}

.pointer {
    cursor: pointer;
}

.nopadding {
    padding: 0px !important;
}

.inlineBlock {
    display: inline-block;
}

.relative {
    position: relative;
}

.text-bold {
    font-weight: bold;
}

.text-bolder {
    font-weight: bolder;
}

.grey-text {
    color: #a9a9a9;
}

.text-white, .text-white:hover, .text-white:focus {
    color: #ffffff;
}

.border-blue {
    border: 2px solid #3D628D;
}

.border-grey {
    border: 1px solid #F1F1F1;
}

.btn-registration {
    padding: 5px 20px;
}
div.block-job-item{
    margin-bottom: 10px ;
}
div.communitySP div.text-center{
    padding: 10px 0 0 0;
}
.block-job-item {
padding:10px 0 10px;
}

.agency-item {
    margin: 10px -2px;
}

.button-home-register {
    margin-top: 20px;
    margin-bottom: 20px;
}

.background-orange {
    background: #E46C0A;
}

.background-grey {
    background: #D9D9D9;
}

.background-black {
    background: #404040;
}

.background-white {
    background: white
}

.background-primary {
    background: #00B0F0;
}

.background-white {
    background: #DFDFDF;
}

.rating-star {
    width: 20%;
}

.profile-poster {
    width: 100%;
    height: 75%;
    border: 1px solid transparent;
    border-radius: 5px;
}

.profile {
    width: 150px;
    height: 230px;
    border: 1px solid #CECECE;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}

div.block-popularity {
    width: 22%;
    height: 15px;
    margin: 0px 1px;
    font-size: 20px;
    color: #f3db92;
    display: inline-block;
}

.btn-search {
    margin-top: 0px;
}

.agency-text {
    text-align: right;
}

@media (max-width: 768px) {
    .profile {
        width: 115px;
        height: 170px;
        padding: 5px;
        font-size: 8pt;
    }

    .block-popularity {
        height: 10px;
    }
}

@media (max-width: 990px) {
    .agency-text {
        text-align: left;
    }

    .btn-search {
        margin-top: 20px;
    }
}

.green-popularity {
    background: #008000;
}

.lime-popularity {
    background: greenyellow;
}

.body {
    height: 100%;
}

.form-group p.error {
    display: none;
}

.has-error input {
    border: 1px solid #a94442;
}

.has-error p.error {
    color: #a94442;
    display: block;
    position: relative;
    font-size: 12px;
}

.full-width {
    width: 100%;
}

.success-text {
    color: #279B61;
}

.error-text {
    color: #993333;
}

.createPackage {
    width: 400px;
    margin: auto;
    padding: 30px;
    background: white;
    margin-top: 10%;
}

.user-search {
    background: transparent;
    width: 60%;
    margin: 15% 0;
    position: relative;
}

@media (max-width: 992px){
    .user-search {
        margin: 0;
        margin-bottom: 5%;
    }
    .user-logo {
        margin: 0px 43%;
    }
}

.user-logo {
    max-height: 130px;
    max-width: 130px;
}

.user-view-more {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
}

.user-service {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-topic {
    border-radius: 5px;
    height: 200px;
    position: relative;
    overflow: hidden;
    transition: all 0.8s;
}

.user-topic.topic-close {
    height: 30px;
    transition: all 0.8s;
}

.user-topic-top {
    height: 30px;
    background: whitesmoke;
    position: absolute;
    top:0;
    z-index: 99;
    padding: 10px;
    padding-top: 5px;
}

.user-topic-bottom {
    margin-top: 28px;
    height: 160px;
    overflow: auto;
    width: 106%;
        padding-left: 10px;
}

.user-topic-input {
    border: 0px;
    box-shadow: none;
    border-bottom: 1px solid;
    border-radius: 0px;
    margin-bottom: 10px;
}

.user-search-icon {
    font-size: 17px;
    padding: 8px;
}

.user-block {
    border-radius: 4px;
}

.user-block-top {
    padding: 10px;
    background: #D9D9D9;
}

.user-block-bottom {
    padding: 10px;
}

.modal-block-button {
    position: relative;
    top: 40%;
    left: 4%;
}

.ui-select-container {
    min-height: 34px;
}
@media (max-width: 500px) {
    .modal-block-button > button {
        font-size: 9pt;
    }
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    12.5% {
        transform: translateX(-6px) rotateY(-5deg)
    }
    37.5% {
        transform: translateX(5px) rotateY(4deg)
    }
    62.5% {
        transform: translateX(-3px) rotateY(-2deg)
    }
    87.5% {
        transform: translateX(2px) rotateY(1deg)
    }
    100% {
        transform: translateX(0)
    }
}

.shake {
    animation: shake 400ms ease-in-out;
}