html {
    overflow-y: scroll;
}

.block-center {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.registration-module {
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.delete-modal-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 600;
    background: rgba(0, 0, 0, 0.75);
}

.modal-block {
    height: 80px;
    width: 500px;

}

.modal-block-attachFiles {
    height: 600px;
    widows: 500px;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 98%;
    height: 200px;
    text-align: center;
    padding-top: 3%;
    margin: 10px;
}

.dragover {
    border: 5px dashed blue;
}

.thumb {
    width: 60px;
    height: 50px;
    float: none;
    position: relative;
    top: 7px;
}

.thumbImg {
    width: 100px;
    height: 90px;
    float: none;
    position: relative;
    top: 7px;
}

a.boxclose {
    /* margin: 0 auto; */
    /* text-align: center; */
    /* float: right; */
    /* margin-top: -119px; */
    margin-right: 6px;
    cursor: pointer;
    color: #794747;
    /* border: 1px solid #AEAEAE; */
    /* border-radius: 30px; */
    /* background: #605F61; */
    /* font-size: 31px; */
    /* font-weight: bold; */
    display: inline-block;
    line-height: 10px;
    padding: 11px 3px;
    font-size: 23px;
    /* padding: 40px 30px 0 0; */
    position: absolute;
    /* top: 23%; */
    float: right;
}

a.boxclose:hover {

}

.boxclose:before {
    content: "×";

}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

div.Files {
    min-height: 70px;
}

.modal-block-body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 98;
    height: 200px;
    width: 50%;
    text-align: center;
}

.modal-block-change-password {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 98;
    height: 335px;
    width: 50%;
    text-align: center;
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.login-form {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 5%;
}

.restore-form {
    width: 402px;
    height: 80px;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%

}

.restore-form a {
    padding: 0 10px 10px 10px;
    position: relative;
    text-align: center;
}

.emailInput {
    padding: 10px 10px 0 10px;
}

.common-style-form {
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px 20px 5px 20px;
    background-color: white;

}

.claimAgencyPage {
    background-color: rgba(234, 234, 234, 0.48);
    padding: 10px 0 10px 20px;
}

.btn-default-2 {

}

.error {
    color: #ff0000;
    text-align: center;
}

.homePageLink {
    padding-top: 8px;
}

.form-group button {
    margin-top: 5px;
}

.form-background {
    background-color: white;
}

.button-work {
    text-align: center
}

.top-header {
    padding-bottom: 50px;
}

.top-home {
    position: fixed;
    width: 100%;
    left: 0;
    /*margin: 10px 0 10px 0;*/
    /*padding: 10px 0 10px 0;*/
    background: white;
    z-index: 500;
}

.btn-default, .btn-default:focus {
    color: #f7961d;
    border-color: #f7961d;
    background-color: white;
}

.btn-default:focus {
    outline: none;
}

.btn-default:hover {
    color: white;
    background-color: #f7961d;
    border-color: transparent;
}

.user-header {
    border: 3px solid whitesmoke;
    border-radius: 5px;
}

.btn-back {
    color: white;
    background-color: #f7961d;
}

.btn-back:hover {
    color: white;
    background-color: #ff9c1d;
}

.
div.row a.btn-back {
    float: right;
}

.logOut-btn {
    padding: 20px 0 0 0;
}

div.top-home div.text-right {
    padding-top: 8px;
}

div.text-padding {
    padding-bottom: 20px;
}

.communitySP {
    background-color: #DFDFDF;
}

.back-service-provider {
    /*margin: 90px 0 20px 0;*/

}

.trendingJobs {
    padding: 20px 5px 20px 5px;
    background-color: #F5F5F5;
    margin-top: 90px;
}

.padding20 {
    padding: 20px 0;
}

.padding3 {
    padding: 3px 0;
}

.padding10 {
    padding: 10px 0;
}

.padding7 {
    padding: 7px;
}

.paddingLR20 {
    padding: 0 20px;
}

.paddingLR40 {
    padding: 0 40px;
}

.paddingR20 {
    padding-right: 20px;
}

.paddingL10 {
    padding-left: 10px;
}

.paddingB20 {
    padding-bottom: 20px;
}

.paddingB10 {
    padding-bottom: 10px;
}

.paddingT20 {
    padding-top: 20px;
}

.paddingT25 {
    padding-top: 25px;
}

.margin20 {
    margin: 20px;
}

.marginLR20 {
    margin: 10px 1px;
}

.marginR10 {
    margin-right: 10%;
}

.marginTB20 {
    margin: 20px 0;
}

.marginT20 {
    margin-top: 20px;
}

.marginT30 {
    margin-top: 30px;
}

.marginT50 {
    margin-top: 50px;
}

.marginB30 {
    margin-bottom: 30px;
}

.width20 {
    width: 20%;
}

.width24 {
    width: 24%;
}

.width25 {
    width: 25%;
}

.width30 {
    width: 30%;
}

.width35 {
    width: 34%;
}

.width45 {
    width: 45%;
}

.width75 {
    width: 75%;
}

.width80 {
    width: 80%;
}

.width100 {
    width: 100%;
}

.floatR {
    float: right;
}

.floatL {
    float: left;
}

.font-size16 {
    font-size: 16pt;
}

.border-black {
    border: 1px solid black;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.service-provider {
    background: white;
    border: 1px solid #d8e6f3;
    border-radius: 5px;
    width: calc(100% / 2 - 20px);
    height: 80px;
    display: inline-block;
    float: left;
    margin: 15px 10px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 8pt;
    font-weight: bold;
}

.paddingB40 {
    padding-bottom: 40px;
}

.pointer {
    cursor: pointer;
    /*float: right;*/
}

html, body {

    width: 100% !important;
}

.nopadding {
    padding: 0 !important;
}

.inlineBlock {
    display: inline-block;
}

.relative {
    position: relative;
}

.text-bold {
    font-weight: bold;
}

.text-bolder {
    font-weight: bolder;
}

.text-grey {
    color: #a9a9a9;
}

.text-white, .text-white:hover, .text-white:focus {
    color: #FFFFFF;
}

.text-primary {
    color: #00B0F0;
}

.border-blue {
    border: 2px solid #f7961d;
}

.border-grey {
    border: 1px solid #F1F1F1;
}

.noborder {
    outline: none;
}

.btn-registration {
    padding: 5px 20px;
}

div.block-job-item {
    margin-bottom: 10px;
}

div.communitySP div.text-center {
    padding: 10px 0 0 0;
}

.block-job-item {
    padding: 10px 0 10px;
}

.agency-item {
    margin: 10px -2px;
}

.button-home-register {
    margin-top: 20px;
    margin-bottom: 20px;
}

.background-orange {
    background: #E46C0A;
}

.background-grey {
    background: #D9D9D9;
}

.background-black {
    background: #404040;
}

.background-white {
    background: white
}

.background-primary {
    background: #00B0F0;
}

.rating-star {
    width: 20%;
}

.profile-poster {
    background: pink;
    width: 100%;
    height: 100%;
    /*border: 1px solid transparent;*/
    /*border-radius: 5px;*/
}

.profile-poster-detail {
    background: lightgrey;
    width: 100%;
    height: 100%;
    /*border: 1px solid transparent;*/
    /*border-radius: 5px;*/
}

.profile {
    width: 15vw;
    height: 15vw;
    border: 1px solid #CECECE;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
}

.star-icon {
    color: #808080;
    text-align: center;
}

.block-icon {
    text-align: center;
    padding-top: 10px;
}

div.block-popularity {
    width: 22%;
    height: 15px;
    margin: 0 1px;
    font-size: 20px;
    color: #f3db92;
    display: inline-block;
}

.btn-search {
    margin-top: 0;
}

div.btnSearch {
    padding-top: 15px;
}

.agency-text {
    text-align: right;
}

.green-popularity {
    background: #008000;
}

.alert-success {
    background-color: #dff0d8 !important;
}

.body {
    height: 100%;
}

.form-group p.error {
    position: absolute;
    display: none;
    font-size: 12px;
}

.has-error input {
    border: 1px solid #a94442;
}

.has-error p.error {
    color: #a94442;
    display: inline-block;
    position: absolute;
    font-size: 12px;
}

.full-width {
    width: 100%;
}

.success-text {
    color: #279B61;
}

.error-text {
    color: #993333;
}

.createPackage {
    width: 400px;
    margin: auto;
    padding: 30px;
    background: white;
    margin-top: 10%;
}

.user-search {
    background: transparent;
    width: 60%;
    margin: 15% 0;
    position: relative;
}

.user-logo {
    max-height: 130px;
    max-width: 130px;
}

.user-view-more {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
}

.user-service {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-topic {
    border-radius: 5px;
    height: 200px;
    position: relative;
    overflow: hidden;
    transition: all 0.8s;
    background-color: #ffffff;
}

.work-type {
    border-radius: 5px;
    height: 95px;
    position: relative;
    overflow: hidden;
    transition: all 0.8s;
    background-color: #ffffff;
}

.topic-close {
    height: 30px;
    transition: all 0.8s;
}

.user-topic-top {
    height: 30px;
    background: whitesmoke;
    position: absolute;
    top: 0;
    z-index: 99;
    padding: 10px;
    padding-top: 5px;
}

.user-topic-bottom {
    margin-top: 28px;
    height: 160px;
    overflow: auto;
    width: 106%;
    padding-left: 10px;
}

.user-topic-input {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid;
    border-radius: 0;
    margin-bottom: 10px;
}

.user-search-icon {
    font-size: 17px;
    padding: 8px;
}

.user-block {
    border-radius: 4px;
    background-color: #ffffff;
}

.user-block-top {
    padding: 10px;
    background: #F5F5F5;
}

.user-block-bottom {
    padding: 10px;
}

.modal-block-button {
    position: relative;
    top: 30%;
    text-align: center;
}

.ui-select-container {
    min-height: 34px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 510px
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    12.5% {
        transform: translateX(-6px) rotateY(-5deg)
    }
    37.5% {
        transform: translateX(5px) rotateY(4deg)
    }
    62.5% {
        transform: translateX(-3px) rotateY(-2deg)
    }
    87.5% {
        transform: translateX(2px) rotateY(1deg)
    }
    100% {
        transform: translateX(0)
    }
}

.heightSize {
    height: 45px;
}

.shake {
    animation: shake 400ms ease-in-out;
}

.active-category {
    border-bottom: 3px solid blue;
}

.profile-summary {
    height: 100px;
}

.profile-block {
    box-shadow: 2px 2px 6px;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-label {
    padding-bottom: 20px;
}

.selectTerm {
    width: 100%;
}

md-input-container.selectTerm span div {
    display: inline;
}

.selectdemoSelectHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}

.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.selectdemoSelectHeader md-content._md {
    max-height: 240px;
}

._md-icon {
    display: inline;
}

.border-orange {
    border-color: #f7961d;
}

.img-close-contract {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: coral;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

div.containerDrop {
    height: 200px !important;
}

div.containerCrop {
    height: 100%;
}

.fadechild > div {
    animation: fade .6s ease forwards;
}

.afade {
    animation: fade .6s ease forwards;
}

.signupForm .form-group input {
    border-radius: 0px !important;
}

.loginForm .form-group input {
    border-radius: 0px !important;
}

.loginForm {
    margin-top: 60px;
}

.login-btn {
    color: white !important;
    background-color: #d43f3a !important;
    font-size: 16px !important;
}

.signup-btn {
    color: white !important;
    background-color: #575353 !important;
    font-size: 16px !important;
}

.loginForm button.md-raised {
    margin-top: 32px
}

.auth-dialog .col-md-6:first-child {
    border-right: 1px solid lightgray;
}

.error-login {
    font-size: 12px;
    color: #a94442;;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.profile-detail {

}

.profile-detail {
    width: 38vw;
    height: 40vw;
    font-size: 8pt;

    border: 1px solid #CECECE;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 70px;
}

@media (max-width: 500px) {
    .auth-dialog .col-md-6:first-child {
        border-right: 0px
    }

    .loginForm {
        margin-top: 0px;
    }

    .loginForm button.md-raised {
        margin-top: 0px
    }

    .modal-block-button > button {
        font-size: 9pt;
    }
}

@media (min-width: 768px) {
    .service-provider {
        font-size: 9pt;
    }

    .profile-detail {
        width: 33vw;
        height: 33vw;
        font-size: 8pt;
    }

    /*.profile {*/
    /*width: 40vw;*/
    /*height: 40vw;*/
    /*font-size: 8pt;*/
    /*}*/
    .block-popularity {
        height: 10px;
    }

    .star-icon {
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }

    .block-icon {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
    }

    div.block-popularity {
        width: 22%;
        height: 15px;
        margin: 0 1px;
        font-size: 25px;
        color: #f3db92;
        display: inline-block;
    }
}

@media (min-width: 992px) {
    .profile-detail {
        width: 10vw;
        height: 10vw;
    }

    .auth-dialog {
        width: 800px !important;
    }

    .agency-text {
        text-align: left;
    }

    .btn-search {
        margin-top: 20px;
    }

    .service-provider {
        font-size: 10pt;
        width: calc(100% / 5 - 20px);
    }

    .user-search {
        margin: 0;
        margin-bottom: 5%;
    }

    .user-logo {
        margin: 0 43%;
    }

    /*.profile {*/
    /*width: 35vw;*/
    /*height: 38vw;*/
    /*}*/

}

