.upload-button {
    fill: gray;
    display: inline-block;
    float: right;
    position: absolute;
    right: 20px;
    top: 5px;
    height: 10px;
}

.send-button,.send-button:hover, .send-button:focus {
    background-color: #008228;
    color: white;
}

.enter-block {
    margin: 5px;
    padding: 10px;
    background: white;
}

.body-msg {
    padding-top: 15px;
    padding-left: 10px;
    word-wrap: break-word;
}

.name-msg {
    position: absolute;
    top: 16px;
    left: 78px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
}

.avatar-img-msg {
    width: 102%;
    height: 102%;
    background-color: #ede2b8
}

.avatar-msg {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 25px;
}

.block-msg {
    border-bottom: 1px solid #cec4c4;
}

#chat {
    height: 400px;
    width: 102%;
    overflow: auto;
}

.chat-block {
    border: 10px solid white;
    overflow: hidden;
    max-height: 400px;
}

.background-msg {
    background: white;
}


.close {
    position: absolute;
    z-index: 99;
    top: 7px;
    right: 3px;
    opacity:0.4;
    animation: animate 0.5s ease forwards;
    font-size: 14px;
}

.close:hover {
    opacity: 1;
}

.preview {
    margin: 5px 10px;
}

.isOnline {
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 30px;
    border: 2px solid white;
    left: 36px;
    bottom: 5px;
}

.online {
    background: #008027;
}

.offline {
    background: #B1B1B1;
}

@keyframes animate {}