.upload-button {
    fill: gray;
    display: inline-block;
    float: right;
    position: absolute;
    right: 20px;
    top: 5px;
    height: 10px;
}

.send-button, .send-button:hover, .send-button:focus {
    background-color: #008228;
    color: white;
}

.enter-block {
    margin: 5px;
    padding: 10px;
    background: white;
}

.body-msg {
    padding-top: 15px;
    padding-left: 10px;
    word-wrap: break-word;
}

.name-msg {
    position: absolute;
    top: 16px;
    left: 78px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
}

.avatar-img-msg {
    width: 102%;
    height: 102%;
    background-color: #ede2b8
}

.avatar-msg {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 25px;
}

.block-msg {
    border-bottom: 1px solid #cec4c4;
}

#chat {
    width: 102%;
    height: 100%;
    overflow: auto;
}

.chat-block {
    border: 10px solid white;
    overflow: hidden;
    height: calc(100vh - 310px)
}

.background-msg {
    background: white;
}

.close {
    position: absolute;
    z-index: 99;
    top: 7px;
    right: 3px;
    opacity: 0.4;
    animation: animate 0.5s ease forwards;
    font-size: 14px;
}

.close:hover {
    opacity: 1;
}

.preview {
    margin: 5px 10px;
}

.isOnline {
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 30px;
    border: 2px solid white;
    left: 36px;
    bottom: 5px;
}

.online {
    background: #008027;
}

.offline {
    background: #B1B1B1;
}

.chat-button {
    color: #676767;
    border: 1px solid #BBBBBB;
    border-bottom: 0px;
    width: 100%;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.last-button{
    border-bottom: 1px solid #BBBBBB;
}

.chat-button.active {
    color: #ffffff;
    border-color: #3E3E3E;
    background-color: #3E3E3E;
}

.chat-button:hover {
    border-right: 2px solid #000000;
    padding-left: 1px;
    animation: animate 0.5s ease forwards;
}

.block-chat-button {
    overflow: auto;
    height: 100%;
}

@keyframes animate {
}

@media (max-width: 767px) {
    .block-chat-button {
        height: 150px;
        overflow: auto;
    }
}