.font-family {
    font-family: OpenSans-Light, MyriadPro-Regular;
}

.home-footer-text, .home-footer-text:hover, .home-footer-text:focus {
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 12px;
    color: #252525;
    text-decoration: none;
}

.home-footer-social-link-img {
    font-size: 13px;
    position: absolute;
    top: 7px;
    left: 6px;
}
.home-footer-social-link {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    padding: 4px 6px;
    background-color: #7B7B7D;
    color: #DDDDDD;
    border-radius: 25px;
    font-size: 13px;
    top:5px;
    margin: 0 5px;
}

.header-search-block {
    margin-right: 10px;
    height: 34px;
    margin-top: 9px;
    border-radius: 3px;
}
.header-search > md-autocomplete-wrap > input {
    height: 100% !important;
}

.header-search, .header-search > md-autocomplete-wrap {
    height: 32px;
    width: 242px;
    border-radius: 3px;
    border: 1px solid lightgray;
    background: #1b1b1b !important;
    color: white;
}

.header-search > md-autocomplete-wrap {
    border: 0px;
    height: 28px;
    width: 240px;
}