.font-family {
    font-family: OpenSans-Light, MyriadPro-Regular;
}

.home-footer-text, .home-footer-text:hover, .home-footer-text:focus {
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 12px;
    color: #252525;
    text-decoration: none;
}

.home-footer-social-link-img {
    font-size: 13px;
    position: absolute;
    top: 7px;
    left: 6px;
}
.home-footer-social-link {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    padding: 4px 6px;
    background-color: #7B7B7D;
    color: #DDDDDD;
    border-radius: 25px;
    font-size: 13px;
    top:5px;
    margin: 0 5px;
}