.how_it_work .background-img-top {
    background-image: url('/img/Layer35.png');
    top: -21px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-position-y: 99%;
    background-size: cover;
}

.how_it_work .div-background {
    min-height: 410px;
    position: relative;
}

.how_it_work .background-img-top-text {
    transition: .4s ease-out;
    position: absolute;
    left: 25%;
    top: 16%;
}

.how_it_work .background-img-top-text h1 {
    padding-bottom: 10px;
    font-weight: bold;
}

.how_it_work .background-img-top-text p {
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 600px){
    .how_it_work .background-img-top-text {
        transition: .3s ease-out;
        position: absolute;
        left: 25%;
        top: 30%;
    }
    .how_it_work .background-img-top-text h1 {
        padding-bottom: 10px;
        font-size: 27px;
        font-weight: bold;
    }
    .how_it_work .background-img-top-text p {
        font-size: 20px;
        font-weight: bold;
    }
}

.how-text {
    font-size: 23px;
}

.header-block .header-block-img {
    width: 24%;
    display: inline-block;
}

.header-block .header-block-img img {
    width: 83px;
}

.header-block .header-block-headline {
    vertical-align: middle;
    display: inline-block;
    font-weight: 900;
    font-size: 25px;
    width: 60%;
}

.body-block {
    margin: 30px 0 30px 0;
    text-align: justify;
}

.how-it-work-block {
    margin-top: 80px;
}

.how-it-work-block button {
    width: 150px;
    box-shadow: 0 2px 0 #b6b6b6;
}
