@keyframes fadeOut {
    0% {
        opacity: .8;
    }
    99% {
        opacity: 0;

    }
    100% {
        visibility: hidden;
        display: none;
    }
}

@keyframes fadeOutTop {
    0% {
        opacity: .8;
        transform: translateY(0);
    }
    99% {
        opacity: 0;
        transform: translateY(-10px)

    }
    100% {
        visibility: hidden;
        display: none;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px)

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

jobs-list > div {
    margin-top: 35px;
}

.title3 {
    text-transform: uppercase;
    color: #333945;
    /*font-weight: 500;*/
    font-size: 15px;
    padding-top: 0;
    margin-top: 0;
    letter-spacing: .8px;
    padding-bottom: 15px;
}

.cont .title3 {
    margin-top: 35px;
}

.job-items, .jshadow {
    box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.18);
    padding: 0;

}

.job-items {
    position: relative;
}

.jshadow {
    border: 1px solid #d5dae0;
    border-radius: 10px;
    margin-top: 55px;
}

.jshadow_padd {
    margin-bottom: 90px;
}

.jheader.jborder {
    border-radius: 10px 10px 0 0;
}

.jheader, .jbody {
    font-weight: 500;
}

.jheader, .title2, .title3 {
    font-weight: bold;
}

.cont btns {
    display: block;
    padding: 45px 0 0 0;
    text-transform: uppercase;
    margin-bottom: -20px;
    margin-left: -15px;
    margin-right: -15px;
}

.jbody {
    padding: 15px 30px 45px 30px;
}

.jheader {
    background: #f1f1f1;
    padding: 15px 25px;
    text-transform: uppercase;
    color: #323844;
}

.jshadow .row {
    margin: 0 !important;
}

.job-nav {
    padding: 20px;
    margin-top: 30px;
    /*padding-bottom: 80px;*/
}

selector {
    width: 100%;
    position: relative;
    display: block;
}

selector .selected {
    border-bottom: 1px solid #9b9fa2;
    cursor: pointer;
    padding-bottom: 5px;
}

selector .selected, selector .sel-items > div {
    outline: none;
}

selector .sel-items > div {
    cursor: pointer;
}

.sel-items {
    position: absolute;
    box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.job-nav .sel-items div {
    padding: 10px 15px;
}

.job-nav .sel-items, .job-nav, .bcg {
    background: #f6f6f6;
}

.links_a {
    display: block;
    margin-top: 30px;
}

.links_a a {
    /*display: block;*/
    padding: 5px;
}

.my_links a {
    margin-left: 5px;
}

.jheader .fa {
    float: right;
}

.jheader {
    border-bottom: 1px solid transparent;
}

.jheader.jhidden {
    border-bottom: 1px solid #d5dae0;
}

.jheader.jhidden .fa {
    transform: rotate(180deg);
}

.jheader, .jbody, .jheader .fa {
    transition: all .4s ease;
}

.jbody.jhidden {
    opacity: 0;
    display: none;
}

.iblock {
    /*background: #f6f6f6;*/
    /*padding: 15px;*/
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
    transition: all 0.4s ease;
}

.iblock .title3:after {
    animation: fadeOutTop .4s ease;
}

.jheader, .title3 {
    font-size: 16px;
}

.iblock.edited .title3:after {
    content: ' (edited)';
    font-size: 11px;
    text-transform: lowercase;
    color: grey;
    animation: fade .5s ease;
}

.iblock.suggested {
    background: #f6f6f6
}

.job-nav .sel-items {
    width: 105%;
    margin-left: -2.5%;
    max-height: 300px;
    overflow: auto;
    z-index: 9999;
}

.container.new {
    margin-top: 30px;
}

.job-search {
    border: 1px solid #9b9fa2;
    width: 100%;
    padding: 7px 13px;
    outline: none;
    box-shadow: none;
    transition: all .4s ease;
}

.job-search:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.job-nav .sub-title {
    color: #343843;
    text-transform: uppercase;
    padding: 25px 0 15px 0;
    font-size: 14.5px;
    font-weight: 500;
}

a {
    cursor: pointer;
}

.job-nav .sub-select {
    padding-bottom: 10px;
}

.job-head {
    background: #6e6e76;
    color: white;
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: 500;
}

.row.nomargin {
    margin-left: 0;
    margin-right: 0;
}

.row.nomarginxs {
    margin-left: 15px;
    margin-right: 15px;
}

jobs-list .fitems {
    padding: 10px;
    border-bottom: 1px solid #ecebf0;

}

jobs-list .fitems {
    word-break: break-all;
}

.lloading {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: white;
    position: absolute;
    z-index: 99;
    /*animation: fadeIn .1s ease forwards;*/

}

.lloading.hid-loading {
    animation: fadeOut .5s ease forwards;
}

.action {
    display: block;
}

.stat-item {
    padding: 5px 0;
}

.w100 {
    min-width: 100%;
}

.btn {
    transition: all .4s ease;
}

.btn.wide {
    padding-right: 25px;
    padding-left: 25px;
}

jobs-list .pagination {
    margin: 7px 0 !important;
}

.btn.btn-my, .btn.btn-primary:hover, .btn.btn-my2:hover {
    background: #6e6e76;
    color: white;
    outline: none;
}

.btn.btn-my:hover, .btn.btn-my2, .btn.btn-primary {
    background: white;
    color: #6e6e76;
    border: 1px solid #94949c;
    outline: none;
}

.pagination-control.pagination li:first-child {
    margin-right: 1px;
}

.pagination-control.pagination span {
    color: #94949c;
}

.btn.btn-grey {
    color: #444b53;
    background: #d6d6d6;
    font-weight: 400;
    text-transform: uppercase;
    padding: 13px 10px;
    font-size: 15px;
    border-bottom: 5px solid #bcbcbc;
}

.btn {
    outline: none !important;
}

textarea {
    max-width: 100%;
}

.container.job {
    padding-top: 15px;
}

.cont {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 25px;
}

.title2, .title3 {
    color: #3d4048;
}

.title2 {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 27px;
}

.lightRed {
    color: #e53d32;
}

.rating .filled {
    color: #21568b;
}

freelancer img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.title2:after {
    content: ' ';
    width: 45px;
    border-bottom: 2px solid #e53d32;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.separator {
    width: 100%;
    margin: 30px 0;
    border-bottom: 1px solid #f1f0f0;
}

.separator2 {
    width: 100%;
    margin: 30px 0;
    height: 1px;
}

small {
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 7px;
    display: block;
}

.mtop5 {
    margin-top: 5px;
    display: block;
}

.mtop10 {
    margin-top: 10px;
    display: block;
}

.mtop20 {
    margin-top: 20px;
    display: block;
}

.mtop30 {
    margin-top: 30px;
    display: block;
}

.mtop35 {
    margin-top: 30px;
    display: block;
}

.padd0 {
    padding: 0;
}

.paddv15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

form .form-control {
    box-shadow: none !important;
}

.md-block {
    margin: 0;
}

md-radio-button .md-on, md-checkbox.md-checked.checkdark .md-icon {
    background-color: rgba(50, 57, 67, 0.82);
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: rgba(50, 57, 67, 0.82);
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off, md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    /*border-color: #323943;*/
    border-color: rgba(50, 57, 67, 0.82);
}

md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before, md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
    background: rgba(185, 174, 178, 0.26);
}

md-input-container textarea.md-input {
    min-height: 87px;
}

md-input-container {
    margin: 0;
}

#postjob .form-group {
    margin-bottom: 0;
}

.ftp {
    position: absolute;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .4s ease;
    display: none;
    opacity: 0;
    padding: 10px;
    margin-left: -80px;
    width: 300px;
    transition: all .4s ease;
    z-index: 100;
}

.tp {
    display: block;
    position: relative;
}

.tp:hover .ftp {
    display: block;
    opacity: 1;
}

.emptyjobs {
    padding: 30px 0 !important;
    text-align: center;
}

mess {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    padding-bottom: 20px;
}

desc {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

mess, desc {
    display: block;
}

.hidr {
    display: block;
}

.visr, .vis_r, .response .hidr, .response .hid_r {
    display: none;

}

.response .visr, .response .vis_r {
    display: block;
    animation: fadeInTop .6s ease;
}

.cont {
    animation: fade .4s ease;
    position: relative;
}

@keyframes fade2 {
    0% {
        opacity: 1;
        top: 0;
    }
    20% {
        top: 5px;
    }
    99% {
        opacity: 0;
        top: -35px;
    }
    100% {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

.error_direct {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    min-height: 30px;
    margin-top: 15px;
    margin-bottom: -15px;
}

.error_direct > div {
    color: #e53d32;
    text-align: center;
    display: none;
    font-size: 15px;
    position: absolute;
    width: 100%;
    top: 0px;
    padding-bottom: 30px;
}

.error_direct > div.anim-start {
    display: block;
    animation: fade .4s ease-out forwards;
}

.error_direct > div.anim-finish {
    display: block;
    animation: fade2 .8s ease-out forwards;
}

.ib {
    display: inline-block;
}

[owner] {
    display: none;
}

[owner].visible {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: grey;
    position: absolute;
    right: 5px;
    top: 45px;
}

[owner].visible:hover {
    color: #428bca;
}

.cont md-datepicker {
    position: relative;
}

.cont .md-datepicker-button {
    position: absolute;
    right: 4px;
    top: -13px;
    background: white;
    /*top: 10*/
}

.cont .md-datepicker-input-container {
    width: 100%;
    margin: 0;
}

.cont .md-datepicker-expand-triangle {
    display: none;
}

.star-rating-width div i {
    width: 15%;
}

.job-review-header {
    background-color: #F1F1F1;
    padding: 5px 15px;
}

.job-review-close {
    font-size: 20pt;
    padding-right: 10px;
    color: #E24D40;
}

.job-review-comments {
    padding: 20px 10px;
}

.job-review-img {
    height: 65px;
    width: 65px;
    position: relative;
    bottom: 30px;
}

.job-review-running-title {
    color: #6C6C6C;
    font-style: italic;
}

.job-review-footer {
    padding: 0 20px 20px;
    text-align: right;
}

.job-review-textarea {
    border-radius: 0px
}

span.rz-pointer.rz-pointer-min:focus {
    border: 0 !important;
    outline: 0;
}

.rzslider .rz-pointer {
    top: -7px;
    z-index: 3;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #353B47;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rzslider .rz-pointer:after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background-color: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    content: '';
}

.rzslider .rz-pointer:hover:after {
    background-color: transparent;
}
.rzslider .rz-pointer.rz-active:after {
    background-color: transparent;
}

.select-it {
    color: #b1b1b1;
}