<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="rejectForm" novalidate>
                <div class="modal-body">
                    <h2 class="text-center">Change information</h2>
                    <div ng-if="type == 'users'">
                        <h4>First name</h4>
                        <md-input-container class="md-block">
                            <input class="form-control" name="fname" unique-name ng-model="profile.first_name" placeholder="Enter first name" style="color: black">
                        </md-input-container>

                        <h4>Last name</h4>
                        <md-input-container class="md-block">
                            <input class="form-control" name="lname" unique-name ng-model="profile.last_name" placeholder="Enter last name" style="color: black">
                        </md-input-container>

                        <h4>Email</h4>
                        <md-input-container class="md-block">
                            <input class="form-control text-black" name="email" placeholder="Enter email" ng-model="profile.email"
                                   ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                        </md-input-container>

                        <h4>Phone number</h4>
                        <md-input-container class="md-block">
                            <input class="form-control" phone-number name="phone" unique-name ng-model="profile.phone" placeholder="Enter  number phone" style="color: black">
                        </md-input-container>

                        <h4>Company name</h4>
                        <md-input-container class="md-block">
                            <input class="form-control" phone-number name="company_name" unique-name ng-model="profile.company_name" placeholder="Enter company name" style="color: black">
                        </md-input-container>
                    </div>
                    <div ng-if="type == 'freelancers'">
                        <h4>Name</h4>
                        <md-input-container class="md-block">
                            <input class="form-control" name="name" unique-name ng-model="profile.name" placeholder="Enter name" style="color: black">
                        </md-input-container>

                        <h4>Type</h4>
                        <md-input-container class="md-block">
                            <input class="form-control" name="type" ng-model="profile.type" placeholder="Enter type" style="color: black">
                        </md-input-container>

                        <h4>Introduction</h4>
                        <md-input-container class="md-block">
                            <input class="form-control" name="introduction" ng-model="profile.introduction" placeholder="Enter introduction" style="color: black">
                        </md-input-container>

                        <h4>Description</h4>
                        <md-input-container class="md-block">
                            <input class="form-control" name="description" ng-model="profile.description" placeholder="Enter description" style="color: black">
                        </md-input-container>

                        <h4>Experience</h4>
                        <md-input-container class="md-block">
                            <input class="form-control" name="experience" numbers-only ng-model="profile.experience" placeholder="Enter experience" style="color: black">
                        </md-input-container>

                        <h4>Location</h4>
                        <md-input-container class="md-block">
                            <input class="form-control" name="location" ng-model="profile.location" placeholder="Enter location" style="color: black">
                        </md-input-container>

                        <h4>Sities service</h4>
                        <md-input-container class="md-block" ng-repeat="item in profile.cities">
                            <input class="form-control" name="cities" ng-model="profile.cities[$index]" placeholder="Enter cities" style="color: black">
                        </md-input-container>

                        <h4>Languages</h4>
                        <md-input-container class="md-block" ng-repeat="item in profile.languages">
                            <input class="form-control" name="languages" ng-model="profile.languages[$index]" placeholder="Enter languages" style="color: black">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <div ng-if="profile.price.hour">
                                <h4>Price to hour</h4>
                                <input class="form-control" name="hour" numbers-only ng-model="profile.price.hour" placeholder="Enter price" style="color: black">
                            </div>
                            <div ng-if="profile.price.word">
                                <h4>Price to word</h4>
                                <input class="form-control" name="word" numbers-only ng-model="profile.price.word" placeholder="Enter price" style="color: black">
                            </div>
                        </md-input-container>

                        <h4>Service provider</h4>
                        <md-input-container class="md-block" ng-repeat="service in profile.service_providers">
                            <div>
                                <h4>Category:</h4>
                                <input class="form-control" name="typeFilter" ng-model="profile.service_providers[$index].type" placeholder="Enter languages" style="color: black">
                            </div>
                            <div ng-if="service.name">
                                <h4>Sub category:</h4>
                                <input class="form-control" name="nameFilter" ng-model="profile.service_providers[$index].name" placeholder="Enter languages" style="color: black">

                                <div ng-if="service.name == 'Translation'" >

                                    <div ng-repeat="translation in profile.translation">
                                    <span>To: '{{translation.to}}' - from: '{{translation.from}}'</span>
                                    </div>
                                </div>
                            </div>
                        </md-input-container>


                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" ng-click="submit(profile);">Submit</button>
                        <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>