<div class="marginT30">
    <div style="margin-top: 20px">
        <div ng-init="display.type = 'freelancers'; check('freelancers')" class="text-center">
            <md-radio-group ng-model="display.type" layout="row" style="margin-bottom: 25px;display: inline-block; outline: none">
                <md-radio-button ng-class="{active_tab: display.type == 'freelancers'}" ng-click="check('freelancers')" value="freelancers" class="md-primary inline-block" style="outline: none">Freelancers</md-radio-button>
                <md-radio-button ng-class="{active_tab: display.type == 'users'}" ng-click="check('users')" value="users" style="margin-left: 50px;display:inline-block;outline: none">Users</md-radio-button>
            </md-radio-group>
        </div>
        <h2 ng-if="!all_profiles.length" class="text-center">No accounts</h2>

        <div class="portlet-body">
            <table class="table table-bordered table-hover" ng-if="all_profiles.length && display.type=='freelancers'">
                <thead>
                <tr>
                    <th class="text-bold pointer">Name</th>
                    <th class="text-bold pointer">Type</th>
                    <th class="text-bold pointer">Location</th>
                    <th class="text-bold pointer">Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="all_profile in all_profiles" ng-class="{'rejecting-row': all_profiles.rejectedItemIndex == $index}">
                    <td>{{all_profile.name}}</td>
                    <td><div ng-class="{'agency-type':all_profile.type=='agency', 'freelancer-type':all_profile.type=='freelancer'}">{{all_profile.type}}</div></td>
                    <td>{{all_profile.location}}</td>
                    <td>{{all_profile.created_at}}</td>
                    <td>
                        <span ng-class="{red:all_profile.sorted, black:!all_profile.sorted}" ng-click="getFavorite(all_profile, $index)" class="pointer fa fa-star inline-block" style="outline: none"></span>
                        <span style="color: green" ng-click="getInformation(all_profile, display.type)" class="pointer fa fa-pencil inline-block"></span>
                        <span ng-click="reject(all_profile, $index)" style="color: red" class="pointer fa fa-times"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="portlet-body">
            <table class="table table-bordered table-hover" ng-if="all_profiles.length && display.type=='users'">
                <thead>
                <tr>
                    <th class="text-bold pointer">First Name</th>
                    <th class="text-bold pointer">Last Name</th>
                    <th class="text-bold pointer">Email</th>
                    <th class="text-bold pointer">Phone</th>
                    <th class="text-bold pointer">Company name</th>
                    <th class="text-bold pointer">Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="all_profile in all_profiles" ng-class="{'rejecting-row': all_profiles.rejectedItemIndex == $index}">
                    <td>{{all_profile.first_name}}</td>
                    <td>{{all_profile.last_name}}</td>
                    <td>{{all_profile.email}}</td>
                    <td>{{all_profile.phone}}</td>
                    <td>{{all_profile.company_name}}</td>
                    <td>{{all_profile.created_at}}</td>
                    <td>
                        <span style="color: green" ng-click="getInformation(all_profile, display.type)" class="pointer fa fa-pencil inline-block"></span>
                        <span ng-click="reject(all_profile, $index)" style="color: red" class="pointer fa fa-times"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="text-center">
            <div custom-pagination="configPagination" cb="cb(currentPage)"></div>
        </div>
    </div>
</div>



