<div style="margin-top: 20px">
    <select ng-model="selectFilter" style="width: 200px" ng-change="changeFilter(selectFilter)" class="form-control">
        <option value="all">All</option>
        <option value="pending">Pending</option>
        <option value="approved">Approved</option>
        <option value="rejected">Rejected</option>
    </select>
    <h2 ng-if="!sellers.length" class="text-center">No sellers</h2>
    <table class="table table-striped" st-safe-src="sellers" st-table="sellersCopy" ng-if="sellers.length">
        <thead>
        <tr>
            <th>Agency Name</th>
            <th>Service Categories</th>
            <th>Currently owned by</th>
            <th>Claimed by</th>
            <th>Created</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="seller in sellersCopy" ng-class="{'rejecting-row': seller_area.rejectedItemIndex == $index}">
            <td><a href="" ng-click="profileDetails(seller._id)">{{seller.name}}</a></td>
            <td ng-init="groupService[$index]=(seller.service_providers | groupService)">
                <span ng-repeat="(category, values) in groupService[$index]">{{category}}<span ng-show="!$last">,</span> </span>
            </td>
            <td></td>
            <td>{{seller.business_account.first_name}} {{seller.business_account.last_name}}</td>
            <td>
                <span ng-if="seller.business_account">Claimed</span>
                <span ng-if="!seller.business_account">Unclaimed</span>
            </td>
            <td>{{seller.created_at}}</td>
            <td>
                <button class="btn btn-sm btn-check white" ng-confirm-click="Are you sure your want to approve seller <b>{{seller.name}} </b> ?"
                        ng-confirm-action="rejectApproveProfile('approve', seller._id, $index)" ng-show="seller.registrationStatus==0 || seller.registrationStatus==2">
                <span class="pointer fa fa-check"></span>
                </button>
                <button class="btn btn-sm btn-times white" ng-click="reject(seller, $index)"
                        ng-show="seller.registrationStatus==0 || seller.registrationStatus==1">
                <span class="pointer fa fa-trash-o"></span>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>