<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="rejectForm" novalidate>
                <div class="modal-body">
                    <h2 class="text-center">Information</h2>
                    <div>
                        <h4>Name : {{profile.name || 'None'}}</h4>

                        <h4>Type : {{profile.type || 'None'}}</h4>

                        <h4>Introduction : {{profile.introduction || 'None'}}</h4>

                        <h4>Description : {{profile.description}}</h4>

                        <h4>Experience : {{profile.experience}}</h4>

                        <h4>Location: {{profile.location}}</h4>

                        <h4>Sities service : <span ng-repeat="item in profile.cities">{{profile.cities[$index]}} <span ng-if="!$last">, </span></span></h4>

                        <h4>Languages : <span ng-repeat="item in profile.languages">{{profile.languages[$index]}} <span ng-if="!$last">, </span></span></h4>

                        <h4 ng-if="profile.price.hour">Price to hour: {{profile.price.hour}}</h4>

                        <h4 ng-if="profile.price.word">Price to word : {{profile.price.word}}</h4>

                        <h4>Service provider</h4>
                        <div ng-repeat="service in profile.service_providers">
                            <div>
                                <h5>Category: {{profile.service_providers[$index].type}}</h5>
                            </div>
                            <div ng-if="service.name">
                                <h5>Sub category: {{profile.service_providers[$index].name}}</h5>
                                <div ng-if="service.name == 'Translation'" >
                                    <div ng-repeat="translation in profile.translation">
                                    <span>To: '{{translation.to}}' - from: '{{translation.from}}'</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>