<div class="container">
    <form name="_claim" novalidate>
        <div class="page-header">
            <div class="row text-center marginT20"><h3>_claim your Agency - Request for a Business</h3></div>
            <div class="row text-center  marginTB20"><h3>Request for a Business user Account for <a
                    class="pointer">{{choiceAgency}}</a></h3>
            </div>
        </div>
        <div class="row paddingB20">
            <div class="form-group col-xs-5 nopadding" ng-class="{'has-error': submitted && _claim.firstName.$invalid}">
                <!--<div>First Name</div>-->
                <!--<input class="form-control" name="firstName" ng-model="agencyRequest.first_name" required>-->

                <!--<p style="position: relative" class="error" ng-if="_claim.firstName.$error.required">First Name is-->
                <!--required</p>-->

                <md-input-container class="md-block">
                    <label>First Name</label>
                    <input class="form-control" name="firstName" ng-model="agencyRequest.first_name" required>

                    <p class="error" ng-if="_claim.firstName.$error.required">First Name is
                        required</p>
                </md-input-container>

            </div>
            <div class="form-group col-xs-6 col-xs-offset-1 nopadding"
                 ng-class="{'has-error': submitted && _claim.lastName.$invalid}">
                <!--<div>Last Name</div>-->
                <!--<input class="form-control" name="lastName" ng-model="agencyRequest.last_name" required>-->

                <!--<p style="position: relative" class="error" ng-if="_claim.lastName.$error.required">Last Name is-->
                <!--required</p>-->

                <md-input-container class="md-block">
                    <label>Last Name</label>
                    <input class="form-control" name="lastName" ng-model="agencyRequest.last_name" required>

                    <p class="error" ng-if="_claim.lastName.$error.required">Last Name is
                        required</p>
                </md-input-container>

            </div>
        </div>
        <div class="row paddingB20 form-group" ng-class="{'has-error': submitted && _claim.email.$invalid}">
            <md-input-container class="md-block">
                <label>Email Id</label>
                <input type="email" name="email" required class="form-control" ng-model="agencyRequest.email"
                       ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                        >

                <p class="error" ng-if="_claim.email.$error.required">Email Id is required</p>

                <p class="error" ng-if="_claim.email.$error.pattern">Email Id is invalid</p>
            </md-input-container>

            <!--<div>Email Id</div>-->
            <!--<input type="email" name="email" required class="form-control" ng-model="agencyRequest.email"-->
            <!--ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'-->


            <!--<p style="position: relative" class="error" ng-if="_claim.email.$error.required">Email Id is required</p>-->

            <!--<p style="position: relative" class="error" ng-if="_claim.email.$error.pattern">Email Id is invalid</p>-->

        </div>
        <div class="row paddingB20" ng-class="{'has-error': submitted && _claim.phone.$invalid}">

            <md-input-container class="md-block">
                <label>Phone Number</label>
                <input phone-number class="form-control" name="phone" ng-model="agencyRequest.phone" required>

                <p class="error" ng-if="_claim.phone.$error.required">Phone Number is
                    required</p>
            </md-input-container>

        </div>
        <div class="row" ng-class="{'has-error': submitted && _claim.role.$invalid}">

            <md-input-container class="md-block">
                <label>Your role in the agency</label>
                <input class="form-control" name="role" ng-model="agencyRequest.role" required>

                <p class="error" ng-if="_claim.role.$error.required">Your role in the agency is
                    required</p>
            </md-input-container>
            <!---->
            <!--<div>Your role in the agency</div>-->
            <!--<input class="form-control" name="role" ng-model="agencyRequest.role" required>-->

            <!--<p style="position: relative" class="error" ng-if="_claim.role.$error.required">Your role in the agency is-->
            <!--required</p>-->
        </div>
        <div class="row paddingB20">
            <md-checkbox ng-click="priceHour=false;service=false;freelancer.price.hour=[]"
                         ng-model="apply"
                         class="md-warn">I have the authority to _claim this account on behalf of the
                business
            </md-checkbox>
        </div>
        <div class="row">
            <button type="submit" ng-disabled="!apply" class="btn btn-default"
                    ng-click="sendRequest(_claim.$invalid,agencyRequest);submitted=true">
                Submit
            </button>
            <button class="btn btn-back floatR" ng-click="claim('', false)">Cancel</button>
        </div>
    </form>
</div>