<div class="row text-center text-bold">Agency/Freelancer Registration</div>
<div class="row">I am</div>
<div class="pointer" ng-click="freelancer=false;agency=true">
    <input type="checkbox" ng-model="agency"> Agency
</div>
<div class="pointer" ng-click="freelancer=true;agency=false">
    <input type="checkbox" ng-model="freelancer"> Freelancer
</div>
<div class="row">
    <div class="text-bold">Freelancer Information</div>
    <div>Please provide brief information</div>
</div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>