<div class="container">
    <div>
        <ul class="flex menu" flex-menu="arrayProviders">
            <li ng-click="setActiveProvider(provider)"
                ng-class="{active: ownFilter.freelancer_type == provider}"
                ng-repeat="provider in arrayProviders">{{provider}}</li>
        </ul>
    </div>
    <section ng-if="!viewProfile">
        <div class="row">
            <div class="col-md-3 nopadding">

                <div class="full-width work-type border-grey" ng-class="{'topic-close':close.workType}">
                    <div class="full-width user-topic-top">
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                        <span>Work type</span>
                        <i class="fa pointer floatR" ng-class="{'fa-chevron-down': !close.workType,'fa-chevron-up': close.workType}" aria-hidden="true" ng-click="close.workType = !close.workType"></i>
                    </div>
                    <div class="user-topic-bottom" toggle="close.workType">
                        <div class="full-width marginLR20">
                            <md-checkbox ng-model="ownFilter.agency" ng-change="submitFilter(ownFilter)" class="md-warn">Agency</md-checkbox>
                            <md-checkbox ng-model="ownFilter.freelancer" ng-change="submitFilter(ownFilter)" class="md-warn">Freelancer</md-checkbox>
                        </div>
                    </div>
                </div>

                <div class="full-width user-topic border-grey" ng-class="{'topic-close':close.topic}">
                    <div class="full-width user-topic-top">
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                        <span>Industry Expertise</span>
                        <i class="fa pointer floatR" ng-class="{'fa-chevron-down':!close.topic,'fa-chevron-up':close.topic}" aria-hidden="true" ng-click="close.topic = !close.topic"></i>
                    </div>
                    <div class="user-topic-bottom" toggle="close.topic">
                        <div class="full-width">
                            <md-input-container md-no-float class="md-block" style="margin-bottom: 0px">
                                <input ng-model="search" type="text" placeholder="Search by Service Provided" >
                                <md-icon md-svg-src="/img/search.svg" style="display:inline-block;"></md-icon>
                            </md-input-container>
                        </div>
                        <div class="full-width">
                            <div ng-repeat="item in arrayTopics| filter:search">
                                <md-checkbox ng-model="ownFilter.industry_expertise[item]" ng-change="submitFilter(ownFilter)" class="md-warn">{{item}}</md-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="full-width user-block border-grey">
                    <div class="user-block-top">
                        <span>Content Type</span>
                        <i class="fa pointer floatR" ng-class="{'fa-chevron-down':!close.content,'fa-chevron-up':close.content}" aria-hidden="true" ng-click="close.content = !close.content"></i>
                    </div>
                    <div class="user-block-bottom" toggle="close.content">
                        <div ng-repeat="item in arrayContent">
                            <md-checkbox ng-model="ownFilter.content_type[item]" ng-change="submitFilter(ownFilter)" class="md-warn">{{item}}</md-checkbox>
                        </div>
                    </div>
                </div>

                <div class="full-width user-block border-grey">
                    <div class="user-block-top">
                        <span>Years of Experience</span>
                        <i class="fa pointer floatR" ng-class="{'fa-chevron-down':!close.experience,'fa-chevron-up': close.experience}" aria-hidden="true" ng-click="close.experience = !close.experience"></i>
                    </div>
                    <div class="user-block-bottom" toggle="close.experience">
                        <rzslider rz-slider-model="slider.experience.value" rz-slider-options="slider.experience.options"></rzslider>
                    </div>
                </div>

                <div class="full-width user-block border-grey">
                    <div class="user-block-top">
                        <span>Geography</span>
                        <i class="fa pointer floatR" ng-class="{'fa-chevron-down':!close.location,'fa-chevron-up': close.location}" aria-hidden="true" ng-click="close.location = !close.location"></i>
                    </div>
                    <div class="user-block-bottom" toggle="close.location">
                        <div ng-repeat="item in arrayLocations">
                            <md-checkbox ng-model="ownFilter.location[item]" ng-change="submitFilter(ownFilter)" class="md-warn">{{item}}</md-checkbox>
                        </div>
                    </div>
                </div>

                <div class="full-width user-block border-grey">
                    <div class="user-block-top">
                        <span>Languages</span>
                        <i class="fa pointer floatR" ng-class="{'fa-chevron-down':!close.languages,'fa-chevron-up': close.languages}" aria-hidden="true" ng-click="close.languages = !close.languages"></i>
                    </div>
                    <div class="user-block-bottom" toggle="close.languages">
                        <div ng-repeat="item in arrayLanguages">
                            <md-checkbox ng-model="ownFilter.languages[item]" ng-change="submitFilter(ownFilter)" class="md-warn">{{item}}</md-checkbox>
                        </div>
                    </div>
                </div>

                <div class="full-width user-block border-grey">
                    <div class="user-block-top">
                        <span>Package Available</span>
                        <i class="fa pointer floatR" ng-class="{'fa-chevron-down':!close.package,'fa-chevron-up': close.package}" aria-hidden="true" ng-click="close.package = !close.package"></i>
                    </div>
                    <div class="user-block-bottom" toggle="close.package">
                        <md-radio-group ng-model="ownFilter.package">
                            <md-radio-button ng-value="true" aria-label="Yes">Yes</md-radio-button>
                            <md-radio-button ng-value="false" aria-label="No">No</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 col-xs-6" ng-if="!(freelancers | orderBy:category_active | filter:mainSearch).length"><h3>Not found</h3></div>

                    <div class="col-md-3 col-xs-6" ng-repeat="profile in freelancers | orderBy:category_active | filter:mainSearch">
                        <div class="profile-detail">
                            <img class="profile-poster-detail" ng-src="{{profile.poster.url}}">
                            <ul style="list-style-type: none;">
                                <li>{{profile.name}}</li>
                                <li>{{profile.location}}</li>
                            </ul>
                            <span ng-repeat="star in profile.ratingArr track by $index " class="rating-star glyphicon" ng-class="{'glyphicon-star': star,'glyphicon-star-empty':!star}"></span>
                            <div class="fa block-popularity" ng-repeat="elem in profile.popularityArr track by $index" ng-class="{'fa-square': elem,'fa-square-o': !elem}"></div>
                            <button class="btn btn-default full-width" ng-click="showProfile(profile._id)">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ng-if="viewProfile" ng-include="'template/profile.html'"></section>
</div>