<div class="way container">
    <div ncy-breadcrumb></div>
</div>

<div class="container" style="margin-top: 2%">
    <div class="row">
        <div class="col-md-3">
            <div>
                <div class="user-topic-header">
                    WORK TYPE
                </div>
                <div toggle="close.workType">
                    <div class="">
                        <md-radio-group ng-model="ownFilter.type" ng-change="submitFilter(ownFilter)">
                            <md-radio-button value="agency" class="md-primary">Agency</md-radio-button>
                            <md-radio-button value="freelancer">Freelancer</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>


            <section ng-if="activeProvider.name">
                <div ng-class="{'topic-close':close[activeProvider.name]}" class="user-topic" ng-if="(activeProvider.values | filter:{subFilter:'!'}).length">
                    <div class="user-topic-header">
                        {{activeProvider.name}}
                        <ng-md-icon icon="expand_more" class="expand-topic" size="32" ng-class="{'display-none': close[activeProvider.name]}" ng-click="close[activeProvider.name] = !close[activeProvider.name]"></ng-md-icon>
                        <ng-md-icon icon="expand_less" class="expand-topic" size="32" ng-class="{'display-none': !close[activeProvider.name]}" ng-click="close[activeProvider.name] = !close[activeProvider.name]"></ng-md-icon>
                    </div>
                    <div toggle="close[activeProvider.name]">
                        <div ng-if="activeProvider.values.length>5">
                            <md-input-container md-no-float class="md-block">
                                <input ng-model="search[activeProvider.name]" type="text" placeholder="Search">
                                <md-icon md-svg-src="/img/search.svg" style="top: 12px"></md-icon>
                            </md-input-container>
                        </div>
                        <div ng-class="{'user-topic-filter': activeProvider.values.length>5 && !viewMore[activeProvider.name]}">
                            <div ng-repeat="value in activeProvider.values | filter:{subFilter:'!', name: search[activeProvider.name]}">
                                <md-checkbox ng-model="value.selected" aria-label="hidden" ng-init="value.selected=activeProvider.subName==value.name" class="md-warn">{{value.name}}</md-checkbox>
                            </div>
                        </div>
                        <div class="pointer" style="color: red" ng-show="activeProvider.values.length>5 && !viewMore[activeProvider.name]" ng-click="viewMore[activeProvider.name]=true">MORE</div>
                        <div class="pointer" style="color: red" ng-show="viewMore[activeProvider.name]" ng-click="viewMore[activeProvider.name]=false">LESS</div>
                    </div>
                </div>
                <section ng-if="(activeProvider.values | filter:{subFilter:'!!'}).length">
                    <div ng-class="{'topic-close':close[obj.subFilter]}" class="user-topic" ng-repeat="obj in (activeProvider.values | filter:{subFilter:'!!'})">
                        <div class="user-topic-header">
                            {{obj.subFilter}}
                            <ng-md-icon icon="expand_more" class="expand-topic" size="32" ng-class="{'display-none': close[obj.subFilter]}" ng-click="close[obj.subFilter] = !close[obj.subFilter]"></ng-md-icon>
                            <ng-md-icon icon="expand_less" class="expand-topic" size="32" ng-class="{'display-none': !close[obj.subFilter]}" ng-click="close[obj.subFilter] = !close[obj.subFilter]"></ng-md-icon>
                        </div>
                        <div toggle="close[obj.subFilter]">
                            <div ng-if="obj.arr.length>5">
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="search[obj.subFilter]" type="text" placeholder="Search">
                                    <md-icon md-svg-src="/img/search.svg" style="top: 12px"></md-icon>
                                </md-input-container>
                            </div>
                            <div ng-class="{'user-topic-filter': obj.arr.length>5 && !viewMore[obj.subFilter]}">
                                <div ng-repeat="value in obj.arr | filter: {name : search[obj.subFilter]}">
                                    <md-checkbox ng-model="value.selected" aria-label="hidden" ng-init="value.selected=activeProvider.subSubName==value.name" class="md-warn">{{value.name}}</md-checkbox>
                                </div>
                            </div>
                            <div class="pointer" style="color: red" ng-show="!viewMore[obj.subFilter] && obj.arr.length>5" ng-click="viewMore[obj.subFilter]=true">MORE</div>
                            <div class="pointer" style="color: red" ng-show="viewMore[obj.subFilter]" ng-click="viewMore[obj.subFilter]=false">LESS</div>
                        </div>
                    </div>
                </section>
            </section>

            <div class="user-topic">
                <div class="user-topic-header">
                    Years of Experience
                    <ng-md-icon icon="expand_more" class="expand-topic" size="32" ng-class="{'display-none': close.experience}" ng-click="close.experience = !close.experience"></ng-md-icon>
                    <ng-md-icon icon="expand_less" class="expand-topic" size="32" ng-class="{'display-none': !close.experience}" ng-click="close.experience = !close.experience"></ng-md-icon>
                </div>
                <div toggle="close.experience">
                    <rzslider rz-slider-model="slider.experience.value" rz-slider-options="slider.experience.options"></rzslider>
                </div>
            </div>

            <div class="user-topic">
                <div class="user-topic-header">
                    Location
                    <ng-md-icon icon="expand_more" class="expand-topic" size="32" ng-class="{'display-none': close.location}" ng-click="close.location = !close.location"></ng-md-icon>
                    <ng-md-icon icon="expand_less" class="expand-topic" size="32" ng-class="{'display-none': !close.location}" ng-click="close.location = !close.location"></ng-md-icon>
                </div>
                <div toggle="close.location">
                    <div ng-repeat="item in arrayLocations">
                        <md-checkbox ng-model="ownFilter.location[item]" ng-change="submitFilter(ownFilter)" class="md-warn">{{item}}</md-checkbox>
                    </div>
                </div>
            </div>

            <div class="user-topic">
                <div class="user-topic-header">
                    Package Available
                    <ng-md-icon icon="expand_more" class="expand-topic" size="32" ng-class="{'display-none': close.package}" ng-click="close.package = !close.package"></ng-md-icon>
                    <ng-md-icon icon="expand_less" class="expand-topic" size="32" ng-class="{'display-none': !close.package}" ng-click="close.package = !close.package"></ng-md-icon>
                </div>
                <div toggle="close.package">
                    <md-radio-group ng-model="ownFilter['service_packages.0']" ng-change="submitFilter()">
                        <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                        <md-radio-button ng-value="false">No</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div ng-if="loading">
                <div class="text-center">
                    <h3>Please wait</h3>
                    <loading w="20" h="20" margin-top="20" margin-bottom="20"></loading>
                </div>
            </div>
            <div ng-if="!loading">
                <h3 ng-if="!(freelancers | orderBy:category_active | filter:mainSearch).length" style="text-align: center">Not found</h3>
                <div class="row">
                    <div class="col-md-3 col-xs-6" ng-repeat="profile in freelancers | orderBy:category_active | filter:mainSearch">

                        <div class="profile-detail">
                            <div class="img-block">
                                <img ng-click="$state.go('categories.profile', {id: profile._id})" ng-src="{{profile.contact_detail.preview}}">
                            </div>
                            <div class="padding-10">
                                <div class="profile-title">{{profile.name}}</div>
                                <div style="font-size: 12px"><i style="margin-right: 5px" class="fa fa-map-marker" aria-hidden="true"></i>{{profile.location}}</div>
                                <div style="font-size: 12px"><i style="margin-right: 5px" class="fa fa-inr" aria-hidden="true"></i>{{profile.price.hour || 0}} / Hr</div>
                                <div class="profile-back-rating-block-category">
                                    <div class="inline-block text-center" style="width: 50%">
                                        <star-rating ng-model="profile.rating"></star-rating>
                                    </div>
                                    <div class="inline-block text-right" style="width: 10%;float: right;">{{profile.ratingCount}}</div>
                                </div>
                            </div>

                            <div class="view-details-button" ng-click="$state.go('categories.profile', {id: profile._id})">
                                View Details
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>