<div class="container" style="height: 100%; background-color: #0000fe " ng-controller='chatCtrl'>
    <div class="row">
        <div class="col-md-2">
            <h2>Chats</h2>

            <div style="
        max-height: 450px;
        overflow: hidden;
        overflow-y: auto;">
                <div ng-repeat="chat in ChatRoom" class="panel  "
                     style="margin-top: 5%; cursor:pointer;"
                     ng-click="selectJob($index)"
                     ng-class="{true:'panel-primary', false:'panel-default'}[chatspace.jobId==$index]">
                    <div class="panel-heading">{{chat.name}}</div>
                    <div class="panel-body">{{chat.seller}}</div>
                </div>
                {{chatspace.jobId}}
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="panel">
                <form name="chatForm">
                    <div class="panel-body">
                        <ul class="chat"
                            style="
                            height: 300px;
                        max-height: 350px;
                        overflow: hidden;
                        overflow-y: auto;">
                            <li ng-if="!chatspace.messages.length">
                                You haven't message in this chat
                            </li>
                            <li ng-repeat="msg in chatspace.messages" class=" "
                                ng-class="{true:' left', false:' right'}[msg.sender==chatspace.currentUser]">
                            <span class="chat-img "
                                  ng-class="{true:' pull-left', false:' pull-right'}[msg.sender==chatspace.currentUser]">
                       <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle"/>
                       </span>

                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <small class="text-muted"
                                               ng-class="{true:' pull-right', false:' pull-left'}[msg.sender==chatspace.currentUser]">
                                            <span class="glyphicon glyphicon-time"></span> {{msg.time}} mins ago
                                        </small>
                                    </div>
                                    <p>
                                        {{msg.message}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="chat-fileds"></div>
                        <textarea class="form-control" rows="4" ng-model="message" name="myName" required></textarea>
                        <span ng-show="chatForm.myName.$invalid && chatspace.submitted">The name is required.</span>
                        <button class="btn btn-default"
                                ng-click="sendMess(message,chatForm.myName.$invalid);chatspace.submitted=true">Send
                        </button>
                        <span ng-if="chatspace.errorSend" class="text-danger">Message not send</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>