
<div>
    <div class="container">
    <div class="row">
        <div class=" text-center "><h3>Claim your Agency Page</h3></div>
    </div>
    <div class="row">
        <div class="text-center  padding20"><h3>Find and Claim your Agency Page</h3></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-xs-12">
            <div class="col-md-6 col-xs-12">
                <md-input-container class="md-block">
                    <label>Agency Name</label>
                    <input class="form-control" name="description" ng-model="search.name" required>
                </md-input-container>
            </div>
            <div class="col-md-6 col-xs-12">
                <md-input-container class="md-block">
                    <label>City</label>
                    <input class="form-control" name="description" ng-model="search.location" required>
                </md-input-container>
            </div>
        </div>
        <div class="btnSearch">
            <button class="col-md-offset-0 col-md-2 col-xs-offset-1 col-xs-10 btn btn-back btn-search">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
    <div class="row paddingB40">
        <table class="table col-xs-12 table-striped marginT20">

            <thead>
                <th class="text-center">Logo</th>
                <th class="text-center">Agency Name</th>
                <th class="text-center">Service Category</th>
                <th class="text-center">Address</th>
                <th class="text-center">Status</th>
            </thead>

            <tbody>
                <tr ng-repeat="item in agencies">
                    <td class="text-center"><img ng-src="{{item.contact_detail.preview}}" style="max-width: 50px"/></td>
                    <td class="text-center">{{item.name}}</td>
                    <td class="text-center"><span ng-repeat="type in item.freelancer_type">{{type}}<span ng-if="!$last">, </span> </span></td>
                    <td class="text-center">{{item.location}}</td>
                    <td class="text-center">
                        <div ng-show="!item.business_account">
                            <span ng-show="(businessAccounts | filter:{agency: item._id,  user: current_user._id, status: 0}).length" >Pending</span>
                            <span ng-show="(businessAccounts | filter:{agency: item._id,  user: current_user._id, status: 1}).length" >Claimed</span>
                            <button ng-hide="(businessAccounts | filter:{agency: item._id,  user: current_user._id}).length" ng-click="claim(item)" class="btn btn-default">Claim</button>
                        </div>
                        <span ng-show="item.business_account">Claimed</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <div custom-pagination="configPagination" cb="cb(currentPage)"></div>
        </div>

    </div>

    <div class="claimAgencyPage">
        <div class="row  paddingLR20">
            <div class="text-bold text-center padding10">Why you should claim your agency page?</div>
        </div>
        <div class="row paddingLR20">
            <div class="text-bold padding10">Manage your own agency profile</div>
            <div>Update information about your agency such as website URL, services that you offer, past clients, and
                samples of
                your work.
            </div>
        </div>
        <div class="row  paddingLR20">
            <div class="text-bold padding10">Respond to Jobs</div>
            <div>Apply for jobs posted by businesses and communicate directly with then</div>
        </div>
        <div class="row  paddingLR20">
            <div class="text-bold padding10">Analytics (Coming Soon)</div>
            <div class="paddingB20">Keep a track of visitors and engagement on your agency profile page.</div>
        </div>
    </div>
    <img src="../img/town.png" class="width100">
    </div>
</div>
