<div class="container">
    <div class="cont">

        <h1 class="title2" ng-if="info.is_details_page">Contract Details #{{contract._id}}</h1>
        <h1 class="title2" ng-if="info.is_approve_page">Approve Contract #{{contract._id}}</h1>
        <h1 class="title2" ng-if="info.is_close_page">Close Contract #{{contract._id}}</h1>
        <h1 class="title2" ng-if="info.is_reject_page">Reject Contract #{{contract._id}}</h1>
        <h1 class="title2" ng-if="info.is_pause_page">Pause Contract #{{contract._id}}</h1>
        <h1 class="title2" ng-if="info.is_resume_page">Resume Contract #{{contract._id}}</h1>
        <div class="separator2"></div>

        <div ng-if="info.is_reject_page">
            <md-input-container class="md-block" ng-class="{'has-error': submitted && formContract.title.$invalid}">
                <div class="title3">Reject Reason</div>
                <textarea style="height: 100px!important;" class="form-control" name="title"
                          ng-enter="createContract(contract); submitted=true"
                          ng-model="contract.reject_reason" required>\n\n\n</textarea>
                <p class="error" ng-if="formContract.title.$error.required">Reason can't be empty</p>

            </md-input-container>
            <button class="btn btn-grey w100" ng-click="reject(contract)">Send Reject Request</button>
        </div>
        <div class="star-rating" star-rating rating-value="rating"
             data-max="10" on-rating-selected="rateFunction(rating)"></div>
        <div ng-if="info.is_resume_page">
            <md-input-container class="md-block" ng-class="{'has-error': submitted && formContract.title.$invalid}">
                <div class="title3">Resume Comment</div>
                <textarea style="height: 100px!important;" class="form-control" name="title"
                          ng-enter="createContract(contract); submitted=true"
                          ng-model="contract.resume_reason" required>\n\n\n</textarea>
                <p class="error" ng-if="formContract.title.$error.required">Reason can't be empty</p>

            </md-input-container>
            <button class="btn btn-grey w100" ng-click="resume(contract)">Send Resume Request</button>
        </div>

        <div ng-if="info.is_pause_page">
            <md-input-container class="md-block" ng-class="{'has-error': submitted && formContract.title.$invalid}">
                <div class="title3">Pause Reason</div>
                <textarea style="height: 100px!important;" class="form-control" name="title"
                          ng-enter="createContract(contract); submitted=true"
                          ng-model="contract.pause_reason" required>\n\n\n</textarea>
                <p class="error" ng-if="formContract.title.$error.required">Reason can't be empty</p>

            </md-input-container>
            <button class="btn btn-grey w100" ng-click="pause(contract)">Send Pause Request</button>
        </div>
        <div ng-if="info.is_close_page">
            <md-input-container class="md-block" ng-class="{'has-error': submitted && formContract.title.$invalid}">
                <div class="title3">Closure Comment</div>
                <textarea style="height: 100px!important;" class="form-control" name="closure_comments" submitted=true"
                          ng-model="contract.closure_comment" required></textarea>
                <p class="error" ng-if="formContract.title.$error.required">Closure comment can't be empty</p>
            </md-input-container>
            <div class="title3">How would you like to rate the service provider</div>
            <select ng-options="item as item for item in [1,2,3,4,5]" ng-model="contract.rating" class="form-control">
                <option>asdfasdf</option>
            </select>

            <div class="separator2"></div>
            <md-input-container class="md-block" ng-class="{'has-error': submitted && formContract.title.$invalid}">

                <div class="title3">Review Comment</div>
                <textarea class="form-control" name="review_comment" submitted=true"
                          ng-model="contract.review_comment" required></textarea>
                <p class="error" ng-if="formContract.title.$error.required">Closure comment can't be empty</p>
            </md-input-container>

            <button class="btn btn-grey w100" ng-click="close(contract)">Close the Contract</button>
        </div>

        <div ng-if="info.is_pause_page || info.is_reject_page || info.is_resume_page || info.is_close_page">
            <div class="separator2"></div>
            <div class="separator"></div>

            <h1 class="title2">Contract details</h1>
        </div>

        <div>
            <div class="iblock">
                <freelancer with-photo="true" item="contract.freelancer"></freelancer>
            </div>
        </div>
        <div class="iblock">
            <div class="title3">Job title</div>
            <div><a ui-sref="job({id: contract.job._id})">{{contract.title}}</a></div>
        </div>

        <div class="iblock">
            <div class="title3">Job information</div>
            <div>{{contract.information}}</div>
        </div>
        <div class="separator"></div>
        <div class="text-bold title3">Contracting Parties</div>
        <div class="row">
            <div class="col-md-6">
                <div class="iblock">
                    <div class="title3">Buyer Name*</div>
                    <div>
                        {{contract.buyer_name || '-'}}
                    </div>
                </div>
                <div class="iblock">

                    <div class="title3">Buyer Company name*</div>
                    <div>
                        {{contract.buyer_company_name || '-'}}
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="iblock">
                    <div class="title3">Seller Contact Person Name</div>
                    <div>{{contract.seller_contact|| '-'}}</div>
                </div>
                <div class="iblock">
                    <div class="title3">Seller Name</div>
                    <div>{{contract.seller_name || '-'}}</div>
                </div>
            </div>
        </div>
        <div class="separator"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="title3">Terms</div>
            </div>

            <div class="col-md-12">
                <div class="iblock">
                    <div class="title3">Payment Basis*<br>(mention deliverables, rate, and no. of units)</div>
                    <div>{{contract.payment_basis|| '-'}}</div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="iblock">

                    <div class="title3">Final Amount to be paid (Rs.)*</div>
                    <div>{{contract.final_amount}}</div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="iblock">
                    <div class="title3">Start date</div>
                    <date value="contract.expected_start"></date>
                </div>
                <div class="iblock">

                    <div class="title3">End date</div>
                    <date value="contract.expected_completion"></date>
                </div>
            </div>

            <div ng-if="info.is_approve_page">
                <div class="col-md-12">
                    <div class="separator"></div>
                </div>


                <div class="col-md-4">
                    <button class="btn btn-grey w100" ng-click="approve()">Approve</button>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-grey w100" ui-sref="contract_reject({id: contract._id})">Reject</a>
                </div>
                <div class="col-md-4">
                    <a ui-sref="contract_suggest_from_seller({id: contract._id})" class="btn btn-grey w100">Suggest
                        Edits</a>
                </div>
            </div>


        </div>

    </div>
</div>
</div>