<div class="site-footer">
    <footer class="home-footer" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12 text-center-xs pull-left font-family" style="padding-top: 7px;">
                    <a class="home-footer-text pointer" ui-sref='About'>About</a>
                    <a class="home-footer-text pointer" ui-sref='Testimonial'>Testimonial</a>
                    <a class="home-footer-text pointer" ui-sref='Show to list'>Show to list</a>
                    <a class="home-footer-text pointer" ui-sref='how_it_work'>How it works</a>
                    <a class="home-footer-text pointer" ui-sref='Clients'>Clients</a>
                    <a class="home-footer-text pointer" ui-sref='Terms & Conditions'>Terms & Conditions</a>
                    <a class="home-footer-text pointer" ui-sref='Press'>Press</a>
                    <a class="home-footer-text pointer" ui-sref='Contact'>Contact</a>
                </div>
                <div class="col-sm-4 col-xs-12 text-center-xs paddingTB15-xs pull-right text-right" style="">
                    <div class="row">
                        <div class="home-footer-social-link">
                            <i class="fa fa-google-plus home-footer-social-link-img" aria-hidden="true"></i>
                        </div>
                        <div class="home-footer-social-link">
                            <i class="fa fa-linkedin-square home-footer-social-link-img" aria-hidden="true"
                               style="font-size: 16px;top:5px"></i>
                        </div>
                        <div class="home-footer-social-link ">
                            <i class="fa fa-twitter home-footer-social-link-img" aria-hidden="true"
                               style="font-size: 16px;top:5px"></i>
                        </div>
                        <div class="home-footer-social-link">
                            <i class="fa fa-pinterest-p home-footer-social-link-img" aria-hidden="true"
                               style="font-size: 22px;top: 4px;"></i>
                        </div>
                        <div class="home-footer-social-link">
                            <i class="fa fa-facebook home-footer-social-link-img" aria-hidden="true"
                               style="font-size: 17px;left: 8px;"></i>
                        </div>
                        <div class="home-footer-social-link">
                            <i class="fa fa-instagram home-footer-social-link-img" aria-hidden="true"
                               style="font-size: 20px;top: 3px;left: 5px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 home-footer-text text-center-xs paddingT10-xs pull-left" style="padding-left: 30px;">© 12TH CROSS 2016
            </div>
            <div class="col-sm-6 col-xs-12 home-footer-text text-right text-center-xs paddingT10-xs pull-right">POWERED
                BY: IGENERO
            </div>
        </div>
    </div>
</div>