<div class="site-footer">
    <footer class="home-footer" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-xs-12 text-center-xs pull-left font-family" style="padding-top: 3px;">
                    <a class="home-footer-text pointer" ui-sref='About'>About</a>
                    <a class="home-footer-text pointer" ui-sref='Testimonial'>Testimonial</a>
                    <a class="home-footer-text pointer" ui-sref='Show to list'>Show to list</a>
                    <a class="home-footer-text pointer" ui-sref='How it works'>How it works</a>
                    <a class="home-footer-text pointer" ui-sref='Clients'>Clients</a>
                    <a class="home-footer-text pointer" ui-sref='Terms & Conditions'>Terms & Conditions</a>
                    <a class="home-footer-text pointer" ui-sref='Press'>Press</a>
                    <a class="home-footer-text pointer" ui-sref='Contact'>Contact</a>
                </div>
                <div class="col-sm-3 col-xs-12 text-center-xs paddingTB15-xs pull-right text-right">
                    <div class="home-footer-social-link">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </div>
                    <div class="home-footer-social-link">
                        <i class="fa fa-linkedin-square" aria-hidden="true" style="padding-left:1px"></i>
                    </div>
                    <div class="home-footer-social-link">
                        <i class="fa fa-twitter" aria-hidden="true" style="padding-left:2px"></i>
                    </div>
                    <div class="home-footer-social-link">
                        <i class="fa fa-pinterest-p" aria-hidden="true" style="padding-left:2px"></i>
                    </div>
                    <div class="home-footer-social-link">
                        <i class="fa fa-facebook" aria-hidden="true" style="padding-left:3px"></i>
                    </div>
                    <div class="home-footer-social-link">
                        <i class="fa fa-instagram" aria-hidden="true" style="padding-left:1px"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 text-center-xs paddingT10-xs pull-left">© 12TH CROSS 2016</div>
            <div class="col-sm-6 col-xs-12 text-right text-center-xs paddingT10-xs pull-right">POWERED BY: IGENERO</div>
        </div>
    </div>
</div>