<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
    <div class="login-form common-style-form">
        <form name="restorepass" class="">
            <div ng-if="send" class="form-group " ng-class="{'has-error': submitted && restorepass.email.$invalid}">
                <label>Your Email</label>
                <input name="email" type="email" class="form-control"
                       placeholder="Input your email" ng-model="email" required
                       ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'/>
            </div>
            <div class="form-group">
                <button class="btn full-width btn-primary" type="submit"
                        ng-click="restore(restorepass.$invalid,email);send = false; submitted = true">{{button}}
                </button>
            </div>
            <div class="text-left">
                <a class="email" href="" ng-click="go('/login')">Go to Login </a>
            </div>
        </form>
        <p style="position: relative">{{error}}</p>

        <p style="position: relative" class="error" ng-if="restorepass.email.$error.pattern">Email is invalid</p>

        <div ng-if="!send">Instructions have been sent to your email.</div>
    </div>
</div>

