<div class="container" ng-init="freelancer.type=freelancer.type || 'agency'">
    <h1 class="row text-center text-bold" ng-show="freelancer.type=='agency'">Agency Registration</h1>
    <h1 class="row text-center text-bold" ng-show="freelancer.type=='freelancer'">Freelancer Registration</h1>

    <div class="row">
        <div class="col-md-12">
            <md-radio-group ng-model="freelancer.type">
                <md-radio-button value="agency" class="md-primary">Agency</md-radio-button>
                <md-radio-button value="freelancer" >Freelancer</md-radio-button>
            </md-radio-group>
        </div>
    </div>

    <div ng-show="freelancer.type == 'agency'" ng-include="'/template/freelance/agency.html'"></div>
    <div ng-show="freelancer.type == 'freelancer'" ng-include="'template/freelance/freelancer.html'"></div>
</div>
<div ng-show="show.pkgModal" class="delete-modal-block">
    <div class="createPackage" ng-include="'template/createPackage.html'"></div>
</div>

<script type="text/ng-template" id="attachFile">

    <form name="myForm">
        <fieldset>
            <legend>Upload on form submit</legend>
            <div class="testContainer">
                <div ng-show="showDrop" ngf-drop ngf-select ng-model="picFile" class="drop-box">Drop</div>
                 <span class="progress" ng-show="picFile.progress >= 0">
                  <div style="width:{{picFile.progress}}%"
                       ng-bind="picFile.progress + '%'"></div>
                </span>
                <span ng-show="picFile.result">Upload Successful</span>
            </div>
            <i ng-show="myForm.file.$error.maxSize">File too large
                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </fieldset>
        <br>

    </form>

</script>
<script type="text/ng-template" id="attachImgProfile">

    <form name="myForm">
        <fieldset>
            <legend>Upload on form submit</legend>
            <div class="containerDrop" ng-class="{'containerCrop':showCrop}" style="text-align: center;">
                <div ng-show="showDrop" ngf-drop ngf-select ng-model="picProfile" class="drop-box">Drop</div>
                <div ng-show="showCrop" ngf-drop ng-model="picProfile" ngf-pattern="image/*"
                     class="cropArea">
                    <img-crop area-type="square" image="picProfile  | ngfDataUrl"
                              result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                    </img-crop>
                </div>
                <button ng-show="showCrop" class="btn btn-default" style="margin-top: 10px;width: 200px;" ng-click="upload(croppedDataUrl, picProfile.name)">Submit</button>

                <span class="progress" ng-show="progress >= 0">
                  <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                </span>
                <span ng-show="result">Upload Successful</span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </fieldset>
        <br>

    </form>

</script>

