<nav class="navbar navbar-default top-home" ng-controller="HeaderCtrl" style="position: fixed; top:0px">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="text-white pointer header-logo" ng-click="go('/')">12TH CROSS</div>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="header-search-block">
                        <div class="full-width">
                            <md-autocomplete class="header-search"
                                    ng-disabled="false"
                                    md-no-cache="true"
                                    md-search-text="ctrl.searchText"
                                    md-selected-item-change="ctrl.selectedItemChange(item)"
                                    md-items="item in ctrl.search(ctrl.searchText)"
                                    md-item-text="item.displayTitle"
                                    md-min-length="2"
                                    ng-enter="$state.go('category');"
                                    placeholder="search type">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.displayTitle}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{ctrl.searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                </li>
                <li ng-if="$state.current.name == 'profile'" class="floatL" style="margin-right: 5px">
                    <a ui-sref='agencies' class="btn btn-header">CLAIM YOUR AGENCY</a>
                </li>
                <li class="floatL" style="margin-right: 5px">
                    <a ui-sref='root.job_create' class="btn btn-header">POST A PROJECT</a>
                </li>
                <!--<li class="top-menu" ng-if="asView.buyer" ng-class="{active: $state.current.name=='root.job_create'}"><a-->
                        <!--ng-click="$state.go('root.job_create')"-->
                        <!--class="text-black top-menu-text">POST A PROJECT</a></li>-->
                <li class="floatL">
                    <a ui-sref='jobs_list.all' class="btn btn-header">FIND PROJECTS</a>
                    <a ui-sref="favorite" style="padding: 0 !important;display: inline-block !important;">
                        <ng-md-icon icon="favorite" class="text-header-menu inline-block"
                                    style="cursor: pointer;fill: white;position: relative;top: 8px;margin-left: 10px;"
                                    size="24"></ng-md-icon>
                    </a>
                </li>
                <li class="floatR" ng-if="!isLogged()">
                    <a class="pull-right text-header-menu marginT12 paddingLR10 pointer" ui-sref="signup"
                       style="{font-size: 10pt; margin-left: 10px;}">Sign Up</a>
                    <a class="pull-right text-header-menu marginT12 paddingLR10 pointer" ui-sref="login"
                       style="{font-size: 10pt; margin-left: 10px;}">Sign In</a>
                </li>
                <li class="floatR dropdown" ng-if="isLogged()" style="color: white">
                    <div href="" class="dropdown-toggle pointer" data-toggle="dropdown" role="button"
                         aria-haspopup="true" aria-expanded="false">
                        <div style="display: inline-block;margin-left: 10px;">
                            <img style="width: 32px;border-radius: 23px;top: 8px;position: relative;"
                                 ng-show="currentUser().preview" ng-src="{{currentUser().preview}}">
                            <ng-md-icon ng-hide="currentUser().preview" icon="account_circle"
                                        style="fill: red;top: 4px;position: relative;" size="42"></ng-md-icon>
                        </div>
                        <div style="float: right;margin-left: 10px">
                            <div style="display: inline-block;position: relative;top:-4px;color: white;">
                                {{currentUser().first_name}} {{currentUser().last_name}}
                            </div>
                            <ng-md-icon icon="keyboard_arrow_down" style="position: relative;top: 9px;fill: white;"
                                        size="32"></ng-md-icon>
                        </div>
                    </div>
                    <ul class="dropdown-menu">
                        <li ng-click="asView.buyer=true;asView.seller=false;" ng-class="{active: asView.buyer}"><a
                                href="">As Buyer</a></li>
                        <li ng-if="isFreelancer" ng-click="asView.seller=true;asView.buyer=false;" ng-class="{active: asView.seller}"><a
                                href="">As Seller</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-class="{active: $state.current.name == 'my_profile'}"><a href="" ui-sref='my_profile'>Profile</a>
                        </li>
                        <!--<li><a href="">My Activities</a></li>-->
                        <li><a ng-click="logout()" href="">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
    <div class="header-navigation">
        <div class="container">
            <nav id="primary_nav_wrap">
                <!--<ul class="flex menu" flex-menu="filters" ng-if="currentUser() && ['categories', 'home'].indexOf($state.current.name) == -1">-->
                <ul class="flex menu" flex-menu="filters"
                    ng-class="{'flex-fix': currentUser() && $state.current.name && ['categories','category', 'home', 'root.job_create', 'how_it_work'].indexOf($state.current.name) == -1}">
                    <li class="top-menu" ng-class="{active: $state.current.name=='dashboard'}"><a ui-sref='dashboard' class="text-black top-menu-text">DASHBOARD</a></li>

                    <li class="top-menu"
                        ng-class="{active: ['jobs_list','jobs_list.all', 'jobs_list.buyer_open', 'jobs_list.buyer_ongoing', 'jobs_list.buyer_closed','jobs_list.seller_open', 'jobs_list.seller_ongoing', 'jobs_list.seller_closed'].indexOf($state.current.name)>-1}">
                            <a ui-sref='jobs_list.all' class="text-black top-menu-text">FIND PROJECTS</a></li>
                </ul>
                <ul class="flex menu"
                    ng-class="{'flex-fix': !currentUser() ||  ['categories', 'category', 'home', 'how_it_work'].indexOf($state.current.name) > -1}"
                    flex-menu="commonFilters">
                    <li class="top-menu" ng-repeat="(key, item) in filtersArr | orderBy:'order'"
                        ng-class="{active: activeProvider.name == item.title}">
                        <a class="text-black top-menu-text" ng-click="setActiveProvider(item.title, item.data);goCategories()">{{item.title}}</a>
                        <div class="sub-nav" style="position: absolute">
                            <ul class="top-sub-ul" ng-repeat="val in item.data | orderBy:'filter_order'">
                                <li ng-if="val.name"
                                    ng-class="{active: activeProvider.subName == val.name && activeProvider.name == item.title}">
                                    <a ng-click="setActiveProvider(item.title, item.data);setSubMenu(val.name);goCategories()"
                                       class="text-black top-sub-menu-text">{{val.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>