<nav class="navbar navbar-default top-home" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="text-white pointer header-logo" ng-click="go('/')">12TH CROSS</div>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <button href="/#/jobs" class="btn btn-header">VIEW JOBS</button>
                <ng-md-icon icon="favorite" style="fill: white;position: relative;top: 8px;margin-left: 10px;" size="24"></ng-md-icon>
            </li>
            <li ng-if="!isLogged()">
                <div class="pull-right text-red marginT12 paddingLR10 pointer" ng-click="showAuth()" style="{font-size: 10pt;}">Signup</div>
                <div class="pull-right text-white marginT12 paddingLR10 pointer" ng-click="showAuth()" style="{font-size: 10pt;}">Login</div>
            </li>
            <li class="dropdown" ng-if="isLogged()" style="color: white">
                <div href="" class="dropdown-toggle pointer" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <ng-md-icon icon="account_circle" style="fill: red;top: 4px;position: relative;margin-left: 10px;" size="42"></ng-md-icon>
                    <div style="display: inline-block;position: relative;top: -13px;">{{currentUser().first_name}} {{currentUser().last_name}}</div>
                    <ng-md-icon icon="keyboard_arrow_down" style="fill: white;" size="32"></ng-md-icon>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="">As Buyer</a></li>
                    <li><a href="">As Seller</a></li>
                    <li><a href="" ng-click="$state.go('my_profile')">Profile</a></li>
                    <li><a href="">My Activities</a></li>
                    <li><a ng-click="logout()" href="">Logout</a></li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="header-navigation">
        <div class="container">
            <ul class="flex menu" flex-menu="arrayProviders">
                <li ng-click="setActiveProvider(provider)"
                    ng-class="{active: activeProvider == provider}"
                    ng-repeat="provider in arrayProviders">{{provider}}</li>
            </ul>
        </div>
    </div>
</nav>