<nav class="navbar navbar-default top-home" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="text-white pointer header-logo" ng-click="go('/')">12TH CROSS</div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <section ng-if="isLogged()">
                <div class="pull-right text-red marginT12 paddingLR10 pointer" ng-click="logout()" style="{font-size: 10pt;}">Logout</div>
            </section>
            <section ng-if="!isLogged()">
                <div class="pull-right text-red marginT12 paddingLR10 pointer" ng-click="showAuth()" style="{font-size: 10pt;}">Signup</div>
                <div class="pull-right text-white marginT12 paddingLR10 pointer" ng-click="showAuth()" style="{font-size: 10pt;}">Login</div>
            </section>
            <span class="glyphicon glyphicon-heart header-heart text-white pull-right paddingLR10 pointer"></span>
            <a href="/#/jobs" class="btn pull-right btn-header">VIEW JOBS</a>
        </div>

    </div>
    <div class="header-navigation">
        <div class="container">
            <md-menu-bar>
                    <span ng-repeat="filter in filters">
                        <md-menu ng-repeat="(name, obj) in filter">
                            <button ng-click="$mdOpenMenu()">
                                {{name}}
                            </button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="(key,value) in obj">
                                    <md-button ng-if="key == 'arr'" ng-repeat="button in value">
                                        {{button}}
                                    </md-button>
                                    <md-menu ng-if="key != 'arr'" ng-repeat="item in value">
                                            
                                    </md-menu>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </span>
            </md-menu-bar>


            <!--<ul class="flex menu" flex-menu="filters">-->
            <!--<li ng-click="setActiveProvider(provider)"-->
            <!--ng-class="{active: activeProvider == provider}"-->
            <!--ng-repeat="provider in filters">{{provider}}<span></span></li>-->
            <!--</ul>-->
        </div>
    </div>


    <!--<md-menu>-->
        <!--<button ng-click="$mdOpenMenu()">-->
            <!--File-->
        <!--</button>-->
        <!--<md-menu-4>-->
            <!--<md-menu-item>-->
                <!--<md-button ng-click="ctrl.sampleAction('share', $event)">-->
                    <!--Share...-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-divider></md-menu-divider>-->
            <!--<md-menu-item>-->
                <!--<md-menu>-->
                    <!--<md-button ng-click="$mdOpenMenu()">New</md-button>-->
                    <!--<md-menu-content>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="ctrl.sampleAction('New Document', $event)">Document</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="ctrl.sampleAction('New Presentation', $event)">Presentation</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="ctrl.sampleAction('New Form', $event)">Form</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="ctrl.sampleAction('New Drawing', $event)">Drawing</md-button>-->
                        <!--</md-menu-item>-->
                    <!--</md-menu-content>-->
                <!--</md-menu>-->
            <!--</md-menu-item>-->
            <!--<md-menu-item>-->
                <!--<md-button ng-click="ctrl.sampleAction('Open', $event)">-->
                    <!--Open...-->
                    <!--<span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-item>-->
                <!--<md-button disabled="disabled" ng-click="ctrl.sampleAction('Rename', $event)">-->
                    <!--Rename-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-divider></md-menu-divider>-->
            <!--<md-menu-item>-->
                <!--<md-button ng-click="ctrl.sampleAction('Print', $event)">-->
                    <!--Print-->
                    <!--<span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
        <!--</md-menu-4>-->
    <!--</md-menu>-->
    <!--<md-menu>-->
        <!--<button ng-click="$mdOpenMenu()">-->
            <!--Edit-->
        <!--</button>-->
        <!--<md-menu-content>-->
            <!--<md-menu-item class="md-indent">-->
                <!--<md-icon md-svg-icon="undo"></md-icon>-->
                <!--<md-button ng-click="ctrl.sampleAction('undo', $event)">-->
                    <!--Undo-->
                    <!--<span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-item class="md-indent">-->
                <!--<md-icon md-svg-icon="redo"></md-icon>-->
                <!--<md-button ng-click="ctrl.sampleAction('redo', $event)">-->
                    <!--Redo-->
                    <!--<span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-divider></md-menu-divider>-->
            <!--<md-menu-item class="md-indent">-->
                <!--<md-icon md-svg-icon="content-cut"></md-icon>-->
                <!--<md-button ng-click="ctrl.sampleAction('cut', $event)">-->
                    <!--Cut-->
                    <!--<span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-item class="md-indent">-->
                <!--<md-icon md-svg-icon="content-copy"></md-icon>-->
                <!--<md-button ng-click="ctrl.sampleAction('copy', $event)">-->
                    <!--Copy-->
                    <!--<span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-item class="md-indent">-->
                <!--<md-icon md-svg-icon="content-paste"></md-icon>-->
                <!--<md-button ng-click="ctrl.sampleAction('paste', $event)">-->
                    <!--Paste-->
                    <!--<span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-divider></md-menu-divider>-->
            <!--<md-menu-item class="md-indent">-->
                <!--<md-button ng-click="ctrl.sampleAction('Find and replace', $event)">-->
                    <!--Find and replace...-->
                    <!--<span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
        <!--</md-menu-content>-->
    <!--</md-menu>-->
    <!--<md-menu>-->
        <!--<button ng-click="$mdOpenMenu()">-->
            <!--View-->
        <!--</button>-->
        <!--<md-menu-content>-->
            <!--<md-menu-item type="checkbox" ng-model="ctrl.settings.printLayout">Print layout</md-menu-item>-->
            <!--<md-menu-item class="md-indent">-->
                <!--<md-menu>-->
                    <!--<md-button ng-click="$mdOpenMenu()">Mode</md-button>-->
                    <!--<md-menu-content width="3">-->
                        <!--<md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'presentation'">Presentation</md-menu-item>-->
                        <!--<md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'edit'">Edit</md-menu-item>-->
                        <!--<md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'modifiable'">Modifiable</md-menu-item>-->
                    <!--</md-menu-content>-->
                <!--</md-menu>-->
            <!--</md-menu-item>-->
            <!--<md-menu-divider></md-menu-divider>-->
            <!--<md-menu-item type="checkbox" ng-model="ctrl.settings.showRuler">Show ruler</md-menu-item>-->
            <!--<md-menu-item type="checkbox" ng-model="ctrl.settings.showEquationToolbar">Show equation toolbar</md-menu-item>-->
            <!--<md-menu-item type="checkbox" ng-model="ctrl.settings.showSpellingSuggestions">Show spelling suggestions</md-menu-item>-->
            <!--<md-menu-divider></md-menu-divider>-->
            <!--<md-menu-item type="checkbox" ng-model="ctrl.settings.compactControls">Compact controls</md-menu-item>-->
            <!--<md-menu-item type="checkbox" ng-model="ctrl.settings.fullScreen">Full screen</md-menu-item>-->
        <!--</md-menu-content>-->
    <!--</md-menu>-->
    <!--<md-menu>-->
        <!--<button ng-click="$mdOpenMenu()">-->
            <!--Format-->
        <!--</button>-->
        <!--<md-menu-content>-->
            <!--<md-menu-item>-->
                <!--<md-button ng-click="ctrl.sampleAction('bold', $event)">-->
                    <!--Bold-->
                    <!--<span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-item>-->
                <!--<md-button ng-click="ctrl.sampleAction('italic', $event)">-->
                    <!--Italic-->
                    <!--<span class="md-alt-text">{{ 'M-I' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-item>-->
                <!--<md-button ng-click="ctrl.sampleAction('underline', $event)">-->
                    <!--Underline-->
                    <!--<span class="md-alt-text">{{ 'M-U' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-item>-->
                <!--<md-button ng-click="ctrl.sampleAction('strikethrough', $event)">-->
                    <!--Strikethrough-->
                    <!--<span class="md-alt-text">{{ 'A-S-5' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-item>-->
                <!--<md-button ng-click="ctrl.sampleAction('superscript', $event)">-->
                    <!--Superscript-->
                    <!--<span class="md-alt-text">{{ 'M-.' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-item>-->
                <!--<md-button ng-click="ctrl.sampleAction('subscript', $event)">-->
                    <!--Subscript-->
                    <!--<span class="md-alt-text">{{ 'M-,' | keyboardShortcut }}</span>-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
            <!--<md-menu-divider></md-menu-divider>-->
            <!--<md-menu-item>-->
                <!--<md-button ng-click="ctrl.toggleSetting('clearFormatting')">Clear Formatting</md-button>-->
            <!--</md-menu-item>-->
        <!--</md-menu-content>-->
    <!--</md-menu>-->
</nav>