<div ng-if="mainPage">
    <div class="background-woman">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h1 class="text-center text-woman-image">Lorem ipsum dolor sit amet consectetur adipiscing</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row background-grey main-search">
                        <div class="col-sm-4">
                            <md-menu>
                                <div class="full-width input-border-home-woman" ng-click="$mdOpenMenu($event)">
                                    <span class="fa fa-map-marker input-home-maker"></span>
                                    <input class="form-control input-home-woman paddingL40 relative"
                                           ng-model="ctrl.city" placeholder="Enter City">
                                    <span class="fa fa-angle-down input-home-chevron pointer"></span>
                                </div>
                                <md-menu-content width="6">
                                    <md-menu-item ng-repeat="location in locations">
                                        <md-button ng-click="ctrl.city=location">
                                            {{location}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>

                            </md-menu>

                        </div>
                        <div class="col-sm-8">
                            <div class="full-width input-border-home-woman">
                                <md-autocomplete
                                        ng-disabled="false"
                                        md-no-cache="true"
                                        md-search-text="ctrl.searchText"
                                        md-selected-item-change="ctrl.selectedItemChange(item)"
                                        md-items="item in ctrl.search(ctrl.searchText)"
                                        md-item-text="item.displayTitle"
                                        md-min-length="2"
                                        ng-enter="$state.go('categories')"
                                        placeholder="What are you looking for">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.displayTitle}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No states matching "{{ctrl.searchText}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                                <span class="fa fa-search input-home-search" ng-hide="ctrl.searchText" ng-click="$state.go('categories')" style="cursor: pointer"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row back-service-provider">
            <div class="col-sm-12 text-center "><h2 class="marginTB10">Find Service Providers</h2></div>
            <div class="row fixAll">
                <div class="marginLR20 service-provider relative" ng-repeat="item in filtersArr | orderBy: 'order'"
                     ng-click="viewServiceProvider(item.title);activeProvider=item.title;">
                    <div class="text-center service-provider-icon">
                        <md-icon md-svg-icon="/img/{{item.title.split(' ').join('-').toLowerCase()}}.svg"></md-icon>
                    </div>
                    <div class="">{{item.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="howItWorks" class="how_it_work">
    <div class="container-fluid">
        <div class="row">
            <div class="div-background">
                <div class="background-img-top"></div>
                <div class="background-img-top-text"><h1>{{header.title}}</h1>
                    <p>{{header.description}}</p></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3 class="h3">How its work</h3>
                <p class="how-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam, consectetur
                    consequatur delectus,
                    eligendi enim error est exercitationem fugit iste officia optio possimus provident quibusdam rem,
                    repellat sapiente soluta tenetur.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="how-it-work-block">
                    <div class="header-block">
                        <div class="header-block-img">
                            <img src="/img/Forma1copy5.png" alt="mail">
                        </div>
                        <div class="header-block-headline">Post a job let people find you</div>
                    </div>
                    <div class="body-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        corporis, doloribus error ex fugit, illum ipsa ipsam magni minima odit, repellendus similique
                        sit soluta sunt veniam! Cum doloribus fugit quasi.
                    </div>
                    <button class="btn btn-deafult" ng-click="$state.go('root.job_create')">POST A JOB</button>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-5 col-xs-12">
                <div class="how-it-work-block">
                    <div class="header-block">
                        <div class="header-block-img">
                            <img src="/img/Forma1copy6.png" alt="mail">
                        </div>
                        <div class="header-block-headline">Search profiles & freelancers and angecy</div>
                    </div>
                    <div class="body-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        corporis, doloribus error ex fugit, illum ipsa ipsam magni minima odit, repellendus similique
                        sit soluta sunt veniam! Cum doloribus fugit quasi.
                    </div>
                    <button class="btn btn-deafult" ng-click="$state.go('root.job_create')">POST A JOB</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="how-it-work-block">
                    <div class="header-block">
                        <div class="header-block-img">
                            <img src="/img/Forma1_17.png" alt="mail">
                        </div>
                        <div class="header-block-headline">Manage Jobs From Anywhere</div>
                    </div>
                    <div class="body-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        corporis, doloribus error ex fugit, illum ipsa ipsam magni minima odit, repellendus similique
                        sit soluta sunt veniam! Cum doloribus fugit quasi.
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-5 col-xs-12">
                <div class="how-it-work-block">
                    <div class="header-block">
                        <div class="header-block-img">
                            <img src="/img/Forma1_18.png" alt="mail">
                        </div>
                        <div class="header-block-headline">Pay Only For A Job Well Done</div>
                    </div>
                    <div class="body-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        corporis, doloribus error ex fugit, illum ipsa ipsam magni minima odit, repellendus similique
                        sit soluta sunt veniam! Cum doloribus fugit quasi.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-lightgrey paddingB50" ng-show="profiles.length">
    <div class="container">
        <div class=" text-center marginTB20"><h2 class="marginTB10"> Featured Profiles</h2></div>
        <div class="row">
            <div class="col-md-3 col-xs-6 col-sm-6 noborder pointer" style="padding: 2px;"
                 ng-repeat="profile in profiles">
                <a class="profile inline-block full-width flip-container" ontouchstart="this.classList.toggle('hover');" style="border: none">
                    <div class="flipper">
                        <div class="flip-front" style="border: 1px solid #ddd">
                            <div ng-class="{'active-like': favorites.indexOf(profile._id)>-1}" class="like-field" ng-click="favorites.indexOf(profile._id)==-1 ? addFavorite(profile._id) : removeFavorite(profile._id)"><i
                                    class="fa fa-heart like-field-heart" aria-hidden="true"></i></div>
                            <div class="profile-img">
                                <img class="profile-poster" ng-src="{{profile.contact_detail.preview}}">
                                <!--<img ng-if="profile.verified" class="thurmbup" src="/img/thumbsup.png">-->
                            </div>
                            <div class="profile-info" style="color: #000000">
                                <!--<div class="text-center profile-info-name">{{profile.name}}</div>-->
                                <div class="padding-10">
                                    <div class="profile-title">{{profile.name}}</div>
                                    <div ng-if="profile.verified" class="verifcation-profile">
                                        <img src="/img/verif.png" alt="">
                                    </div>
                                    <div style="font-size: 12px"><i style="margin-right: 5px" class="fa fa-map-marker" aria-hidden="true"></i>{{profile.location}}</div>
                                    <div style="font-size: 12px"><i style="margin-right: 5px" class="fa fa-inr" aria-hidden="true"></i>Price rating:  {{profile.price_rate||0}}</div>
                                    <div class="profile-back-rating-block-category">
                                        <div class="inline-block text-center">
                                            <star-rating is-disable="true" ng-model="profile.rating"></star-rating>
                                        </div>
                                        <div class="inline-block text-right" style="width: 10%;float: right;">{{profile.ratingCount}}</div>
                                    </div>
                                </div>
                                <div class="profile-info-type" ng-class="{paddingB3:profile.service_providers[0].type == 'Content Writing' || profile.service_providers[0] == 'Content Writing'}">
                                    <div class="inline-block" style="width: 13%;height: 30px;position: relative">
                                        <img ng-if="profile.service_providers[0].type != 'Content and Translation'" style="color:black;fill:black; height: 100%" class="text-center"
                                             ng-src="/img/{{(profile.service_providers[0].type).split(' ').join('-').toLowerCase()}}.svg">
                                        <img ng-if="profile.service_providers[0].type == 'Content and Translation'" style="color:black;fill:black;position: absolute;height: 45px;" class="text-center"
                                             ng-src="/img/{{(profile.service_providers[0].type).split(' ').join('-').toLowerCase()}}F.svg">
                                    </div>
                                    <div ng-if="profile.service_providers[0].type != 'Content and Translation'" class="inline-block profile-service-provider">{{profile.service_providers[0].type}}</div>
                                    <div ng-if="profile.service_providers[0].type == 'Content and Translation'" class="inline-block profile-service-provider" style="bottom: 10px">{{profile.service_providers[0].type}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="flip-back">
                            <div ng-class="{'active-like': favorites.indexOf(profile._id)>-1}" class="like-field" ng-click="favorites.indexOf(profile._id)==-1 ? addFavorite(profile._id) : removeFavorite(profile._id)" style="z-index: 9999999999999"><i
                                    class="fa fa-heart like-field-heart" aria-hidden="true"></i></div>
                            <div class="profile-back" style="height: 112%; margin-top: -15%; padding-top: 15%   " ui-sref="profile({id: profile._id})">
                                <div class="profile-back-name">{{profile.name}}</div>
                                <div class="profile-back-introduction">{{profile.introduction}}</div>
                                <div class="profile-back-description">{{profile.description}}</div>
                                <div class="profile-back-rating-block">
                                    <div class="inline-block text-left" style="width: 30%">by jademax</div>
                                    <div class="inline-block text-center" style="width: 35%">
                                        <star-rating is-disable="true" ng-model="profile.rating"></star-rating>
                                    </div>
                                    <div class="inline-block text-right" style="width: 20%">({{profile.view}})</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-show="jobs.length">
    <div class="row">
        <div class="col-sm-12 text-center"><h2 class="marginTB10">Trending Jobs</h2></div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 marginTB20 border-bottom" ng-repeat="job in jobs" ng-if="$index < 4">
            <div class="row">
                <div class="col-sm-2 hide-xs">
                    <a ui-sref="root.job_detailed({job: job._id})" class="job-logo hide-xs">12TH CROSS <br> JOB</a>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="text-bold marginB10 job-types">
                                <div class="inline-block">{{job.title}}</div>
                            </div>
                            <div class="job-title">{{job.description}}</div>
                        </div>
                        <div class="col-sm-3">
                            <div class="job-info">
                                <div class="job-info-location">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span style="padding-left: 15px">{{job.local_preference[0] || 'N/A'}}</span>
                                </div>
                                <div class="job-info-price">
                                    <span class="img-budget" aria-hidden="true"></span>
                                    <span style="padding-left: 5px">{{job.budget}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 job-button-block">
                            <a ui-sref="root.job_detailed({job: job._id})" class="btn job-button">View Project</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="register-with-us-img" ng-hide="currentFreelancer()">
    <h2 class="text-center text-white register-with-us-text font-family">JOIN OUR COMMUNITY OF SERVICE PROVIDERS</h2>
    <div class="text-center">
        <a class="btn btn-red text-white font-family" ui-sref="freelancer_registration">REGISTER WITH
            US
        </a>
    </div>
</div>


<md-card layout="column" layout-align="center center" style="padding-bottom: 10x" >
    <jk-carousel data="dataArray" item-template-url="'template/item-template.html'"max-width="800" max-height="650" ></jk-carousel>
</md-card>
<!--<div class="full-width text-center">-->
<!--<carousel interval="6000" >-->
<!--<slide ng-repeat="slide in carosels" active="slide.active">-->
<!--<div class="face-block">-->
<!--<img class="face-text" ng-src="{{slide.img}}">-->
<!--</div>-->
<!--<div class="text-center quote-text">{{slide.text}}</div>-->
<!--<div class="text-center quote-author inline-block">-->
<!--<div class="text-red text-bold font-family">{{slide.title}}</div>-->
<!--sadas-->
<!--<div class="quote-author-text font-family">{{slide.subTitle}}</div>-->
<!--</div>-->
<!--<div class="carousel-caption">-->
<!--</div>-->
<!--</slide>-->
<!--</carousel>-->
<!--</div>-->

<style type="text/css">
    .jk-carousel .md-icon-button md-icon {
        display: none;
    }
    .jk-carousel .radio-buttons-container md-radio-button .md-off {
        border-color: lightgray;
        background-color: lightgray;
    }
    md-radio-button.md-checked .md-on {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #e52d27;
    }
    md-radio-button.md-checked .md-on {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: red;
    }
    md-radio-button .md-on, md-radio-button .md-off {
        height: 5px;
        width: 30px;
        border-radius: 0;
    }
    md-radio-button .md-container .md-ripple-container {
        left: 50px !important;
    }
</style>
