<div class="background-woman">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1 class="text-center text-woman-image">Lorem ipsum dolor sit amet consectetur adipiscing</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="row background-grey main-search">
                    <div class="col-sm-4">
                        <div class="full-width input-border-home-woman">
                            <span class="fa fa-map-marker input-home-maker"></span>
                            <input class="form-control input-home-woman paddingL40 relative" placeholder="Choice City">
                            <span class="fa fa-angle-down input-home-chevron"></span>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="full-width input-border-home-woman">
                            <md-autocomplete
                                    ng-disabled="false"
                                    md-no-cache="true"
                                    md-search-text="ctrl.searchText"
                                    md-selected-item-change="ctrl.selectedItemChange(item)"
                                    md-items="item in ctrl.search(ctrl.searchText)"
                                    md-item-text="item.displayTitle"
                                    md-min-length="2"
                                    placeholder="What are you looking for">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.displayTitle}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{ctrl.searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                            <span class="fa fa-search input-home-search" ng-hide="ctrl.searchText"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row back-service-provider">
        <div class="col-sm-12 text-center "><h2 class="marginTB10">Find Service Providers</h2></div>
        <div class="marginLR20" ng-repeat="item in arrayProviders" ng-click="$state.go('categories');activeProvider=item;">
            <div class="service-provider relative">
                <div class="fa fa-cogs text-center service-provider-icon"></div>
                <div>{{item}}</div>
            </div>
        </div>
    </div>
</div>
<div class="background-lightgrey paddingB50">
    <div class="container">
        <div class=" text-center marginTB20"><h2 class="marginTB10"> Featured Profiles</h2></div>
        <div class="row">
            <div class="col-md-3 col-xs-6 col-sm-6 noborder pointer" style="padding: 2px;" ng-repeat="profile in profiles | orderBy:'-view'" ng-if="$index < 8"
                 ng-click="$state.go('categories.profile', {id: profile._id})">
                <div class="like-field"><i class="fa fa-heart like-field-heart" aria-hidden="true"></i></div>
                <div class="profile">
                    <div class="front">
                        <div class="profile-img">
                            <img class="profile-poster" ng-src="{{profile.contact_detail.preview}}">
                        </div>
                        <div class="profile-info">
                            <div class="text-center profile-info-name">{{profile.name}}</div>
                            <div class="profile-info-type">
                                <div class="fa fa-cogs text-center paddingR10"></div>
                                {{profile.freelancer_type[0]}}
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="profile-back">
                            <div class="profile-back-name">{{profile.name}}</div>
                            <div class="profile-back-introduction">{{profile.introduction}}</div>
                            <div class="profile-back-description">{{profile.description}}</div>
                            <div class="profile-back-rating-block">
                                <div class="inline-block text-left" style="width: 20%">by test</div>
                                <div class="inline-block text-center" style="width: 50%">
                                    <span ng-repeat="star in profile.ratingArr track by $index " class="rating-star glyphicon glyphicon-star" ng-class="{'glyphicon-star-red': star,'glyphicon-star-white':!star}"></span>
                                </div>
                                <div class="inline-block text-right" style="width: 10%">({{profile.view}})</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center"><h2 class="marginTB10">Trending Jobs</h2></div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10 marginTB20 border-bottom" ng-repeat="job in jobs" ng-if="$index < 4">
            <div class="row">
                <div class="col-sm-2 hide-xs">
                    <div class="job-logo hide-xs">12TH CROSS <br> JOB</div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="text-bold marginB10 job-types">
                                <div class="inline-block" ng-repeat="item in job.content_types">{{item}}<span ng-if="!$last">, </span></div>
                            </div>
                            <div class="job-title">{{job.description}}</div>
                        </div>
                        <div class="col-sm-3">
                            <div class="job-info">
                                <div class="job-info-location">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span style="padding-left: 15px">{{job.local_preference[0] || 'N/A'}}</span>
                                </div>
                                <div class="job-info-price">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                    <span style="padding-left: 5px">{{job.budget}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 job-button-block">
                            <button class="btn job-button">View Job</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="register-with-us-img" ng-hide="isLogged()">
    <h2 class="text-center text-white register-with-us-text">JOIN OUR COMMUNITY OF SERVICE PROVIDERS</h2>
    <div class="text-center">
        <button class="btn btn-red text-white" ng-hide="currentFreelancer()" ng-click="$state.go('freelancer_registration')">REGISTER WITH US</button>
    </div>
</div>

<div class="full-width text-center">
    <img class="face-text" src="/img/face.jpg">
    <div class="text-center quote-text">
        " Instead of hiring more engineers, we've used Upwork as a more scalable solution that lets us ramp-up and down as needed."
    </div>
    <div class="text-center quote-author inline-block">
        <div class="text-red text-bold">Nick Greenfield</div>
        <div class="quote-author-text">Vice President of Marketing & Growth</div>
        <div class="width45" style="margin: 0 auto; height: 5px;">
            <div class="quote-page"></div>
            <div class="quote-page-red"></div>
            <div class="quote-page"></div>
        </div>
    </div>
</div>
<footer class="home-footer" style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-12 text-center-xs pull-left" style="padding-top: 3px;">
                <span class="home-footer-text">About</span>
                <span class="home-footer-text">Testimonial</span>
                <span class="home-footer-text">Show to list</span>
                <span class="home-footer-text">How it works</span>
                <span class="home-footer-text">Clients</span>
                <span class="home-footer-text">Terms & Conditions</span>
                <span class="home-footer-text">Press</span>
                <span class="home-footer-text">Contact</span>
            </div>
            <div class="col-sm-3 col-xs-12 text-center-xs paddingTB15-xs pull-right ">
                <div class="home-footer-social-link">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </div>
                <div class="home-footer-social-link">
                    <i class="fa fa-linkedin-square" aria-hidden="true" style="padding-left:1px"></i>
                </div>
                <div class="home-footer-social-link">
                    <i class="fa fa-twitter" aria-hidden="true" style="padding-left:2px"></i>
                </div>
                <div class="home-footer-social-link">
                    <i class="fa fa-pinterest-p" aria-hidden="true" style="padding-left:2px"></i>
                </div>
                <div class="home-footer-social-link">
                    <i class="fa fa-facebook" aria-hidden="true" style="padding-left:3px"></i>
                </div>
                <div class="home-footer-social-link">
                    <i class="fa fa-instagram" aria-hidden="true" style="padding-left:1px"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-12 text-center-xs paddingT10-xs pull-left">© 12TH CROSS 2016</div>
        <div class="col-sm-6 col-xs-12 text-right text-center-xs paddingT10-xs pull-right">POWERED BY: IGENERO</div>
    </div>
</div>
