<div>
    <img ng-src="{{}}">
    <div class="full-width text-center">
        <div class="face-block">
            <img class="" ng-src="{{slideItem.src}}">
        </div>
        <div class="text-center quote-text">{{slideItem.text}}</div>
        <div class="text-center quote-author inline-block">
            <div class="text-red text-bold font-family">{{slideItem.title}}</div>
            <div class="quote-author-text font-family">{{slideItem.subTitle}}</div>
        </div>
    </div>
</div>
