<div class="container">
    <div class="row marginT20">
        <div class="col-md-9">
            <div class="row marginT20">
                <div class="col-md-6 text-bold">Job Title</div>
                <div class="col-md-6">{{job.title}}</div>
            </div>

            <div class="row marginT20">
                <div class="text-bold text-label col-md-6">Which of the following Content Types are you looking for?</div>
                <div class="col-md-6">
                    <div ng-repeat="item in job.content_types">
                        {{item}}<span ng-if="!$last">,</span>
                    </div>
                </div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold">Provide a description of your requirements</div>
                <div class="col-md-6">{{job.description}}</div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold text-label">Do you have a location preference?</div>
                <div class="col-md-6">
                    <div ng-repeat="location in job.local_preference">
                        {{location}}<span ng-if="!$last">,</span>
                    </div>
                </div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold text-label">Do you have a preference for a type of professional</div>
                <div class="col-md-6">{{job.type}}</div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold">What is your budget for this marketing campaign</div>
                <div class="col-md-6">{{job.budget}}  Rs.</div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold">Client Name</div>
                <div class="col-md-6">{{job.name}}</div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold">Mobile phone number</div>
                <div class="col-md-6">{{job.mobile}}</div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold">Email</div>
                <div class="col-md-6">{{job.email}}</div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold">Company name</div>
                <div class="col-md-6">{{job.company_name}}</div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold">Website URL</div>
                <div class="col-md-6">{{job.website}}</div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold">Job Visibility</div>
                <div class="col-md-6">{{job.job_visibility}}</div>
            </div>

            <div class="row marginT20">
                <div class="col-md-6 text-bold">Expected Date of Completion</div>
                <div class="col-md-6">
                    <md-datepicker disabled ng-model="job.date_of_completion" md-placeholder="Enter date" md-open-on-focus=""></md-datepicker>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <button class="btn btn-default" ng-click="applyJob(job._id)">Apply for Job</button>
        </div>
    </div>
</div>