<div class="login-form common-style-form">
<form name="loginForm"  shake-that submitted="submitted"  submit="submit()" novalidate>
    <div class="form-group" ng-class="{'has-error': submitted && loginForm.login.$invalid||errL}">
        <label>Login</label>
        <input class="form-control"  ng-click="startInput()"  name="login" ng-enter="submitted=true;signin(loginForm.$invalid, login)" ng-model="login.login" required>
        <p class="error" ng-if="loginForm.login.$error.required">Login is required</p>
    </div>

    <div class="form-group" ng-class="{'has-error': submitted && loginForm.password.$invalid||errP}">
        <label>Password</label>
        <input class="form-control"  name="password" ng-click="startInput()"  ng-enter="submitted=true;signin(loginForm.$invalid, login)" type="password" ng-model="login.password" required>
        <p class="error" ng-if="loginForm.password.$error.required">Password is required</p>
    </div>
    {{error}}
    <div class="form-group ">
        <div class="text-center">
            <button type="submit" class="btn full-width btn-primary" ng-click="signin(loginForm.$invalid, login)">Log in</button>
        </div>
    <br />
    <div class="text-left">
        <a href="" ng-click="go('/registration')">Not registered yet?</a>
        <br />
        <a href="" ng-click="go('/forgot/email')">Forgot your password?</a>
    </div>
    </div>
</form>
</div>