<div class="container">
    <div style="margin-top: 3%;margin-bottom: 3%;">
        <h2 style="font-size: 20.0pt;color: rgba(51, 56, 70, 255);text-align: center;">LOGIN</h2>
        <div style="margin: 0 auto;height: 2px;background: red;width: 45px;"></div>
    </div>
    <form name="loginForm" class="auth-form" shake-that novalidate style="width: 550px;margin: 0 auto;">
        <div class="form-group" ng-class="{'has-error': submittedLogin && loginForm.email.$invalid}">
            <md-input-container class="md-block">
                <input class="form-control loginInput " name="email" placeholder="Login" ng-model="loginObj.email" required>

                <div ng-messages="submittedLogin && loginForm.email.$invalid" ng-class="{'md-auto-hide': !submittedLogin}">
                    <div ng-show="submittedLogin && loginForm.email.$error.required" ng-message="required">Email is required</div>
                </div>
            </md-input-container>
        </div>

        <div class="form-group" ng-class="{'has-error': submittedLogin && loginForm.password.$invalid}">
            <md-input-container class="md-block">
                <input class="form-control loginInput" name="password" type="password" ng-model="loginObj.password"
                       placeholder="Password"
                       required>
                <div ng-messages="submittedLogin && loginForm.password.$invalid" ng-class="{'md-auto-hide': !submittedLogin}">
                    <div ng-show="submittedLogin && loginForm.password.$error.required" ng-message="required">Password is required</div>
                </div>
            </md-input-container>
        </div>

        <div class="form-group">
            <div class="text-center">
                <div class="full-width text-center" style="height: 30px">
                    <p class="error-login" ng-if="loginError">{{loginError}}</p>
                </div>
                <md-button class="md-raised auth-button" ng-click="submittedLogin=true; signin(loginForm.$invalid, loginObj)">
                    Log In
                </md-button>
            </div>
            <br/>
        </div>

        <div style="width: 100%;margin-top: 30px;height: 1px" class="">
            <div style="width: 45%;height:100%;background: #C4C5C6;float: left;"></div>
            <div style="width: 45%;height:100%;background: #C4C5C6;float: right;"></div>
        </div>

        <div class="row" style="margin-top: 40px;">
            <div class="col-md-4">
                <md-button class="md-raised social-button auth-facebook" id="fb-account">
                    <div ng-click="login()" ng-if="!loggedIn">Sign in with Facebook</div>
                    <div ng-click="logout()" ng-if="loggedIn">Log out</div>
                </md-button>
            </div>
            <div class="col-md-4">
                <google-plus-signin clientid="1017461938122-hqu19cjkjtc73sjt8lg8igdnacmsmvj3.apps.googleusercontent.com" autorender="false" customtargetid="my-custom-element">
                    <md-button class="md-raised social-button auth-google">
                        <div id="my-custom-element">Sign In with Google</div>
                    </md-button>
                </google-plus-signin>

            </div>
            <div class="col-md-4">
                <md-button class="md-raised social-button auth-linkedin" ng-click="LinkedIn()">
                    Sign in with Linkedin
                </md-button>
            </div>
        </div>

        <div style="height: 1px;width: 100%;background: #C4C5C6;margin-top: 40px;"></div>

        <p>Don't have account? <a ng-click="$state.go('signup')" style="color: #E9655E"> Sign Up</a></p>
    </form>
</div>

