<div class="way container">
    <div ncy-breadcrumb style="margin-bottom: 20px;"></div>
</div>
<div class="container">
    <div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="profile-wrapper">
                <img class="full-width" ng-src="{{viewProfile.contact_detail.preview}}">
                <h3 class="profile-name">{{viewProfile.name}}</h3>
                <p class="profile-introduction">{{viewProfile.introduction}}</p>
                <p class="profile-extra-info">
                    <ng-md-icon icon="location_on" style="fill: rgb(51, 56, 70);top: 7px;position: relative;"></ng-md-icon>
                    {{viewProfile.location}}</p>
                <div>
                    <ng-md-icon icon="remove_red_eye" style="fill: rgb(51, 56, 70);top: -12px;position: relative;"></ng-md-icon>
                    <p class="profile-extra-info" style="display: inline-block;margin-bottom: 0px;">
                        Profile Views {{viewsCount}}
                        <br />
                        <span>Last 90 days</span>
                    </p>
                </div>
                <p class="profile-extra-info pointer" ng-if="isLogged()" ng-init="checkFavorited()">
                    <span ng-hide="profileFavorited" ng-click="addFavorite()">
                        <ng-md-icon icon="favorite_border" style="fill: rgb(51, 56, 70);top: 7px;position: relative;"></ng-md-icon>
                        Add Favorite
                    </span>
                    <span ng-show="profileFavorited" ng-click="removeFavorite()">
                        <ng-md-icon icon="favorite" style="fill: red;top: 7px;position: relative;"></ng-md-icon>
                        Remove Favorite
                    </span>
                </p>
                <div style="border-top: 1px solid lightgray">
                    <h3 class="profile-name">RECENT HISTORY</h3>
                    <table class="table no-table-border">
                        <tr>
                            <td>
                                Last account activity
                                <span style="float: right">:</span>
                            </td>
                            <td class="text-right">{{viewProfile.last_activity | date}}</td>
                        </tr>
                        <tr>
                            <td>
                                Past project
                                <span style="float: right">:</span>
                            </td>
                            <td class="text-right">{{closedJobsCount}}</td>
                        </tr>
                        <tr>
                            <td>
                                Active project
                                <span style="float: right">:</span>
                            </td>
                            <td class="text-right">{{ongoingJobsCount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row registration-tab-menu" ng-init="active_profile_menu = 'pricing'" style="margin-bottom: 20px;margin-left: 0px;margin-right: 0px;">
                <div ng-click="active_profile_menu = 'pricing'" ng-class="{active: active_profile_menu == 'pricing'}" class="col-md-3 col-sm-4 col-xs-4">
                    PRICING AND PACKAGES
                </div>
                <div ng-click="active_profile_menu = 'profile'" ng-class="{active: active_profile_menu == 'profile'}" class="col-md-3 col-sm-4 col-xs-4">
                    PROFILE
                </div>
                <div ng-click="active_profile_menu = 'portfolio'" ng-class="{active: active_profile_menu == 'portfolio'}" class="col-md-3 col-sm-4 col-xs-4">
                    PORTFOLIO
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section ng-show="active_profile_menu=='pricing'">
                        <table class="packages-table">
                            <thead>
                            <th></th>
                            <th ng-repeat="pkg in viewProfile.service_packages">
                                <div class="full-absolute">
                                    <div class="wrapper-pkg-title">
                                        <div class="title-pkg">{{pkg.title}}</div>
                                        <div class="price-pkg"><i class="fa fa-inr" aria-hidden="true"></i>{{pkg.pricing}}</div>
                                    </div>
                                </div>
                            </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Information</td>
                                    <td ng-repeat="pkg in viewProfile.service_packages">
                                        {{pkg.information}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td ng-repeat="pkg in viewProfile.service_packages">
                                        {{pkg.description}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Topic Research</td>
                                    <td ng-repeat="pkg in viewProfile.service_packages"  style="text-align: center">
                                        <ng-md-icon icon="done" style="fill: red" size="32" ng-if="pkg.topic_research"></ng-md-icon>
                                        <span ng-if="!pkg.topic_research">---</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>References & Citations</td>
                                    <td ng-repeat="pkg in viewProfile.service_packages" style="text-align: center">
                                        <ng-md-icon icon="done" style="fill: red" size="32" ng-if="pkg.references_and_citations"></ng-md-icon>
                                        <span ng-if="!pkg.references_and_citations">---</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Delivery Time</td>
                                    <td ng-repeat="pkg in viewProfile.service_packages" style="text-align: left">
                                        <span ng-if="!(pkg.delivery_time && pkg.delivery_time!=1)">1 day</span>
                                        <md-radio-group ng-model="pkg.delivery_time" layout="row" style="margin-bottom: 25px;" ng-if="pkg.delivery_time && pkg.delivery_time!=1">
                                            <md-radio-button ng-value="pkg.delivery_time" class="md-primary">{{pkg.delivery_time}} days</md-radio-button>
                                            <md-radio-button ng-value="1" style="margin-left: 50px">1 day (<i class="fa fa-inr" aria-hidden="true"></i> 100)</md-radio-button>
                                        </md-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Enter Word Count</td>
                                    <td ng-repeat="pkg in viewProfile.service_packages">
                                        <md-input-container class="full-width" ng-init="pkg.word_count=500" style="margin: 0px;">
                                            <input ng-model="pkg.word_count" numbers-only>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td ng-repeat="pkg in viewProfile.service_packages" style="border-top: 2px solid rgb(213, 218, 225) !important;">
                                        <md-button class="md-raised regular-button full-width" style="height: 50px;" ng-click="openExtra(pkg)"> SELECT </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section ng-show="active_profile_menu=='profile'">
                        <p class="profile-description">{{viewProfile.description}}</p>
                        <div class="row">
                            <div class="col-md-4" ng-if="viewProfile.industry_expertise.length" style="margin-top: 30px">
                                <div class="profile-exp-block">
                                    <h5>INDUSTRY EXPERTISE</h5>
                                    <p>
                                        <span ng-repeat="industry_expertise in viewProfile.industry_expertise">{{industry_expertise}}<span ng-if="!$last">, </span></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="viewProfile.content_type.length" style="margin-top: 30px">
                                <div class="profile-exp-block">
                                    <h5>CONTENT TYPE</h5>
                                    <p>
                                        <span ng-repeat="content_type in viewProfile.content_type">{{content_type}}<span ng-if="!$last">, </span></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="viewProfile.languages.length" style="margin-top: 30px">
                                <div class="profile-exp-block">
                                    <h5>LANGUAGES</h5>
                                    <p>
                                        <span ng-repeat="language in viewProfile.languages">{{language}}<span ng-if="!$last">, </span></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="viewProfile.service_providers.length" style="margin-top: 30px">
                                <div class="profile-exp-block">
                                    <h5>YEARS OF EXPERIENCE 10</h5>
                                    <p>
                                        <span ng-repeat="service_provider in viewProfile.service_providers">{{service_provider}}<span ng-if="!$last">, </span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section ng-show="active_profile_menu=='portfolio'">
                        <div style="border: 1px solid rgb(213, 218, 225)">
                            <div style="background: rgb(241, 241, 241);padding: 10px;font-size: 20px;color: rgb(51, 56, 70);text-transform: uppercase">
                                SAMPLE WORK
                            </div>
                            <div class="samples-item" ng-repeat="work_sample in viewProfile.work.work_samples">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 text-center">
                                        <div  ng-mouseenter="mouseenter=true" ng-mouseleave="mouseenter=false" class="i_c">
                                            <div ng-if="work_sample.attachments[0].url" ng-show="mouseenter" class="overlay-container">
                                                <div>
                                                    <a class="btn" target="_self" href="{{work_sample.attachments[0].url}}" download="{{work_sample.title}}.jpg">
                                                        <ng-md-icon icon="file_download" style=" fill: rgb(255, 255, 255);top: 3px;position: relative;"  size="20"></ng-md-icon>
                                                    </a>
                                                    <div ng-click="showPic(work_sample.attachments[0].url)"  class="btn show-pic-icon">
                                                        <ng-md-icon icon="remove_red_eye" style="fill: rgb(51, 56, 70);top: 3px;position: relative;" size="20"></ng-md-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <img ng-src="https://cdn3.iconfinder.com/data/icons/line-icons-set/128/1-07-256.png" style="" ng-if="!work_sample.attachments[0].path">
                                            <img ng-src="{{work_sample.attachments[0].url}}" >
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <h3 style="margin: 0px;font-size: 20px;color: rgb(51, 56, 70);">{{work_sample.title}}</h3>
                                        <p style="font-size: 15px;color: rgb(51, 56, 70);">{{work_sample.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
