<div class="container">
    <div style="height: 30px">
        <ul class="breadcrumbs inline-list">
            <li>Home</li>
            <li> / </li>
            <li ng-show="activeProvider">{{activeProvider}}</li>
            <li ng-show="activeProvider"> / </li>
            <li>View profile</li>
            <li> / </li>
            <li>Profile Details</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img class="full-width" ng-src="{{viewProfile.contact_detail.preview}}">
            <h3>{{viewProfile.name}}</h3>
            <p>{{viewProfile.introduction}}</p>
            <p>
                <ng-md-icon icon="location_on" style="fill: lightgray;top: 7px;position: relative;"></ng-md-icon>
                {{viewProfile.location}}</p>
            <div>
                <ng-md-icon icon="remove_red_eye" style="fill: lightgray;top: -12px;position: relative;"></ng-md-icon>
                <p style="display: inline-block;margin-bottom: 0px;">
                    Profile Views {{viewsCount}}
                    <br />
                    <b>Last 90 days</b>
                </p>
            </div>
            <p style="cursor: pointer;" ng-if="isLogged()" ng-init="checkFavorited()">
                <span ng-hide="profileFavorited" ng-click="addFavorite()">
                    <ng-md-icon icon="favorite_border" style="fill: lightgray;top: 7px;position: relative;"></ng-md-icon>
                    Add Favorite
                </span>
                <span ng-show="profileFavorited" ng-click="removeFavorite()">
                    <ng-md-icon icon="favorite" style="fill: red;top: 7px;position: relative;"></ng-md-icon>
                    Remove Favorite
                </span>

            </p>

            <div>
                <h3>RECENT HISTORY</h3>
                <p>Last account activity : {{viewProfile.last_activity | date}}</p>
                <p>Past project : ----- </p>
                <p>Active project : ----- </p>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="profile-menu">
                <li ng-click="active_profile_menu='pricing'" ng-class="{active: active_profile_menu=='pricing'}">PRICING AND PACKAGES</li>
                <li ng-click="active_profile_menu='profile'" ng-class="{active: active_profile_menu=='profile'}">PROFILE</li>
                <li ng-click="active_profile_menu='portfolio'" ng-class="{active: active_profile_menu=='portfolio'}">PORTFOLIO</li>
            </ul>

            <section ng-show="active_profile_menu=='pricing'">
                <div ng-show="viewProfile.price.word || viewProfile.price.hour">
                    <h4>PRICING</h4>
                    <p ng-show="viewProfile.price.hour"> Per hour: {{viewProfile.price.hour}}</p>
                    <p ng-show="viewProfile.price.word"> Per word: {{viewProfile.price.word}}</p>
                </div>
                <div ng-show="viewProfile.service_packages">
                    <h4>PACKAGES</h4>
                    <div class="row" ng-repeat="pkg in viewProfile.service_packages" style="position:relative;border: 1px solid lightgray;height: 128px;">
                        <div class="col-md-4" style="height: 100%;position: relative;padding: 0px">
                            <div style="text-align: center;">
                                <ng-md-icon ng-hide="pkg.preview.url" icon="insert_photo" style="fill: lightgray;" size="128"></ng-md-icon>
                            </div>
                            <img style="height: 100%;position: relative" ng-show="pkg.preview.url" ng-src="{{pkg.preview.url}}" />
                        </div>
                        <div class="col-md-8" style="padding: 0px;">
                            <h3 style="margin-top: 2px;">{{pkg.title}}</h3>
                            <p>{{pkg.description}}</p>
                            <p>{{pkg.pricing}} / Monthly</p>
                            <ul style="padding-left: 0px;list-style: none;">
                                <li style="float: left" ng-repeat-start="extra in pkg.extras">
                                    {{extra.price}} {{extra.description}}
                                </li>
                                <li style="float: left" ng-repeat-end ng-if="!$last">, </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section ng-show="active_profile_menu=='profile'">
                <p>{{viewProfile.description}}</p>
                <div class="row">
                    <div class="col-md-4" ng-if="viewProfile.industry_expertise.length">
                        <div class="profile-exp-block">
                            <h5>INDUSTRY EXPERTISE</h5>
                            <p>
                                <span ng-repeat="industry_expertise in viewProfile.industry_expertise">{{industry_expertise}}<span ng-if="!$last">, </span></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="viewProfile.content_type.length">
                        <div class="profile-exp-block">
                            <h5>CONTENT TYPE</h5>
                            <p>
                                <span ng-repeat="content_type in viewProfile.content_type">{{content_type}}<span ng-if="!$last">, </span></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="viewProfile.languages.length">
                        <div class="profile-exp-block">
                            <h5>LANGUAGES</h5>
                            <p>
                                <span ng-repeat="language in viewProfile.languages">{{language}}<span ng-if="!$last">, </span></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="viewProfile.freelancer_type.length">
                        <div class="profile-exp-block">
                            <h5>YEARS OF EXPERIENCE 10</h5>
                            <p>
                                <span ng-repeat="service_provider in viewProfile.freelancer_type">{{service_provider}}<span ng-if="!$last">, </span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section ng-show="active_profile_menu=='portfolio'">
                <p>Customers Count: {{viewProfile.work.customers}}</p>
                <p>Past client: {{viewProfile.work.past_client}}</p>
                <p>Testimonials: {{viewProfile.work.testimonials}}</p>
                <p>Awards: {{viewProfile.work.awards}}</p>
            </section>
        </div>
    </div>
</div>
