<div class="registration-module block-center row">
    <div class="col-xs-6 ">Username
        <input class="form-control" ng-enter="registration(reg)" ng-model="reg.username">
    </div>
    <div class="col-xs-5 col-xs-offset-1">First name
        <input class="form-control" ng-enter="registration(reg)" ng-model="reg.first_name">
    </div>
    <div class="col-xs-6">Password
        <input class="form-control" ng-enter="registration(reg)" type="password" ng-model="reg.password">
    </div>
    <div class="col-xs-5 col-xs-offset-1">Last name
        <input class="form-control" ng-enter="registration(reg)" ng-model="reg.last_name">
    </div>
    <div class="col-xs-12 nopadding">Email
        <input class="form-control" ng-enter="registration(reg)" ng-model="reg.email">
    </div>
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">Sex</div>
        Male <input class="" type="checkbox" ng-click="reg.female = 0" ng-model="reg.male">
        Female   <input class="" type="checkbox" ng-click="reg.male = 0" ng-model="reg.female">
    </div>
    <div class="col-xs-12">Number mobile phone
        <input class="col-xs-12 form-control" ng-enter="registration(reg)" ng-model="reg.phone">
    </div>
    <div class="col-xs-12 btn-registration">
        <button class="btn btn-success" ng-click="registration(reg)">Submit</button>
        <button class="btn btn-danger" ng-click="cancelRegistration()">Cancel</button>
    </div>
</div>