<div class="container">
    <div style="margin-top: 3%;margin-bottom: 3%;">
        <h2 style="font-size: 20.0pt;color: rgba(51, 56, 70, 255);text-align: center;">SING UP</h2>
        <div style="margin: 0 auto;height: 2px;background: red;width: 45px;"></div>
    </div>

    <form name="signupForm" class="auth-form" shake-that submitted="submittedSignup" submit="submitSignup()" novalidate>
        <div class="form-group" ng-class="{'has-error': submittedSignup && signupForm.first_name.$invalid}">
            <md-input-container class="md-block">
                <input class="form-control" name="first_name" placeholder="First Name" ng-model="signupObj.first_name" required>

                <div ng-messages="submittedSignup && signupForm.first_name.$invalid" ng-class="{'md-auto-hide': !submittedSignup}">
                    <div ng-show="submittedSignup && signupForm.first_name.$error.required" ng-message="required">First Name is required</div>
                </div>
            </md-input-container>
        </div>
        <div class="form-group" ng-class="{'has-error': submittedSignup && signupForm.last_name.$invalid}">
            <md-input-container class="md-block">
                <input class="form-control" name="last_name" placeholder="Last Name" ng-model="signupObj.last_name" required>

                <div ng-messages="submittedSignup && signupForm.last_name.$invalid" ng-class="{'md-auto-hide': !submittedSignup}">
                    <div ng-show="submittedSignup && signupForm.last_name.$error.required" ng-message="required">Last Name is required</div>
                </div>
            </md-input-container>

        </div>
        <div class="form-group" ng-class="{'has-error': submittedSignup && signupForm.email.$invalid}">
            <md-input-container class="md-block">
                <input class="form-control" name="email" placeholder="Email" ng-model="signupObj.email"
                       ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                       unique-email required>

                <div ng-messages="submittedSignup && signupForm.email.$invalid" ng-class="{'md-auto-hide': !submittedSignup}">
                    <div ng-show="submittedSignup && signupForm.email.$error.required" ng-message="required">Email is required</div>
                    <div ng-show="submittedSignup && signupForm.email.$error.unique" ng-message="required">Email already is taken</div>
                    <div ng-show="submittedSignup && signupForm.email.$error.pattern && !signupForm.email.$error.required" ng-message="pattern">Email is invalid</div>
                </div>
            </md-input-container>
        </div>
        <div class="form-group" ng-class="{'has-error': submittedSignup && signupForm.password.$invalid}">
            <md-input-container class="md-block">
                <input class="form-control" name="password" placeholder="Password" ng-model="signupObj.password" required>

                <div ng-messages="submittedSignup && signupForm.password.$invalid" ng-class="{'md-auto-hide': !submittedSignup}">
                    <div ng-show="submittedSignup && signupForm.password.$error.required" ng-message="required">Password is required</div>
                </div>
            </md-input-container>
        </div>
        <div class="form-group">
            <div class="text-center">
                <p class="error" ng-if="emailError">{{emailError}}</p>
                <md-button class="md-raised auth-button" ng-click="submittedSignup=true;signup(signupForm.$invalid, signupObj)">
                    Sign Up
                </md-button>
            </div>
            <br/>
        </div>

        <div style="width: 100%;margin-top: 30px;height: 1px" class="">
            <div style="width: 45%;height:100%;background: #C4C5C6;float: left;"></div>
            <div style="width: 45%;height:100%;background: #C4C5C6;float: right;"></div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-4">
                <md-button class="md-raised social-button auth-facebook" id="fb-account" aria-label="hide">
                    <div ng-click="login()" ng-if="!loggedIn">Sign in with Facebook</div>
                    <div ng-click="logout()" ng-if="loggedIn">Log out</div>
                </md-button>
            </div>
            <div class="col-md-4">
                <!--<google-plus-signin clientid="1017461938122-hqu19cjkjtc73sjt8lg8igdnacmsmvj3.apps.googleusercontent.com" autorender="false" customtargetid="my-custom-element">-->
                <div id="customBtn">
                    <md-button ng-click="login_google()" class="md-raised social-button auth-google">
                        <div id="name">Sign in with Google</div>
                    </md-button>
                </div>
            </div>
            <div class="col-md-4">
                <md-button class="md-raised social-button auth-linkedin" ng-click="LinkedIn()">
                    Sign in with Linkedin
                </md-button>
            </div>

        </div>

        <div style="height: 1px;width: 100%;background: #C4C5C6;margin-top: 40px;"></div>


        <p>Already registered? <a ui-sref='login' style="color: #E9655E"> Sign Up</a></p>

    </form>
</div>