<h2 class="text-bold text-center marginT20">View my jobs - Buyer View</h2>
<h3 class="text-bold">View My Jobs</h3>
<div class="row">
    <div class="col-xs-6">
        <div class="col-xs-3 text-right padding7">By Status</div>
        <div class="col-xs-3">
            <select class="form-control" name="singleSelect" ng-model="data.jobs" ng-init="data.jobs='Open'">
                <option value="Open">Open Jobs</option>
                <option value="Ongoing">Ongoing Jobs</option>
                <option value="Closed">Closed Jobs</option>
            </select>
        </div>
        <div class="col-xs-3 text-right padding7">
            View Jobs as
        </div>
        <div class="col-xs-3">
            <select class="form-control" name="singleSelect" ng-model="data.view" ng-init="data.view='Buyer'">
                <option value="Buyer">Buyer</option>
                <option value="Seller">Seller</option>
            </select>
        </div>
    </div>
</div>
<h3>{{data.jobs}} Jobs</h3>
<table ng-if="data.jobs=='Open'" class="border-grey table table-bordered table-striped">
    <thead>
    <tr>
        <td>Job Title</td>
        <td>Service Provider</td>
        <td>View Response</td>
        <td>Status</td>
        <td>Date Applied</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="job in jobs[data.jobs]| filter: data.jobs.toLowerCase()">
        <td ng-repeat="(key, value) in job.data">{{value}}</td>
        <td>
            <select class="form-control" name="singleSelect" ng-model="view.jobs[job.elem._id]">
                <option value="">--Choice action--</option>
                <option value="1">Communicate</option>
                <option value="2">Accept</option>
                <option value="0">Reject</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>
<table ng-if="data.jobs=='Ongoing'" class="border-grey table table-bordered table-striped">
    <thead>
    <tr>
        <td>Job Title</td>
        <td>Service Provider</td>
        <td>Expected Completion Date</td>
        <td>Contract Amount (Rs.)</td>
        <td>Pending Amount</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="job in jobs[data.jobs]| filter: data.jobs.toLowerCase()">
        <td ng-repeat="(key, value) in job.data">{{value}}</td>
        <td>
            <select class="form-control" name="singleSelect" ng-model="view.jobs[job.elem._id]">
                <option value="">--Choice action--</option>
                <option value="0">Communicate</option>
                <option value="1">View Contract</option>
                <option value="2">Edit Contract</option>
                <option value="3">Pause Contract</option>
                <option value="4">Close Contract</option>
                <option value="5">Initiate Payment</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>
<table ng-if="data.jobs=='Closed'" class="border-grey table table-bordered table-striped">
    <thead>
    <tr>
        <td>Job Title</td>
        <td>Service Provider</td>
        <td>Job Closed Date</td>
        <td>Status when closed</td>
        <td>Amount Disbursed (Rs.)</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="job in jobs[data.jobs]| filter: data.jobs.toLowerCase()">
        <td ng-repeat="(key, value) in job.data">{{value}}</td>
        <td>
            <select class="form-control" name="singleSelect" ng-model="view.jobs[job.elem._id]">
                <option value="">--Choice action--</option>
                <option value="0">View Job</option>
                <option ng-if="job.status !='Removed'" value="1">View Contract</option>
                <option value="2">Recreate Job</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>
