<div>
    <div>
        <h4>Type</h4>
        <md-input-container class="md-block">
            <input aria-label="none" class="form-control border-grey" name="typee" ng-model="question.type" style="color: black">
        </md-input-container>
    </div>
    <div>
        <h4>Service provider</h4>
        <md-input-container class="md-block">
            <input aria-label="none" class="form-control border-grey" name="service_provider" ng-model="question.service_provider" style="color: black">
        </md-input-container>
    </div>

    <div>
        <h4>Question</h4>
        <md-input-container class="md-block">
            <input aria-label="none" class="form-control border-grey" name="question" ng-model="question.question" style="color: black">
        </md-input-container>
    </div>

    <div>
        <h3 ng-show="question.type != 'post'">Type questionnaire:</h3>
        <md-radio-group ng-show="question.type != 'post'" ng-model="type" layout="row" style="margin-bottom: 25px;display: inline-block; outline: none">
            <md-radio-button ng-click="question.table = []" value="list" class="md-primary inline-block" style="outline: none">List menu</md-radio-button>
            <md-radio-button ng-click="question.items = []" value="table" style="margin-left: 50px;display:inline-block;outline: none">Table</md-radio-button>
        </md-radio-group>
        <h3 ng-show="type == 'list'">Type answer:</h3>
        <md-radio-group ng-show="type == 'list'" ng-model="list_type" layout="row" style="margin-bottom: 25px;display: inline-block; outline: none" ng-init="list_type = list_type || 'question'">
            <md-radio-button value="question" class="md-primary inline-block" style="outline: none">Text</md-radio-button>
            <md-radio-button value="checkbox" style="margin-left: 55px;display:inline-block;outline: none">Checkboxs</md-radio-button>
        </md-radio-group>

        <div ng-if="type == 'list' || question.type =='post'">
            <div ng-if="list_type =='checkbox'" ng-repeat="elem in arrItems track by $index">
                <h4 style="display: inline-block">item {{$index+1}}:</h4>
                <md-input-container class="md-block">
                    <input aria-label="none" class="form-control border-grey questionnaire-input" name="item" ng-model="question.items[$index]">
                    <button ng-click="deleteItem(arrItems, $index); deleteItem(question.items, $index)" class="btn btn-sm btn-default"><span  class="fa fa-times red"></span></button>
                </md-input-container>
            </div>
            <div ng-if="list_type =='checkbox'" style="margin-top: 10px;"><button ng-click="arrItems.push(' ')" class="btn btn-default" style="text-align: center; width: 100%" ><span class="add-item fa fa-plus" ></span> Add item</button></div>
        </div>


        <div ng-if="type == 'table'">
            <div ng-repeat="elem in question.table track by $index" ng-init="_index = $index;">
                <md-input-container ng-if="table[$index] == text" class="md-block">
                    <h4 style="display: inline-block;float: left">Column {{_index+1}}:</h4>
                    <input aria-label="none" class="form-control border-grey table-row" name="item" ng-model="question.table[_index].table_header" style="width: 75% !important;">
                    <button ng-click="deleteItem(question.table, $index);" class="btn btn-sm btn-default" style="float: right"><span class="fa fa-times red"></span></button>
                </md-input-container>
                <md-radio-group ng-model="question.table[_index].type" layout="row" style="margin-bottom: 25px;display: inline-block; outline: none" ng-init="question.table[_index].type = question.table[_index].type || 'input'">
                    <md-radio-button value="input" ng-click="rows(false,elem)" style="margin-left: 110px;display:inline-block;outline: none">Input</md-radio-button>
                    <md-radio-button value="checkbox" ng-click="rows(false,elem)" class="md-primary inline-block" style="margin-left: 15px;outline: none">Checkbox</md-radio-button>
                    <md-radio-button value="text" ng-click="rows(true, elem)" style="margin-left: 15px;display:inline-block;outline: none">Text</md-radio-button>
                </md-radio-group>
                <div ng-if="question.table[_index].type == 'text'" >
                    <div ng-repeat="_row in elem.row track by $index">
                        <md-input-container class="md-block">
                            <h4 style="display: inline-block; float: left">Row {{$index+1}}:</h4>
                            <input aria-label="none" class="form-control border-grey table-row" name="item" ng-model="question.table[_index].row[$index].value">
                            <button ng-click="deleteItem(elem.row, $index);" class="btn btn-sm btn-default" style="float: right"><span class="fa fa-times red"></span></button>
                        </md-input-container>
                    </div>
                    <div class="btn btn-default" style="width: 100%" ng-click="elem.row.push({}); maxRoute(elem.row.length)"><span class="add-item fa fa-plus" style="text-align: center; width: 100%"> Add row</span></div>
                </div>
            </div>
            <div class="btn btn-default" style="width: 100%; margin-top: 10px"  ng-click="question.table.push({})"><span class="add-item fa fa-plus" style="text-align: center; width: 100%"> Add column</span></div>

            <div style="margin-top: 20px" ng-init="showTable = false">
                <button class="btn btn-default" ng-click="showTable = !showTable" style="margin-bottom: 10px">Preview table</button>
                <table ng-if="showTable" class="table table-bordered table-hover" ng-init="get_rows(question, question.row_number)">
                    <tr>
                        <td ng-init="question.table[$index].table_header = table.table_header" ng-repeat="table in question.table track by $index">{{table.table_header}}</td>
                    </tr>
                    <tr ng-repeat="el in question.row_numbers track by $index" ng-init="row = $index">
                        <td height="20" class="relative" ng-repeat="(i,table) in question.table track by $index">
                            <div ng-if="table.type=='text'" class="text-center" style="line-height: 55px;">{{table.row[row].value}}</div>
                            <md-input-container ng-if="table.type=='input'" class="md-block" flex-gt-sm>
                                <input class="form-control border-grey " aria-label="none" name="answer" ng-model="freelancer.questionnaire[_index].table[row].input[$index]">
                            </md-input-container>
                            <md-checkbox class="checkbox-profile" ng-if="table.type=='checkbox'" ng-model="freelancer.questionnaire[_index].table[row].checkbox[$index]"></md-checkbox>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>