<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 ng-if="question.type == 'register'" class="text-center">Create a Questionnaire for Registration</h2>
                <h2 ng-if="question.type == 'post'" class="text-center">Create a Questionnaire for posting a project</h2>
                <questions ng-model="question" create-new="isNew" ></questions>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="submit(question)">{{isNew ? 'Create': 'Sumbit'}}</button>
                <button class="btn btn-primary" ng-click="close()">Cancel</button>
            </div>
        </div>
    </div>
</div>