<div>
    <button class="btn btn-default" ng-click="add_question(active_tab, type)">Add questionnaire</button>
</div>
<div class="text-center">
    <md-radio-group ng-model="type" layout="row" style="margin-bottom: 25px;display: inline-block; outline: none">
        <md-radio-button ng-class="{active_tab: type == 'post'}" ng-click="check('post')" value="post" class="md-primary inline-block" style="outline: none">Post a Project</md-radio-button>
        <md-radio-button ng-class="{active_tab: type == 'register'}" ng-click="check('register')" value="register" style="margin-left: 50px;display:inline-block;outline: none">Registration freelancer/agency</md-radio-button>
    </md-radio-group>
</div>
<div style="height: 50px;margin: 10px 0;border-top: 1px solid lightgray;border-bottom: 1px solid lightgray;">
    <div ng-repeat="(key,value) in commonFilters" ng-class="{'active_tab': active_tab == key}" ng-click="choice(key)" style="outline: none;display: inline-block; margin:0px 10px;height: 100%;line-height: 45px;">{{key}}</div>
</div>
<div>

    <div>
        <div ng-if="!questions.length">
            <h3>Questionnaires to this service provider not found</h3>
        </div>
        <table class="table table-bordered table-hover" ng-if="questions.length">
            <thead>
            <tr>
                <th class="text-bold pointer">Service provider</th>
                <th class="text-bold pointer">Question</th>
                <th class="text-bold pointer">Items</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in questions">
                <td>{{item.service_provider}}</td>
                <td>{{item.question}}</td>
                <td>
                    <span ng-repeat="elem in item.items track by $index">{{elem}}<span ng-if="!$last">, </span></span>
                </td>
                <td>
                    <span style="color: green" ng-click="changeInformation(item,active_tab )" class="pointer fa fa-pencil inline-block"></span>
                    <span ng-click="reject(item, $index)" style="color: red" class="pointer fa fa-times"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="text-center" ng-if="questions.length">
    <div custom-pagination="configPagination" cb="cb(currentPage)"></div>
</div>


