<div style="margin-top: 20px">
    <button class="btn btn-default" ng-click="add_question(active_tab, type)">Add questionnaire</button>
</div>
<div class="text-center">
    <md-radio-group ng-model="type" layout="row" style="margin-bottom: 25px;display: inline-block; outline: none">
        <md-radio-button ng-class="{active_tab: type == 'post'}" ng-click="check('post')" value="post" class="md-primary inline-block" style="outline: none">Post a Project</md-radio-button>
        <md-radio-button ng-class="{active_tab: type == 'register'}" ng-click="check('register')" value="register" style="margin-left: 50px;display:inline-block;outline: none">Registration freelancer/agency</md-radio-button>
    </md-radio-group>
</div>
<div style="height: auto;margin: 10px 0;border-top: 1px solid lightgray;border-bottom: 1px solid lightgray;position: relative;padding-top: 10px">
    <div class="table-filter">Filters</div>
    <div ng-repeat="(key,value) in commonFilters" ng-class="{'active_tab': active_tab == key || active_category == key}" ng-click="choice(key, true)" style="outline: none;display: inline-block; margin:0px 10px;height: 100%;line-height: 45px;">{{key}}</div>
</div>
<div style="height: auto;margin: 20px 0 10px;border-top: 1px solid lightgray;border-bottom: 1px solid lightgray;position: relative;padding-top: 10px">
    <div ng-if="subFilters" class="table-filter" style="right: 49%;">Sub Filter</div>
    <div ng-repeat="item in subFilters" ng-class="{'active_tab': active_tab == item}" ng-click="choice(item, false)" style="outline: none;display: inline-block; margin:0px 10px;height: 100%;line-height: 45px;">{{item}}</div>
</div>
<div>

    <div>
        <div ng-if="!questions.length">
            <h3>Questionnaires to this service provider not found</h3>
        </div>
        <table class="table table-bordered table-hover" ng-if="questions.length">
            <thead>
            <tr>
                <th class="text-bold pointer">Service provider</th>
                <th class="text-bold pointer">Question</th>
                <th class="text-bold pointer">Items</th>
                <th class="text-bold pointer">Table</th>
                <th class="text-bold pointer">Created</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in questions">
                <td>{{item.service_provider}}</td>
                <td>{{item.question}}</td>
                <td>
                    <span ng-repeat="elem in item.items track by $index">{{elem}}<span ng-if="!$last">, </span></span>
                </td>
                <td>
                    <div ng-repeat="table in item.table" style="margin-bottom: 5px">
                        <div>Header:{{table.table_header}}</div>
                        <div>Type:{{table.type}}</div>
                        <div ng-if="table.row">rows: <span ng-repeat="value in table.row">{{value.value}} <span ng-if="!$last">, </span> </span></div>
                    </div>
                </td>
                <td>{{item.created_at}}</td>
                <td>
                    <button class="btn btn-sm btn-pencil white" ng-click="changeInformation(item,active_tab, type)"><span class="pointer fa fa-pencil inline-block"></span></button>
                    <button class="btn btn-sm btn-times white" ng-click="delete_question(item, $index)"><span class="pointer fa fa-trash-o"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="text-center" ng-if="questions.length">
    <div custom-pagination="configPagination" cb="cb(currentPage)"></div>
</div>


