<div class="marginT30">
    <div style="margin-top: 20px" ng-if="showModal">

        <div ng-if="!add" ng-include="'all_project/project.view.html'"></div>
        <div ng-if="!add" ng-include="'all_project/add_job.modal.html'"></div>
    </div>
    <div style="margin-top: 20px" ng-if="!showModal">
        <div style="display: inline-block">
            <button class="btn btn-default" ng-click="add_job()">Add project</button>
        </div>
        <div class="input-block">
            <input class="form-control input-custom" ng-model="searchProjects" ng-keyup="search(searchProjects)" placeholder="Search...">
        </div>
        <h2 ng-if="!all_projects.length && !searchTrue" class="text-center">No projects</h2>
        <h2 ng-if="!all_projects.length && searchTrue" class="text-center">No projects for input request</h2>
        <table class="table table-striped" ng-if="all_projects.length">
            <thead>
            <tr>
                <td ng-click="changeSort('title')" class="text-bold pointer outline-none">Title<span class="fa fa-long-arrow-down transparent" style="float: right" ng-class="{'show':sortBy == 'title'}"></span></td>
                <td ng-click="changeSort('email')" class="text-bold pointer outline-none">Email<span class="fa fa-long-arrow-down transparent" style="float: right" ng-class="{'show':sortBy == 'email'}"></span></td>
                <td ng-click="changeSort('budget')" class="text-bold pointer outline-none">Budget<span class="fa fa-long-arrow-down transparent" style="float: right" ng-class="{'show':sortBy == 'budget'}"></span></td>
                <td ng-click="changeSort('statusRating')" class="text-bold pointer outline-none">Status<span class="fa fa-long-arrow-down transparent" style="float: right" ng-class="{'show':sortBy == 'statusRating'}"></span></td>
                <td ng-click="changeSort('questionnaries')" class="text-bold pointer outline-none">Questionnaries<span class="fa fa-long-arrow-down transparent" style="float: right" ng-class="{'show':sortBy == 'questionnaries'}"></span></td>
                <td ng-click="changeSort('job_visibility')" class="text-bold pointer outline-none">Job Visibility<span class="fa fa-long-arrow-down transparent" style="float: right" ng-class="{'show':sortBy == 'job_visibility'}"></span></td>
                <td ng-click="changeSort('created_at')" class="text-bold pointer outline-none">Created<span class="fa fa-long-arrow-down transparent" style="float: right" ng-class="{'show':sortBy == 'created_at'}"></span></td>
                <td>Actions</td>
            </tr>

            </thead>
            <tbody>

            <tr ng-repeat="all_project in all_projects|orderBy:sortBy ||'statusRating'">
                <td>{{all_project.title}}</td>
                <td>{{all_project.email}}</td>
                <!--<td>{{all_project.type_category}} <span ng-if="all_project.type_filter"> > </span> {{all_project.type_filter}} <span ng-if="all_project.type_name"> > </span> {{all_project.type_name}}</td>-->
                <td>{{all_project.budget}}</td>
                <td>{{all_project.status}}</td>
                <td><button ng-if="all_project.questionnaries.length" ng-click="showQuestionnaire(all_project.questionnaries)">VIEW</button></td>
                <td>{{all_project.job_visibility ? 'Public' : 'Private'}}</td>
                <td>{{all_project.created_at}}</td>
                <td>
                    <!--<span style="color: green" ng-click="getInformation()" class="pointer glyphicon glyphicon-pencil inline-block"></span>-->
                    <button class="btn btn-sm btn-eye white" ng-click="getInformation(false,all_project, $index, all_projects)"><span class="pointer fa fa-eye inline-block"></span></button>
                    <button class="btn btn-sm btn-pencil white" ng-click="getInformation(true,all_project, $index, all_projects)"><span class="pointer fa fa-pencil inline-block"></span></button>

                    <button class="btn btn-sm btn-times white" ng-click="reject(all_project, $index)"><span class="pointer fa fa-trash-o"></span></button>
                </td>
            </tr>
            </tbody>

        </table>
        <div class="text-center">
            <div custom-pagination="configPagination" cb="cb(currentPage)"></div>
        </div>
    </div>
</div>