<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="rejectForm" novalidate>
                <div class="modal-body">
                    <h2 class="text-center">Change information</h2>
                    <h4>Title</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" name="title" ng-enter="submit(job)" ng-enter="submit(job)" ng-model="job.title" style="color: black">
                    </md-input-container>

                    <h4>Description</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" name="description" ng-enter="submit(job)" ng-model="job.description" style="color: black">
                    </md-input-container>

                    <h4>Email</h4>
                    <md-input-container class="md-block">
                        <input class="form-control text-black" name="email" ng-enter="submit(job)" ng-model="job.email"
                               ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' style="color: black">
                    </md-input-container>

                    <h4>Phone number</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" phone-number name="mobile" ng-enter="submit(job)" ng-model="job.mobile" number phone" style="color: black">
                    </md-input-container>

                    <h4>Category</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" name="type_category" ng-enter="submit(job)" ng-model="job.type_category" style="color: black">
                    </md-input-container>

                    <h4>Sub category</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" name="type_name" ng-enter="submit(job)" ng-model="job.type_name" style="color: black">
                    </md-input-container>

                    <h4>Budget</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" numbers-only name="company_name" ng-enter="submit(job)" ng-model="job.budget" style="color: black">
                    </md-input-container>

                    <h4>Client name</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" name="client_name" ng-enter="submit(job)" ng-model="job.client_name" style="color: black">
                    </md-input-container>

                    <h4>Company name</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" name="company_name" ng-enter="submit(job)" ng-model="job.company_name" style="color: black">
                    </md-input-container>

                    <h4>Website</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" name="website" ng-enter="submit(job)" ng-model="job.website" style="color: black">
                    </md-input-container>

                    <h4>Status</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" name="status" ng-enter="submit(job)" ng-model="job.status" style="color: black">
                    </md-input-container>

                    <h4>Payment basis</h4>
                    <md-input-container class="md-block">
                        <input class="form-control border-grey" name="payment_basis" ng-enter="submit(job)" ng-model="job.payment_basis" style="color: black">
                    </md-input-container>

                    <div class="modal-footer">
                        <button class="btn btn-danger" ng-click="submit(job);">Submit</button>
                        <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>