<div class="form-group" style="padding: 0 2px; font-size: 15px;font-family: 'Roboto, Helvetica Neue', sans-serif;">
    <ul style="list-style-type: none;height: 25px; border-bottom: 1px solid lightgray; padding-left: 0px;">
        <li style="float: left;position: relative;" class="pointer">
            <span ng-click="jobs_area={openCategories:true}" ng-hide="menu.activeItem.category">Select Item</span>
            <span ng-click="jobs_area={openCategories:true}" ng-show="menu.activeItem.category">{{menu.activeItem.category}}</span>

            <ul ng-show="jobs_area.openCategories" style="padding-left:0px;list-style-type: none;position: absolute;top:25px;width: 150px;left: 0px;background: white;box-shadow: 1px 1px 4px 1px lightgrey;padding: 0 10px; z-index: 99;">
                <li ng-repeat="(commonFilter, values) in filters" style="margin: 12px 0px;">
                    <span class="pointer" ng-click="menu.activeItem={};menu.activeItem.category=commonFilter;jobs_area.openCategories=false;jobs_area.openSubCategories=true;choiceFilter.type_category=commonFilter">{{commonFilter}}</span>
                </li>
            </ul>

        </li>
        <li style="float: left;" ng-show="jobs_area.openSubCategories || menu.activeItem.subFilter || menu.activeItem.name"> <span class="fa fa-angle-right" style="padding: 0 10px;color: #ED4F49;font-size: 16pt;bottom: 2px;position: relative;"></span> </li>
        <li style="float: left;position: relative" class="pointer">
            <span ng-click="jobs_area={openSubCategories: true}" ng-show="menu.activeItem.subFilter">{{menu.activeItem.subFilter}}</span>
            <span ng-click="jobs_area={openSubCategories: true}" ng-show="!menu.activeItem.subFilter && menu.activeItem.name">{{menu.activeItem.name}}</span>
            <ul style="padding-left:0px;list-style-type: none;position: absolute;top:5px;width: 150px;left: 0px;background: white;box-shadow: 1px 1px 4px 1px lightgrey;padding: 0 10px;z-index: 99;" ng-show="jobs_area.openSubCategories">
                <li ng-repeat="value in filters[menu.activeItem.category]" style="margin: 12px 0px;">
                    <span class="pointer" ng-if="value.name" ng-click="menu.activeItem.name=value.name;jobs_area.openSubCategories=false">{{value.name}}</span>
                    <div ng-if="value.subFilter" >
                        <span class="pointer" ng-click="menu.activeItem.subFilter=value.subFilter;jobs_area.openSubNames=true;jobs_area.openSubCategories=false;menu.activeItem.name='';choiceFilter.type_filter=value.subFilter">{{value.subFilter}}</span>
                    </div>
                </li>
            </ul>
        </li>
        <li style="float: left;" ng-show="menu.activeItem.subFilter && menu.activeItem.subName"> <span class="fa fa-angle-right" style="padding: 0 10px;color: #ED4F49;font-size: 16pt;bottom: 2px;position: relative;"></span> </li>
        <li style="float: left;position: relative" class="pointer">
            <span ng-click="jobs_area={openSubNames:true}" ng-show="menu.activeItem.subName"  style="margin: 12px 0px;">{{menu.activeItem.subName}}</span>
            <ul style="padding-left:0px;list-style-type: none;position: absolute;top:25px;width: 150px;left: 0px; background: white;box-shadow: 1px 1px 4px 1px lightgrey;padding: 0 10px;z-index: 99;" ng-show="jobs_area.openSubNames">
                <li ng-repeat="subV in (filters[menu.activeItem.category] | filter: {subFilter: menu.activeItem.subFilter})[0].arr"  style="margin: 12px 0px;">
                    <span class="pointer" ng-click="menu.activeItem.subName=subV.name;jobs_area.openSubNames=false;choiceFilter.type_name=subV.name">{{subV.name}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>