<div class="jheader" open>
    Main Information
</div>
<div class="jbody">

    <div class="row ">
        <div class="col-md-12">
            <div class="title3">
                Job Title
            </div>
            {{job.title}}
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            <div class="title3">
                Job Description
            </div>
            {{job.description}}
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12">

            <div class="title3">Publication date</div>
            <div class="colrow8">
                <date value="job.created_at"></date>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-12">

            <div class="title3">Location</div>
            <div class="colrow8">
                <div ng-repeat="location in job.local_preference">
                    {{location}}<span ng-if="!$last">,</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row " ng-if="job.type">
        <div class="col-md-12">
            <div class="title3">Type</div>
            <div class="colrow8">{{job.type}}</div>
        </div>
    </div>

    <div class="row " ng-if="job.budget">
        <div class="col-md-12">
            <div class="title3">Maximal budget</div>
            <div class="colrow8">
                <budget value="job.budget"></budget>
            </div>
        </div>
    </div>


    <div class="row " ng-if="job.job_visivility">
        <div class="col-md-12">
            <div class="title3">Job Visibility</div>
            <div class="colrow8">{{job.job_visibility ? 'Public' : 'Private'}}</div>
        </div>
    </div>

    <!--<div class="row " ng-if="job.content_types.length">-->
        <!--<div class="col-md-12">-->
            <!--<div class="title3">Categories</div>-->
            <!--<div class="colrow8">-->
                <!--<div ng-repeat="item in job.content_types">-->
                    <!--{{item}}<span ng-if="!$last">,</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <div class="row ">
        <div class="col-md-12">
            <div class="title3">Expected Date of Completion</div>
            <div class="colrow8">
                <date value="job.date_of_completion"></date>
            </div>
        </div>
    </div>
</div>
<div class="jheader" open>
    Contact Information
</div>
<div class="jbody">
    <div class="row">
        <div class="col-xs-12">
            <div class="row " ng-if="job.name">
                <div class="title3">Client Name</div>
                <div class="colrow8">{{job.name}}</div>
            </div>

            <div class="row " ng-if="job.mobile">
                <div class="title3">Mobile phone number</div>
                <div class="colrow8">{{job.mobile}}</div>
            </div>

            <div class="row " ng-if="job.email">
                <div class="title3">Email</div>
                <div class="colrow8">{{job.email}}</div>
            </div>

            <div class="row " ng-if="job.company_name">
                <div class="title3">Company name</div>
                <div class="colrow8">{{job.company_name}}</div>
            </div>

            <div class="row " ng-if="job.website">
                <div class="title3">Website URL</div>
                <div class="colrow8">{{job.website}}</div>
            </div>
        </div>
    </div>
</div>
<div class="jheader" open>
    Job Questionnaire
</div>
<div class="jbody">
    <div>
        <div ng-repeat="(i,question) in job.questionnaire">
            <div hidden>{{job.questionnaire[i].question = question.question}}</div>
            <h3>{{question.question}}</h3>

            <div ng-if="!question.items.length">{{job.questionnaire[i].answer}}</div>
            <div ng-if="question.items.length" >
                <md-checkbox ng-repeat="(q,elem) in question.items" ng-model="job.questionnaire[i].answer[elem]" class="checkdark">{{elem}}</md-checkbox>
            </div>
        </div>
    </div>
</div>
<div class="jheader" open>
    Applications
</div>
<div class="jbody">
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="item in job.stats" class="stat-item"><b>{{item.count}}</b>&nbsp;<span>{{item.name}}</span>
            </div>
        </div>
    </div>
    <div ng-if="job.user != userId">
        <btns ng-if="!isApply" class="mtop20" list="['apply_create']"></btns>
        <btns ng-if="isApply" class="mtop20" list="['apply_edit']"></btns>
    </div>
</div>

