<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Admin UI</title>

    <!--<link rel="stylesheet" href="files/css/magnific-popup.css">-->
    <!--<link rel="stylesheet" href="files/css/datatables.css">-->
    <link href="../css/app.css" rel="stylesheet" type="text/css">
    <!--<link href="files/css/components.css" rel="stylesheet" type="text/css">-->
    <!--<link href="files/css/pages.css" rel="stylesheet" type="text/css">-->
    <!--<link href="files/css/responsive.css" rel="stylesheet" type="text/css">-->

    <link href="files/css/switchery.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../bower_components/ng-dialog/css/ngDialog.css">
    <link rel="stylesheet" href="../bower_components/ng-dialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="../bower_components/angular-notify/angular-notify.css">
    <link rel="stylesheet" href="../bower_components/angular-loading-bar/src/loading-bar.css">
    <link href="files/css/core.css" rel="stylesheet" type="text/css">
    <link href="files/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/admin/files/css/app.css" rel="stylesheet" type="text/css">

    <script async="" src="files/js/analytics.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="widescreen fixed-left" ng-app="XYZAdmin" ng-class="{loaded2: MainContentLoaded}" ng-controller="loginCtrl">
<div class="topbar" ng-controller="mainCtrl">

    <div class="topbar-left">
        <div class="text-center">
            <a href="" class="logo">
                <span>XYZ Online</span>
            </a>
        </div>
    </div>

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button ng-click="choice('users')" class="button-menu-mobile open-left waves-effect"
                            ng-class="{choice:isActive.users}">Users
                    </button>
                    <span class="clearfix"></span>
                </div>
                <div class="pull-left">
                    <button ng-click="choice('claims')" class="button-menu-mobile open-left waves-effect"
                            ng-class="{choice:isActive.claims}">Claims
                    </button>
                    <span class="clearfix"></span>
                </div>
                <div class="pull-left">
                    <button ng-click="choice('jobs')" class="button-menu-mobile open-left waves-effect"
                            ng-class="{choice:isActive.jobs}">Jobs
                    </button>
                    <span class="clearfix"></span>
                </div>
                <div class="pull-left">
                    <button ng-click="choice('sellers')" class="button-menu-mobile open-left waves-effect"
                            ng-class="{choice:isActive.sellers}">Sellers
                    </button>
                    <span class="clearfix"></span>
                </div>
                <!--<div class="pull-left">-->
                    <!--<button ng-click="choice('category')" class="button-menu-mobile open-left waves-effect"-->
                            <!--ng-class="{choice:isActive.category}">Category-->
                    <!--</button>-->
                    <!--<span class="clearfix"></span>-->
                <!--</div>-->


                <ul class="nav navbar-nav navbar-right pull-right">

                    <li class="dropdown">
                        <a ng-show="auth" href="#" data-target="#" class="waves-effect waves-light"
                           aria-expanded="false">
                            <div ng-click="logout(event)">Logout</div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg">
                            <li class="text-center notifi-title">Notification</li>
                            <li class="list-group nicescroll notification-list" tabindex="7000"
                                style="overflow: hidden; outline: none;">
                                <div class="list-group-item">
                                    login: <input ng-model="login.login" class="form-control">
                                    password: <input ng-model="login.password" class="form-control">
                                </div>
                                <button class="btn btn-default center-block" ng-click="loginSend(login)">Log in
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content-page" ng-view></div>


<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-loading-bar/src/loading-bar.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>
<script src="../bower_components/ng-dialog/js/ngDialog.min.js"></script>
<script src="../bower_components/angular-notify/angular-notify.js"></script>
<script src="../admin/js/app.js"></script>
<script src="../admin/js/controller.js"></script>
<script src="../admin/js/directive.js"></script>
<script src="../admin/js/service.js"></script>
<script src="../admin/js/filter.js"></script>
<script src="../admin/js/paging.min.js"></script>
<script src="files/js/bootstrap.min.js"></script>
<script src="files/js/detect.js"></script>
<script src="files/js/waves.js"></script>
<script src="files/js/wow.min.js"></script>
<script src="files/js/switchery.min.js"></script>
<script src="files/js/jquery.magnific-popup.min.js"></script>

</body>
</html>