<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="rejectForm" novalidate>
                <div class="modal-body">
                    <h2 class="text-center">Confirm delete</h2>
                </div>
                <div class="text-center" style="padding-bottom: 30px">
                    <button class="btn btn-danger" ng-click="submit();">OK</button>
                    <button class="btn btn-primary" ng-click="close()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>