<div class="topbar">

    <div class="topbar-left">
        <div class="text-center">
            <a href="" class="logo">
                <span>XYZ Online</span>
            </a>
        </div>
    </div>

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button ng-click="choice('users')" class="button-menu-mobile open-left waves-effect"
                            ng-class="{choice:isActive.users}">Users
                    </button>
                    <span class="clearfix"></span>
                </div>
                <div class="pull-left">
                    <button ng-click="choice('claim')" class="button-menu-mobile open-left waves-effect"
                            ng-class="{choice:isActive.claim}">Claim
                    </button>
                    <span class="clearfix"></span>
                </div>
                <div class="pull-left">
                    <button ng-click="choice('job')" class="button-menu-mobile open-left waves-effect"
                            ng-class="{choice:isActive.job}">Job
                    </button>
                    <span class="clearfix"></span>
                </div>


                <ul class="nav navbar-nav navbar-right pull-right">

                    <li class="dropdown hidden-xs">
                        <a ng-show="auth" href="#" data-target="#" class="waves-effect waves-light"
                           aria-expanded="false">
                            <div ng-click="logout(event)">Logout</div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg">
                            <li class="text-center notifi-title">Notification</li>
                            <li class="list-group nicescroll notification-list" tabindex="7000"
                                style="overflow: hidden; outline: none;">
                                <div class="list-group-item">
                                    login: <input ng-model="login.login" class="form-control">
                                    password: <input ng-model="login.password" class="form-control">
                                </div>
                                <button class="btn btn-default center-block" ng-click="loginSend(login)">Log in
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div ng-if="isActive.users" class="content-page">
    <div class="content">
        <div>
            <div class="users-block">
                <div class="row">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td ng-repeat="(key, value) in users[0]">{{key}}</td>
                            <td>Approve</td>
                            <td>Reject</td>
                        </tr>
                        <tr ng-repeat="user in users ">
                            <td ng-repeat="(key,value) in user | admin_filter">{{value}}</td>
                            <td ng-if="!user.admin_approved">
                                <button class="btn background-orange text-white" ng-click='approved(user, $index)'>
                                    Approve
                                </button>
                            </td>
                            <td ng-if="!user.admin_approved">
                                <button class="btn btn-danger" ng-click="showReject(true, user, $index)">Reject</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="isActive.claim" class="content-page">
    <div class="content">
        <div>
            <div class="users-block">
                <div class="row">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td ng-repeat="(key, value) in agency[0].data">{{key}}</td>
                            <td>Information</td>
                        </tr>
                        <tr ng-repeat="item in agency">
                            <td ng-repeat="(key,value) in item.data"><a class="pointer" ng-if="key=='Agency Name'"
                                                                        ng-click="showModal(true, item)">{{value}}</a><span
                                    ng-if="key!='Agency Name'">{{value}}</span></td>
                            <td ng-if="!item.admin_approved">
                                <button class="btn background-orange text-white" ng-click="showModal(true, item)">
                                    Show
                                </button>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="isActive.job" class="content-page">
    <div class="content">
        <div>
            <div class="users-block">
                <div class="row">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td ng-repeat="(key, value) in job[0].data">{{key}}</td>
                        </tr>
                        <tr ng-repeat="item in job">
                            <td ng-repeat="(key,value) in item.data">
                                <span ng-if="key=='Local preference' || key=='Content Types'" ng-repeat="elem in item.data[key] track by $index">{{elem}}<span ng-if="!$last">, </span></span>
                                <span ng-if="key!='Content Types' && key!='Local preference' && key != 'admin_approved'">{{value}}</span>
                                <button ng-if="value == 'Not approve'" class="btn background-orange text-white" ng-click="showJob(true, item.elem._id)">
                                    Approve
                                </button>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="reject" id="dialog" class="delete-modal-block">
    <div class="delete-panel panel-info panel-color">
        <header class="panel-heading">
            <h2 class="panel-title">Reject registration seller</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="text-center text-bold">Reason</div>
                <textarea class="form-control" rows="3" ng-model="reject_text"></textarea>
            </div>

            <div class="row m-t-20">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary waves-effect waves-light"
                            ng-click="rejectUser(reject_text)">Confirm
                    </button>
                    <button class="btn btn-default waves-effect" ng-click="showReject(false)">Cancel
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-show="showAgency" class="delete-modal-block">
    <div class="agency-panel panel-info panel-color">
        <header class="panel-heading">
            <h2 class="panel-title">Information about claim for agency</h2>
        </header>
        <div class="panel-body">
            <div class="row paddingB10">
                <div class="inlineBlock text-bold">first Name</div>
                <div class="inlineBlock">{{agencyRequest.first_name}}</div>
            </div>
            <div class="row paddingB10">
                <div class="inlineBlock text-bold">Last Name</div>
                <div class="inlineBlock">{{agencyRequest.last_name}}</div>
            </div>
            <div class="row paddingB10">
                <div class="inlineBlock text-bold">Email Id</div>
                <div class="inlineBlock">{{agencyRequest.email}}</div>
            </div>
            <div class="row paddingB10">
                <div class="inlineBlock text-bold">Phone Number</div>
                <div class="inlineBlock">{{agencyRequest.phone}}</div>
            </div>
            <div class="row">
                <div class="text-bold">Your role in the agency</div>
                <div>{{agencyRequest.role}}</div>
            </div>
            <div class="row m-t-20">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary waves-effect waves-light"
                            ng-click="approveAgency('approve',agencyRequest.email)">Approve
                    </button>
                    <button class="btn btn-primary waves-effect waves-light"
                            ng-click="approveAgency('reject',agencyRequest.email)">Reject
                    </button>
                    <button class="btn btn-default waves-effect" ng-click="showModal(false)">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-show="showJobModal" class="delete-modal-block">
    <div class="job-panel panel-info panel-color">
        <header class="panel-heading">
            <h2 class="panel-title">Approve or reject job</h2>
        </header>
        <div class="panel-body">
                <div class="row m-t-20">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary waves-effect waves-light"
                            ng-click="approveAgency('approve')">Approve
                    </button>
                    <button class="btn btn-primary waves-effect waves-light"
                            ng-click="approveAgency('reject')">Reject
                    </button>
                    <button class="btn btn-default waves-effect" ng-click="showJob(false)">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
