<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="panel-title">Information about claim for agency</h2>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div class="row paddingB10">
                        <div class="inlineBlock text-bold">first Name</div>
                        <div class="inlineBlock">{{agencyRequest.first_name}}</div>
                    </div>
                    <div class="row paddingB10">
                        <div class="inlineBlock text-bold">Last Name</div>
                        <div class="inlineBlock">{{agencyRequest.last_name}}</div>
                    </div>
                    <div class="row paddingB10">
                        <div class="inlineBlock text-bold">Email Id</div>
                        <div class="inlineBlock">{{agencyRequest.email}}</div>
                    </div>
                    <div class="row paddingB10">
                        <div class="inlineBlock text-bold">Phone Number</div>
                        <div class="inlineBlock">{{agencyRequest.phone}}</div>
                    </div>
                    <div class="row">
                        <div class="text-bold">Your role in the agency</div>
                        <div>{{agencyRequest.role}}</div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="row m-t-20">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-default waves-effect waves-light"
                                ng-click="approveAgency('approve',agencyRequest.email)" data-dismiss="modal">Approve
                        </button>
                        <button class="btn btn-default waves-effect waves-light"
                                ng-click="approveAgency('reject',agencyRequest.email)" data-dismiss="modal">Reject
                        </button>
                        <button class="btn btn-default waves-effect" ng-click="showModal(false)" data-dismiss="modal">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>