<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="panel-title">Reject registration seller</h2>
            </div>
            <div class="modal-body">
                <div class="panel-info panel-color">
                    <div class="panel-body">
                        <div class="modal-wrapper">
                            <div class="text-center text-bold">Reason</div>
                            <textarea class="form-control" rows="3" ng-model="reject_text"></textarea>
                        </div>


                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="row m-t-20">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-default waves-effect waves-light"
                                ng-click="rejectUser(reject_text)" data-dismiss="modal">Confirm
                        </button>
                        <button class="btn btn-default waves-effect" ng-click="showReject(false)" data-dismiss="modal">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>