<div class="content">
    <div>
        <div class="users-block">
            <div class="row">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td ng-repeat="(key, value) in users[0].data">{{key}}</td>
                        <td>Approve</td>
                        <td>Reject</td>
                    </tr>
                    <tr ng-repeat="user in users ">
                        <td ng-repeat="(key,value) in user.data | admin_filter">{{value}}</td>
                        <td ng-if="!user.elem.admin_approved">
                            <button class="btn btn-default" ng-click='approved(user.elem, $index)'>
                                Approve
                            </button>
                        </td>
                        <td ng-if="!user.elem.admin_approved">
                            <button class="btn btn-default" ng-click="showReject(true, user.elem, $index)">Reject</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>