<style>
    .menu{
        cursor: pointer;
        /*display: table-column;*/
    }
    .edit_input_label{
        width: calc(100% - 120px);
    }
    .edit_input{
        border: none;border-bottom: 1px solid #000000;outline: none; width: 100%
    }
</style>
<div class="row">
<div class="col-md-12" style="margin-top: 20px;">
    <ul class="list-group">
        <li class="list-group-item menu" ng-repeat=" location in locations">
            <a class="text-black top-menu-text">
                <span ng-hide="edit_space.is_edit == location.name"  ng-click="" >{{location.name}}</span>
                <label ng-show="edit_space.is_edit == location.name" class="edit_input_label">
                    <input type="text"  class="edit_input"
                           ng-model="edit_space.newName">
                </label>
                <button class="btn btn-sm relative up-button7 btn-times white floatR" ng-click="act_location(location.name,false,location)"><span class="pointer fa fa-trash-o "></span></button>
                <button class="btn btn-sm relative up-button7 btn-pencil white floatR" ng-hide="edit_space.is_edit == location.name" ng-click="edit_space.is_edit = location.name;edit_space.newName = location.name"><span  class="pointer fa fa-pencil"></span></button>
                <button class="btn btn-sm relative up-button7 btn-check white floatR" ng-show="edit_space.is_edit == location.name" ng-click="edit_location(edit_space.newName,location.name); location.name = edit_space.newName; edit_space.is_edit = '';"><span class="pointer fa fa-check"></span></button>
            </a>
        <li class="list-group-item menu" style="padding-bottom: 0;">
            <label class="edit_input_label">
                <input type="text"  class="edit_input"
                       ng-model="edit_space.newNameMain" placeholder="New Location">
            </label>
        <button class="btn btn-sm relative up-button7 btn-times white floatR" ng-click="act_location(false,true)"><span class="pointer fa fa-trash-o"></span></button>
            <button class="btn btn-sm relative up-button7 btn-check white floatR" ng-click="act_location(edit_space.newNameMain,false,false);"><span class="pointer fa fa-check"></span></button>
        </li>
    </ul>
</div>
</div>