<div class="row">
    <div class="{{btns_class_name}}" ng-repeat="btn in btns_list">
        <button ng-click="on_fn(btn)"
                ng-if="btn.fn" class="btn btn-grey w100" >
            {{btn.name}}
        </button>
        <a class="btn btn-grey w100" ng-if="btn.ui_sref && !btn.ui_params" ui-sref="{{btn.ui_sref}}">
            {{btn.name}}
        </a>
        <a class="btn btn-grey w100"
           ng-if="btn.ui_sref && btn.ui_params"
           ng-href="{{$state.href(btn.ui_sref, btn.ui_params())}}"
        >
            {{btn.name}}
        </a>
    </div>
    <div class="col-xs-12">
        <div error ng-if="!hid_error"></div>
    </div>
</div>
<!--ng-click="contract_approve(formContract.$invalid, 'update', contract); submitted = true"-->
