<form name="postjob" novalidate id="postjob">
    <div class="jheader jborder" open>
        Contact Details
    </div>
    <div class="jbody">
        <div class="title3">Choose a category and subcategory</div>
        <filter-category ng-model="job" filters="commonFilters"></filter-category>
        <div class="row form-group">
            <div ng-class="{'has-error': submitted && postjob.name.$invalid}">
                <md-input-container class="md-block">
                    <div class="title3">Name</div>
                    <input class="form-control" name="name" ng-model="job.client_name" required>

                    <div ng-messages="submitted && postjob.name.$error.$invalid">
                        <div ng-show="submitted && postjob.name.$error.required" ng-message="required">
                            {{default_empty}}
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div
                    ng-class="{'has-error': submitted && postjob.mobile.$invalid}">
                <md-input-container class="md-block">
                    <div class="title3">Mobile phone number</div>
                    <input phone-number class="form-control" name="mobile" ng-model="job.mobile" required>

                    <div ng-messages="submitted && postjob.mobile.$error.$invalid">
                        <div ng-show="submitted && postjob.mobile.$error.required" ng-message="required">
                            {{default_empty}}
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div ng-class="{'has-error': submitted && postjob.email.$invalid}">
                <md-input-container class="md-block">
                    <div class="title3">Email</div>
                    <input type="email" class="form-control" name="email" ng-model="job.email" required>

                    <div ng-messages="submitted && postjob.email.$error.$invalid">
                        <div ng-show="submitted && postjob.email.$error.required" ng-message="required">
                            {{default_empty}}
                        </div>
                        <div ng-show="!submitted && postjob.email.$error.required && submitted && postjob.email.$error.email"
                             ng-message="email">Required field
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div
                    ng-class="{'has-error': submitted && postjob.company.$invalid}">
                <md-input-container class="md-block">
                    <div class="title3">Company name</div>
                    <input class="form-control" name="company" ng-model="job.company_name" required>

                    <div ng-messages="submitted && postjob.company.$error.$invalid">
                        <div ng-show="submitted && postjob.company.$error.required" ng-message="required">
                            {{default_empty}}
                        </div>
                    </div>
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <md-input-container class="md-block">
                <div class="title3">Website URL</div>
                <input class="form-control" ng-model="job.website">
            </md-input-container>
        </div>


    </div>
    <div class="jheader" open>
        Project Details
    </div>
    <div class="jbody">
        <div class="row form-group" ng-class="{'has-error': submitted && postjob.title.$invalid}">
            <md-input-container class="md-block">
                <div class="title3">Project Title</div>
                <input class="form-control" name="title" ng-model="job.title" required>
                <div ng-messages="submitted && postjob.title.$error.$invalid">
                    <div ng-show="submitted && postjob.title.$error.required" ng-message="required">{{default_empty}}
                    </div>
                </div>
            </md-input-container>
        </div>
        <div class="">
            <div>
                <table class="table no-table-border" style="margin-bottom: 0px;">
                    <tbody>
                    <tr>
                        <td style="">
                            <div style="left: -20px;" class="pointer attach-sample-button" class="pointer" ngf-select="addImage($file)" ngf-pattern="'image/*'" ngf-multiple="false">
                                <ng-md-icon icon="attach_file" size="35"></ng-md-icon>
                                <span class="title3" style="position:relative;top:-10px">Add featured image</span>
                            </div>
                        </td>
                        <!--<td ng-repeat="file in preview_attachments">-->
                        <!--<img ngf-src="file" style="width: 60px;height: auto;" ngf-thumbnail="file" class="thumb">-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <div class="row Files relative" ng-if="preview" style="">
                        <img ngf-src="preview" style="width: 60px;height: auto; float: left;" ngf-thumbnail="preview" class="thumb">
                    <span class="close-preview pointer"  ng-click="deleteImg($index)"><i class="fa fa-times" aria-hidden="true" ></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group" ng-class="{'has-error': submitted && postjob.description.$invalid}">
            <md-input-container class="md-block">
                <div class="title3">Provide a description of your requirements</div>
                    <textarea style="min-height: 87px!important" class="form-control" name="description"
                              ng-model="job.description" required
                              rows="12s"></textarea>
                <div ng-messages="submitted && postjob.description.$error.$invalid">
                    <div ng-show="submitted && postjob.description.$error.required" ng-message="required">
                        {{default_empty}}
                    </div>
                </div>
            </md-input-container>
        </div>
        <div class="row">
            <div class="title3">Which of the following Content Types are you looking for?</div>
            <div ng-repeat="item in contentTypes">
                <md-checkbox class="checkdark" ng-model="job.content[item]">{{item}}</md-checkbox>
            </div>
        </div>

        <div class="row">
            <div class="md-block">
                <div class="title3">Do you have a location preference?</div>
                <div ng-repeat="location in locations">
                    <md-checkbox ng-model="job.location[location]" class="checkdark">{{location}}
                    </md-checkbox>
                </div>
            </div>
        </div>

        <div class="row" ng-init="job.type = 'Agency'">
            <div class="title3">Do you have a preference for a type of professional</div>
            <div ng-repeat="type in types">
                <md-checkbox ng-model="job.type_checkbox[type]" class="checkdark">{{type}}
                </md-checkbox>
            </div>
        </div>
        <div class="md-block">

            <div class="row form-group" ng-class="{'has-error': submitted && postjob.budget.$invalid}">
                <div class="title3">What is your maximal budget for this marketing campaign</div>
                <md-input-container class="md-block">
                    <input class="form-control" name="budget" numbers-only ng-model="job.budget" required>
                    <div ng-messages="submitted && postjob.budget.$error.$invalid">
                        <div ng-show="submitted && postjob.budget.$error.required" ng-message="required">
                            {{default_empty}}
                        </div>
                    </div>
                </md-input-container>
            </div>
        </div>
        <div class="">
            <div>
                <table class="table no-table-border" style="margin-bottom: 0px;">
                    <tbody>
                    <tr>
                        <td style="">
                            <div style="left: -20px;" class="pointer attach-sample-button" class="pointer" ngf-select="addFiles($file)" ngf-pattern="'image/*'" ngf-multiple="false">
                                <ng-md-icon icon="attach_file" size="35"></ng-md-icon>
                                <span class="text-bold title3" style="position:relative;top:-10px;">Add attachments</span>
                                <div style="color: lightgrey;"><i>The file can be up to 5 Mb in size</i></div>

                            </div>
                        </td>
                        <!--<td ng-repeat="file in preview_attachments">-->
                        <!--<img ngf-src="file" style="width: 60px;height: auto;" ngf-thumbnail="file" class="thumb">-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <div class="row Files">
                        <div class="col-xs-8">
                            <div class="inline-block floatL relative preview" ng-repeat="attach in attach">
                                <img ngf-src="attach" style="width: 60px;height: auto;" ngf-thumbnail="attach" class="thumb">
                                <span class="close pointer" ng-click="deleteAttachFile($index)"><i class="fa fa-times" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-init="job.job_visibility = 'Public'">
            <div class="title3">Job Visibility</div>
            <md-radio-group ng-model="job.job_visibility">
                <md-radio-button value="Public" class="checkdark">Public</md-radio-button>
                <md-radio-button value="Private" class="checkdark">Private</md-radio-button>
            </md-radio-group>
        </div>

        <div class="row">
            <div class="md-block">
                <div class="title3">Expected Date of Completion</div>
                <md-datepicker ng-model="job.date_of_completion" md-placeholder="Enter date"
                               md-open-on-focus=""></md-datepicker>
            </div>
        </div>

        <btns list_scope="{{btns}}"></btns>
    </div>
</form>