<form name="service" novalidate>

    <div class="tab-title-wrap">
        <h3 class="tab-title">Create Packages</h3>
        <p class="sub-tab-title">Please provide information about the Create Package services you offer</p>
    </div>

    <div style="max-height: 400px;overflow: auto;">
        <h4 class="info-title">Package Title</h4>
        <div class="form-group" ng-class="{'hasError': service.title.$invalid && submittedPkg}">
            <md-input-container class="full-width">
                <input ng-model="newPackage.package.title" name="title" placeholder="Short Text" required/>
                <div ng-messages="submittedPkg && service.title.$invalid">
                    <div ng-show="submittedPkg && service.title.$error.required" ng-message="required">Title is required</div>
                </div>
            </md-input-container>
        </div>

        <h4 class="info-title">Description</h4>
        <div class="form-group" ng-class="{'hasError': service.description.$invalid && submittedPkg}">
            <md-input-container class="full-width">
                <textarea ng-model="newPackage.package.description" name="description" placeholder="Short description" required></textarea>
                <div ng-messages="submittedPkg && service.description.$invalid">
                    <div ng-show="submittedPkg && service.description.$error.required" ng-message="required">Description is required</div>
                </div>
            </md-input-container>
        </div>

        <h4 class="info-title">Price in Rs.</h4>
        <div class="form-group" ng-class="{'hasError': service.price.$invalid && submittedPkg}">
            <md-input-container class="full-width">
                <input numbers-only name="price" ng-model="newPackage.package.pricing" placeholder="10,000" required>
                <div ng-messages="submittedPkg && service.price.$invalid">
                    <div ng-show="submittedPkg && service.price.$error.required" ng-message="required">Price is required</div>
                </div>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <table>
                <tr ng-repeat="item in newPackage.package.extras" style="border-bottom: 1px solid lightgray">
                    <td style="width: 30%">{{item.price}}</td>
                    <td style="width: 60%">{{item.description}}</td>
                    <td style="width: 10%">
                        <ng-md-icon icon="cancel" ng-click="newPackage.package.extras.splice($index,1)" style="fill: red;cursor: pointer"></ng-md-icon>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%">
                        <md-input-container class="full-width">
                            <label>Price</label>
                            <input ng-model="newItem.price" numbers-only>
                        </md-input-container>
                    </td>
                    <td style="width: 60%">
                        <md-input-container class="full-width">
                            <label>Description</label>
                            <textarea ng-model="newItem.description"></textarea>
                        </md-input-container>
                    </td>
                    <td style="width: 10%" class="text-center">
                        <ng-md-icon icon="add_circle" ng-click="addExtra(newItem);newItem={};" style="fill: gray;cursor: pointer;top: -6px;position: relative;" size="32"></ng-md-icon>
                    </td>
                </tr>
            </table>
        </div>

        <h4 class="info-title">What information you will need from the client for this package?</h4>
        <md-input-container class="full-width">
            <textarea ng-model="newPackage.package.information" md-select-on-focus="" name="information"></textarea>
            <div ng-messages="submittedPkg && service.information.$invalid">
                <div ng-show="submittedPkg && service.information.$error.required" ng-message="required">Information is required</div>
            </div>
        </md-input-container>

        <div class="text-right pointer" ngf-select="addPkgFile($file)" ngf-pattern="'image/*'">
            <img ng-src="{{newPackage.tempPreview || newPackage.package.preview.url}}" ng-if="newPackage.tempPreview || newPackage.package.preview.url" style="max-height: 70px">
            <span style="font-size: 20px">Attach preview</span> <ng-md-icon icon="attach_file" style="fill: gray;" size="48"></ng-md-icon>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <md-button class="md-raised prev-button" ng-click="show.pkgModal=false"> CANCEL </md-button>
        </div>
        <div class="col-md-6">
            <md-button class="md-raised next-button" ng-click="submitPackage(service.$invalid, package); submittedPkg=true;package={};"> SUBMIT </md-button>
        </div>
    </div>
</form>