<form name="service" novalidate>

    <div class="row text-bold text-center paddingB10">Create Package</div>
    <div class="form-group" ng-class="{'hasError': service.title.$invalid && submittedPkg}">
        <md-input-container class="full-width">
            <label>Package Title</label>
            <input ng-model="newPackage.package.title" name="title" required/>
            <div ng-messages="submittedPkg && service.title.$invalid">
                <div ng-show="submittedPkg && service.title.$error.required" ng-message="required">Title is required</div>
            </div>
        </md-input-container>
    </div>

    <div class="form-group" ng-class="{'hasError': service.description.$invalid && submittedPkg}">
        <md-input-container class="full-width">
            <label>Description</label>
            <textarea ng-model="newPackage.package.description" name="description" required></textarea>
            <div ng-messages="submittedPkg && service.description.$invalid">
                <div ng-show="submittedPkg && service.description.$error.required" ng-message="required">Description is required</div>
            </div>
        </md-input-container>
    </div>
    <div class="form-group" ng-class="{'hasError': service.price.$invalid && submittedPkg}">
        <md-input-container class="full-width">
            <label>Price in Rs.</label>
            <input numbers-only name="price" ng-model="newPackage.package.pricing" placeholder="10,000" required>
            <div ng-messages="submittedPkg && service.price.$invalid">
                <div ng-show="submittedPkg && service.price.$error.required" ng-message="required">Price is required</div>
            </div>
        </md-input-container>
    </div>

    <div layout-gt-sm="row">
        <table>
            <tr ng-repeat="item in newPackage.package.extras" style="border-bottom: 1px solid lightgray">
                <td style="width: 30%">{{item.price}}</td>
                <td style="width: 60%">{{item.description}}</td>
                <td style="width: 10%">
                    <ng-md-icon icon="cancel" ng-click="newPackage.package.extras.splice($index,1)" style="fill: red;cursor: pointer"></ng-md-icon>
                </td>
            </tr>
            <tr>
                <td style="width: 30%">
                    <md-input-container class="full-width">
                        <label>Price</label>
                        <input ng-model="newItem.price" numbers-only>
                    </md-input-container>
                </td>
                <td style="width: 60%">
                    <md-input-container class="full-width">
                        <label>Description</label>
                        <textarea ng-model="newItem.description"></textarea>
                    </md-input-container>
                </td>
                <td style="width: 10%" class="text-center">
                    <ng-md-icon icon="add_circle" ng-click="addExtra(newItem);newItem={};" style="fill: #75B155;cursor: pointer" size="32"></ng-md-icon>
                </td>
            </tr>
        </table>
    </div>

    <md-input-container class="full-width">
        <label>What information you will need from the client for this package?</label>
        <textarea ng-model="newPackage.package.information" md-select-on-focus="" name="information"></textarea>
        <div ng-messages="submittedPkg && service.information.$invalid">
            <div ng-show="submittedPkg && service.information.$error.required" ng-message="required">Information is required</div>
        </div>
    </md-input-container>

    <div class="text-right pointer" ngf-select="addPkgFile($file)" ngf-pattern="'image/*'">
        <img ng-src="{{newPackage.tempPreview || newPackage.package.preview_url}}" ng-if="newPackage.tempPreview || newPackage.package.preview_url" style="max-height: 70px">
        <span style="font-size: 20px">Attach preview</span> <ng-md-icon icon="attach_file" style="fill: gray;" size="48"></ng-md-icon>
    </div>
    <div class="row text-center marginT20">
        <button type="submit" class="btn btn-default floatL " ng-click="submitPackage(service.$invalid, package); submittedPkg=true;package={};">Submit</button>
        <a class="btn btn-back floatR" ng-click="show.pkgModal=false">Cancel</a>
    </div>
</form>