<section ng-controller="FreelancerRegistrationCtrl" class="profile-details">
    <h1 class="main-tab-title">MY PROFILE DETAIILS</h1>
    <div class="small-red-line"></div>
    <div ng-if="contentReady" ng-init="freelancer.type=freelancer.type || 'agency'" class="form-wrapper">
        <md-radio-group ng-model="freelancer.type" layout="row" style="margin-bottom: 25px;">
            <md-radio-button value="agency" class="md-primary">Agency</md-radio-button>
            <md-radio-button value="freelancer" style="margin-left: 50px">Freelancer</md-radio-button>
        </md-radio-group>

        <div class="row registration-tab-menu" ng-init="freelancer_area.activeTab = 'about'">
            <div ng-click="freelancer_area.activeTab = 'about'" ng-class="{active: freelancer_area.activeTab == 'about'}" class="col-md-2 col-sm-2 col-xs-2">
                ABOUT
            </div>
            <div ng-click="invalid(aboutForm);submittedAbout=!submittedAbout;!aboutForm.$invalid ? (freelancer_area.activeTab = 'expertise'):errorNotify();!aboutForm.$invalid ? loadQuestions() : false"
                 ng-class="{active: freelancer_area.activeTab == 'expertise'}"
                 class="col-md-2 col-sm-2 col-xs-2">
                EXPERTISE
            </div>
            <div ng-click="submittedAbout!=submittedAbout;!aboutForm.$invalid ? (freelancer_area.activeTab = 'pricing') : errorNotify()" ng-class="{active: freelancer_area.activeTab == 'pricing'}" class="col-md-2 col-sm-2 col-xs-2">
                PRICING
            </div>
            <!--<div ng-click="!priceForm.$invalid && !aboutForm.$invalid ? (freelancer_area.activeTab = 'work') : errorNotify()" ng-class="{active: freelancer_area.activeTab == 'work'}" class="col-md-2 col-sm-2 col-xs-2">-->
            <div ng-click="freelancer_area.activeTab = 'work'" ng-class="{active: freelancer_area.activeTab == 'work'}" class="col-md-2 col-sm-2 col-xs-2">
                WORK
            </div>
            <div ng-click="!workForm.$invalid && !priceForm.$invalid && !aboutForm.$invalid ? (freelancer_area.activeTab = 'contact') : errorNotify()" ng-class="{active: freelancer_area.activeTab == 'contact'}" class="col-md-2 col-sm-2 col-xs-2">
                CONTACT
            </div>
        </div>


        <form name="aboutForm" ng-show="freelancer_area.activeTab == 'about'">
            <div ng-if="freelancer.type == 'freelancer'" class="tab-title-wrap">
                <h3 class="tab-title">Freelancer Information</h3>
                <p class="sub-tab-title">Please provide brief information about yourself</p>
            </div>

            <div ng-if="freelancer.type == 'agency'" class="tab-title-wrap">
                <h3 class="tab-title">Agency Information</h3>
                <p class="sub-tab-title">Please provide brief information about your agency</p>
            </div>

            <h4 ng-if="freelancer.type == 'freelancer'" class="info-title">Display name*</h4>
            <h4 ng-if="freelancer.type == 'agency'" class="info-title">Agency name*</h4>
            <div class="form-group" ng-class="{'has-error': submittedAbout && aboutForm.name.$invalid}">
                <md-input-container class="md-block">
                    <input class="form-control" name="name" unique-name ng-model="freelancer.name" required placeholder="Short text">
                    <div ng-messages="submittedAbout && aboutForm.name.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                        <div ng-show="aboutForm.name.$error.unique" ng-message="unique">Name already is taken</div>
                        <div ng-show="submittedAbout && aboutForm.name.$error.required" ng-message="required">Name is</div>
                    </div>
                </md-input-container>
            </div>
            <h4 ng-if="freelancer.type == 'freelancer'" class="info-title">Actual name</h4>
            <div ng-if="freelancer.type == 'freelancer'" class="form-group" ng-class="{'has-error': submittedAbout && aboutForm.actualName.$invalid}">
                <md-input-container class="md-block">
                    <input class="form-control" name="actualName" ng-model="freelancer.actual_name" required placeholder="Short text">
                    <div ng-messages="submittedAbout && aboutForm.actualName.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                        <div ng-show="submittedAbout && aboutForm.actualName.$error.required" ng-message="required">Actual name is</div>
                    </div>
                </md-input-container>
            </div>

            <h4 class="info-title">Provide a short introduction of you*<span ng-if="freelancer.type == 'agency'">r agency</span> (ideally 10-20 words)</h4>
            <p class="sub-info-title">(ideally 10-20 words)</p>

            <div class="form-group" ng-class="{'has-error': submittedAbout && aboutForm.introduction.$invalid}">
                <md-input-container class="md-block">
                    <textarea class="form-control" required name="introduction" ng-model="freelancer.introduction" placeholder="Short text"></textarea>
                    <div ng-messages="submittedAbout && aboutForm.introduction.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                        <div ng-show="submittedAbout && aboutForm.introduction.$error.required" ng-message="required">Introduction of you is</div>
                    </div>
                </md-input-container>
            </div>
            <div ng-if="freelancer.type == 'agency'">

                <h4 class="info-title">Company URL*</h4>
                <div class="form-group">
                    <md-input-container class="md-block" flex-gt-sm="" ng-class="{'has-error': submittedAbout && aboutForm.url.$invalid}">
                        <input aria-label="hidden" name="url" ng-model="freelancer.url" required>
                        <div ng-messages="submittedAbout && aboutForm.url.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                            <div ng-show="submittedAbout && aboutForm.url.$error.required" ng-message="required">Required field</div>
                        </div>
                    </md-input-container>
                </div>

                <h4 class="info-title">Head Office Address*</h4>
                <div class="form-group">
                    <md-input-container class="md-block" flex-gt-sm="" ng-class="{'has-error': submittedAbout && aboutForm.address.$invalid}">
                        <input aria-label="hidden" name="address" ng-model="freelancer.address" required>
                        <div ng-messages="submittedAbout && aboutForm.address.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                            <div ng-show="submittedAbout && aboutForm.address.$error.required" ng-message="required">Required field</div>
                        </div>
                    </md-input-container>
                </div>

                <h4 class="info-title">Office Phone Number*</h4>
                <div class="form-group">
                    <md-input-container class="md-block" flex-gt-sm="" ng-class="{'has-error': submittedAbout && aboutForm.phone.$invalid}">
                        <input aria-label="hidden" phone-number name="phone" ng-model="freelancer.phone" required>
                        <div ng-messages="submittedAbout && aboutForm.phone.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                            <div ng-show="submittedAbout && aboutForm.phone.$error.required" ng-message="required">Required field</div>
                        </div>
                    </md-input-container>
                </div>

                <h4 class="info-title">Cities where you can service</h4>
                <div class="form-group testDisplay">
                    <md-input-container class="selectTerm" ng-class="{'has-error': submittedAbout && aboutForm.cities.$invalid}">
                        <md-select aria-label="hidden" ng-model="freelancer.cities" name="cities" md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader" multiple>
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm" type="search" ng-keydown="onSearchChange($event)" placeholder="Search for a cities.."
                                       class="demo-header-searchbox _md-text">
                            </md-select-header>
                            <md-optgroup label="locations">
                                <md-option ng-value="item" ng-repeat="item in locations | filter:searchTerm">
                                    {{item}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                        <div ng-messages="submittedAbout && aboutForm.cities.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                            <div ng-show="submittedAbout && aboutForm.cities.$error.required" ng-message="required">Required field</div>
                        </div>
                    </md-input-container>
                </div>

                <h4 class="info-title">Number of Employees</h4>
                <div class="form-group">
                    <md-radio-group ng-model="freelancer.employees" layout="row" style="margin-bottom: 25px;">
                        <md-radio-button value="1-10" class="md-primary" style="line-height: 40px; margin-right: 0">1-10</md-radio-button>
                        <md-radio-button value="11-50" style="margin-left: 50px;line-height: 40px; margin-right: 0">11-50</md-radio-button>
                        <md-radio-button value="51-250" style="margin-left: 50px;line-height: 40px; margin-right: 0">51-250</md-radio-button>
                        <md-radio-button value="251-1000" style="margin-left: 50px;line-height: 40px; margin-right: 0">251-1000</md-radio-button>
                        <md-radio-button value="1000+" style="margin-left: 50px;line-height: 40px; margin-right: 0">1000+</md-radio-button>
                    </md-radio-group>
                </div>


                <!--<div class="pointer attach-sample-button" class="pointer" ngf-select="addPastClientFile($file)" ngf-pattern="'image/*'" ngf-multiple="false">-->
                <!--<ng-md-icon icon="attach_file" size="16"></ng-md-icon>-->
                <!--<span style="position:relative;font-size: 14px;top:-3px;">Attach Logo</span>-->
                <!--</div>-->
                <!--<img ngf-src="newPastClient.preview_attachment" style="width: 30px;height: auto;" ngf-thumbnail="newPastClient.preview_attachment" class="thumb">-->

                <div class="text-right pointer floatL full-width" style="margin-bottom: 40px" ngf-select="setAgencyTempPreview($file)" ngf-pattern="'image/*'" ngf-multiple="false">
                    <img ng-src="{{freelancer.contact_detail.preview}}" style="max-width: 70px" ng-if="freelancer.contact_detail.preview">
                    <ng-md-icon class="floatL" icon="attach_file" style="fill: gray;" size="48"></ng-md-icon>
                    <span class="floatL" style="font-size: 20px">Please upload your agency logo</span>
                </div>


                <div class="text-right pointer floatL full-width" style="margin-bottom: 40px" ng-click="show.profilePreview=true; show.typeImg ='brochure'">
                    <img ng-src="{{freelancer.brochure}}" style="max-width: 70px" ng-if="freelancer.brochure">
                    <ng-md-icon icon="attach_file" class="floatL" style="fill: gray;" size="48"></ng-md-icon>
                    <span class="floatL" style="font-size: 20px">Please upload your corporate brochure</span>
                </div>
            </div>

            <div ng-if="freelancer.type == 'freelancer'">

                <h4 class="info-title">Your location</h4>
                <div class="form-group">
                    <md-input-container class="md-block" flex-gt-sm="" ng-class="{'has-error': submittedAbout && aboutForm.location.$invalid}">
                        <md-select aria-label="hidden" name="location" ng-model="freelancer.location">
                            <md-option ng-repeat="item in locations" value="{{item}}">
                                {{item}}
                            </md-option>
                        </md-select>
                        <div ng-messages="submittedAbout && aboutForm.location.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                            <div ng-show="submittedAbout && aboutForm.location.$error.required" ng-message="required">Required field</div>
                        </div>
                    </md-input-container>
                </div>

                <h4 class="info-title">Cities where you can service</h4>
                <div class="form-group testDisplay">
                    <md-input-container class="selectTerm" ng-class="{'has-error': submittedAbout && aboutForm.cities.$invalid}">
                        <md-select aria-label="hidden" ng-model="freelancer.cities" name="cities" md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader" multiple="">
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm" type="search" ng-keydown="onSearchChange($event)" placeholder="Search for a cities.."
                                       class="demo-header-searchbox _md-text">
                            </md-select-header>
                            <md-optgroup label="locations">
                                <md-option ng-value="item" ng-repeat="item in locations | filter:$select.search ">
                                    {{item}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                        <div ng-messages="submittedAbout && aboutForm.cities.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                            <div ng-show="submittedAbout && aboutForm.cities.$error.required" ng-message="required">Required field</div>
                        </div>
                    </md-input-container>
                </div>

                <h4 class="info-title">Years of Experience (in years)</h4>
                <div class="form-group">
                    <div>
                        <rzslider rz-slider-model="Experience.value" rz-slider-options="Experience.options"></rzslider>
                    </div>
                </div>

                <div class="text-right pointer" ng-click="show.profilePreview=true; show.typeImg='preview'">
                    <img ng-src="{{freelancer.contact_detail.preview}}" style="max-width: 70px" ng-if="freelancer.contact_detail.preview">
                    <span style="font-size: 20px">Upload profile picture</span>
                    <ng-md-icon icon="attach_file" style="fill: gray;" size="48"></ng-md-icon>
                </div>


            </div>

            <h4 class="info-title" ng-if="freelancer.type == 'agency'">I want to register as an agency in:</h4>
            <h4 class="info-title" ng-if="freelancer.type == 'freelancer'">I want to register as a freelancer/ consultant in:</h4>
            <div class="form-group">
                <ul style="list-style-type: none; padding-left: 0px;">
                    <li ng-repeat="(commonFilter, values) in commonFilters" ng-if="!(commonFilter == 'Bloggers and Influencers' && freelancer.type == 'agency')">
                        <md-checkbox ng-checked="existsService(commonFilter, '', '')" ng-click="toggleService(commonFilter)">
                            {{commonFilter}}
                        </md-checkbox>
                        <ul style="list-style-type: none;" ng-show="existsService(commonFilter, '', '')">
                            <li ng-repeat="value in values">
                                <md-checkbox ng-checked="existsService(commonFilter, '', value.name)" ng-click="toggleService(commonFilter, '', value.name)"
                                             ng-if="value.name" class="margin-top-8 md-warn">{{value.name}}
                                </md-checkbox>
                                <div ng-if="value.name == 'Translation'">
                                    <md-list>
                                        <md-list-item ng-repeat="item in freelancer.translation">
                                            <p> {{ item.from }} - {{ item.to }} </p>
                                            <ng-md-icon icon="cancel" ng-click="translationRemove(item)" style="fill: #969696 ;cursor: pointer"></ng-md-icon>
                                        </md-list-item>
                                    </md-list>
                                    <div>
                                        <md-input-container style="width: 40%; margin-bottom: 0px;margin-top: 0px;">
                                            <md-select aria-label="hidden"
                                                       ng-model="translation.translationFrom"
                                                       md-on-close="clearSearchTerm()"
                                                       data-md-container-class="selectdemoSelectHeader"
                                            >
                                                <md-select-header class="demo-select-header">
                                                    <input ng-model="searchTerm" type="search"
                                                           placeholder="From"
                                                           class="demo-header-searchbox _md-text">
                                                </md-select-header>
                                                <md-optgroup label="locations">
                                                    <md-option ng-value="item"
                                                               ng-repeat="item in language | filter:$select.search">
                                                        {{item}}
                                                    </md-option>
                                                </md-optgroup>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container style="width: 40%; margin-bottom: 0px;margin-top: 0px;">
                                            <md-select aria-label="hidden"
                                                       ng-model="translation.translationTo"
                                                       md-on-close="clearSearchTerm()"
                                                       data-md-container-class="selectdemoSelectHeader">
                                                <md-select-header class="demo-select-header">
                                                    <input ng-model="searchTerm" type="search"
                                                           placeholder="To"
                                                           class="demo-header-searchbox _md-text">
                                                </md-select-header>
                                                <md-optgroup label="locations">
                                                    <md-option ng-value="item"
                                                               ng-repeat="item in language | filter:$select.search">
                                                        {{item}}
                                                    </md-option>
                                                </md-optgroup>
                                            </md-select>
                                            <div ng-messages="translation.inValid">
                                                <div ng-message="required">Contact Person Name is</div>
                                            </div>
                                        </md-input-container>
                                        <ng-md-icon icon="done" ng-click="translationAdd(translation.translationFrom,translation.translationTo);"
                                                    style="fill: #969696 ;cursor: pointer; margin-top: 18px;"></ng-md-icon>
                                        <br/>
                                        <span ng-if="translation.inValid && (translation.translationFrom == translation.translationTo)" style="color: red;margin-bottom: 18px">Language must be different</span><br/>
                                        <span ng-if="(translation.inRequerd && (!translation.translationFrom || !translation.translationTo) ) " style="color: red;margin-bottom: 18px">Select languages</span>
                                    </div>
                                </div>
                                <div ng-if="value.subFilter">
                                    <md-checkbox ng-checked="existsService(commonFilter, value.subFilter, '')" ng-click="toggleService(commonFilter, value.subFilter, '')"
                                                 class="margin-top-8 md-warn">{{value.subFilter}}
                                    </md-checkbox>
                                    <ul ng-if="value.subFilter" ng-show="existsService(commonFilter, value.subFilter, '')" style="list-style-type: none;">
                                        <li ng-repeat="subV in value.arr">
                                            <md-checkbox ng-checked="existsService(commonFilter, value.subFilter, subV.name)" ng-click="toggleService(commonFilter, value.subFilter, subV.name)"
                                                         class="margin-top-8 md-warn">{{subV.name}}
                                            </md-checkbox>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div class="row">
                <div class="col-md-6"></div>

                <div class="col-md-6">
                    <md-button class="md-raised next-button" ng-disabled="aboutForm.name.$invalid"
                               ng-click="submittedAbout=true;aboutForm.$invalid ? scrollToErr() : false;!aboutForm.$invalid ? freelancer_area.activeTab = 'expertise' : errorNotify();!aboutForm.$invalid ? loadQuestions(): false"> NEXT
                    </md-button>
                </div>
            </div>
        </form>


        <form ng-show="freelancer_area.activeTab == 'expertise'" style="margin-top: 5px">
            <div ng-if="!questionnaire.length">
                <h3 class="text-center">Choice service provider not have questionnaire</h3>
            </div>
            <uib-tabset active="activeForm">
                <uib-tab ng-repeat="service in questions" ng-if="(questionnaire|filter:service).length" ng-init="index=$index" index="$index" heading="{{service}}">
                    <ng-form name="nestedForm">
                        <div class="form-group">
                            <div ng-repeat="item in questionnaire|filter:service" ng-init="_index=$index">
                                <h3 ng-init="freelancer.questionnaire[index][_index].question=item.question; freelancer.questionnaire[index][_index].row_number = item.row_number">{{item.question}}</h3>

                                <div ng-if="!item.items.length && !item.table.length">
                                    <md-input-container aria-label="none" class="md-block" flex-gt-sm>
                                        <input aria-label="hidden" name="answer" ng-model="freelancer.questionnaire[index][_index].answer">
                                    </md-input-container>
                                </div>

                                <div ng-if="item.items && item.items.length">
                                    <md-checkbox aria-label="none" ng-repeat="box in item.items track by $index" ng-model="freelancer.questionnaire[index][_index].items[$index]">{{box}}</md-checkbox>
                                </div>
                                <div ng-if="item.table">
                                    <table class="table table-bordered table-hover" ng-init="rows(item, item.row_number)">
                                        <tr>
                                            <td ng-repeat="table in item.table track by $index" ng-init="freelancer.questionnaire[index][_index].table_header[$index] = item.table[$index].table_header = table.table_header">{{table.table_header}}</td>
                                        </tr>
                                        <tr ng-repeat="el in item.row_number track by $index" ng-init="row = $index">
                                            <td height="20" class="relative" ng-repeat="(i,table) in item.table track by $index" ng-init="freelancer.questionnaire[index][_index].table[row][i].type = table.type;">
                                                <div ng-if="table.type=='text'" class="text-center" ng-init="freelancer.questionnaire[index][_index].table[row][i].text = table.row[row].value" style="line-height: 55px;">{{table.row[row].value}}</div>
                                                <md-input-container aria-label="none" ng-if="table.type=='input'" class="md-block" flex-gt-sm>
                                                    <input aria-label="hidden" name="answer" ng-model="freelancer.questionnaire[index][_index].table[row][i].input">
                                                </md-input-container>
                                                <md-checkbox aria-label="none" class="checkbox-profile" ng-if="table.type=='checkbox'" ng-model="freelancer.questionnaire[index][_index].table[row][i].checkbox"></md-checkbox>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </uib-tab>
            </uib-tabset>

            <div class="row">
                <div class="col-md-6">
                    <md-button class="md-raised prev-button" ng-click="freelancer_area.activeTab='about'"> PREVIOUS</md-button>
                </div>
                <div class="col-md-6">
                    <md-button class="md-raised next-button" ng-click="submittedExpertise=true;expertiseForm.$invalid ? scrollToErr() : freelancer_area.activeTab = 'pricing'"> NEXT</md-button>
                </div>
            </div>
        </form>

        <section ng-show="freelancer_area.activeTab == 'pricing'">
            <form name="priceForm">
                <h4 class="info-title">Please specify pricing for your services</h4>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-3" ng-click="priceHour = false; freelancer.price.hour = ''">
                            <md-input-container class="md-block">
                                <label>Price in Rs.</label>
                                <input class='form-control' name="price" numbers-only ng-model="freelancer.price.price" aria-label="Price Word">
                            </md-input-container>
                            <div ng-messages="submittedAbout && priceForm.price.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                                <div ng-show="submittedAbout && priceForm.price.$error.required" ng-message="required">Price is</div>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <md-input-container class="md-block">
                                <label>Pricing Basis</label>
                                <input class='form-control' name="description" ng-model="freelancer.price.description" aria-label="Price Word">
                            </md-input-container>
                            <div ng-messages="submittedAbout && priceForm.description.$invalid" ng-class="{'md-auto-hide': !submittedAbout}">
                                <div ng-show="submittedAbout && priceForm.description.$error.required" ng-message="required">Pricing Basis is</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <md-checkbox ng-model="addService" class="md-warn" ng-init="addService = !!freelancer.service_packages.length">
                                <span>Packaged Services(?)</span>
                            </md-checkbox>
                        </div>
                        <div class="col-xs-8">
                            <a class="create-package-word pointer" ng-click="createPackage()">
                                Create Packages
                            </a>
                        </div>
                    </div>
                    <div class="row" ng-if="freelancer.service_packages.length">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td>Preview</td>
                                <td>Title</td>
                                <td>Price</td>
                                <td>Delivery time</td>
                                <td>Extras packages</td>
                                <td style="width: 100px">Action</td>
                            </tr>
                            <tr ng-repeat="elem in freelancer.service_packages">
                                <td><img style="max-height: 70px;" ng-if="elem.preview.url" ng-src="{{elem.preview.url}}"></td>
                                <td>{{elem.title}}</td>
                                <td>{{elem.pricing}}</td>
                                <td>{{elem.delivery_time}}</td>
                                <td>
                                    <div ng-repeat="items in elem.extras">{{items.description}}: {{items.price}}</div>
                                </td>
                                <td style="width: 100px">
                                    <ng-md-icon icon="cancel" ng-click="delete_package(elem)" style="fill: red;cursor: pointer"></ng-md-icon>
                                    <ng-md-icon icon="mode_edit" ng-click="editPackage(elem, $index);show.pkgModal=true" style="fill: #63acff;cursor: pointer"></ng-md-icon>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-md-6">
                    <md-button class="md-raised prev-button" ng-click="freelancer_area.activeTab='expertise'"> PREVIOUS</md-button>
                </div>
                <div class="col-md-6">
                    <md-button class="md-raised next-button" ng-click="submittedExpertise=true;expertiseForm.$invalid ? scrollToErr() : freelancer_area.activeTab = 'work'"> NEXT</md-button>
                </div>
            </div>
        </section>
        <section ng-show="freelancer_area.activeTab == 'work'">
            <form name="workForm" novalidate>
                <div class="tab-title-wrap">
                    <h3 class="tab-title">Past Work</h3>
                    <p class="sub-tab-title">Please provide information about your past work</p>
                </div>

                <h4 class="info-title">NUMBER OF CUSTOMERS</h4>
                <div class="form-group" ng-class="{'has-error': submittedWork && workForm.customers.$invalid}">
                    <md-input-container class="md-block">
                        <input class='form-control' name="customers" numbers-only ng-model="freelancer.work.customers" placeholder="Number"/>
                    </md-input-container>
                </div>

                <h4 class="info-title">PAST CLIENTS THAT YOU HAVE WORKED WITH</h4>
                <div class="form-group">
                    <div class="samples-border">
                        <table class="table no-table-border" style="margin-bottom: 0px;">
                            <tbody>
                            <tr ng-repeat="past_client in freelancer.past_clients">
                                <td style="width: calc(100% - 235px);">
                                    <md-input-container class="md-block">
                                        <input class='form-control' ng-model="past_client.name" placeholder="Client Name"/>
                                    </md-input-container>
                                </td>
                                <td style="width: 145px">
                                    <img ng-src="{{past_client.attachment.url}}" style="width: 30px;height: auto;">
                                </td>
                                <td style="width: 90px">
                                    <a style="top: 10px;position: relative;color: red;" class="pointer" href="" ng-click="freelancer.past_clients.splice($index,1);">
                                        <ng-md-icon icon="control_point" style="fill: red;position: relative;top: 3px;" size="16"></ng-md-icon>
                                        Remove
                                    </a>
                                </td>
                            </tr>
                            <tr class="relative">
                                <td style="width: calc(100% - 235px);">
                                    <md-input-container class="md-block">
                                        <input class='form-control' ng-model="newPastClient.name" placeholder="Client Name"/>
                                        <div ng-if="potential_clients.length" class="potential_client">
                                            <div style="overflow: auto;max-height: 250px;width: 104%;">
                                                <div class="client pointer" ng-repeat="client in potential_clients" ng-click="choiceClient($event,client)">
                                                    <div class="client-image inline-block">
                                                        <img class="client-src" ng-src="{{client.attachment.url}}">
                                                    </div>
                                                    <div class="client-name inline-block">
                                                        {{client.name}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </td>
                                <td style="width: 145px">
                                    <div class="pointer attach-sample-button" class="pointer" ngf-select="addPastClientFile($file)" ngf-pattern="'image/*'" ngf-multiple="false">
                                        <ng-md-icon icon="attach_file" size="16"></ng-md-icon>
                                        <span style="position:relative;font-size: 14px;top:-3px;">Attach Logo</span>
                                    </div>
                                    <img ngf-src="newPastClient.preview_attachment" style="width: 30px;height: auto;" ngf-thumbnail="newPastClient.preview_attachment" class="thumb">
                                </td>
                                <td style="width: 90px">
                                    <!--<a style="top: 10px;position: relative;color: red;" class="pointer" href="">-->
                                    <!--<ng-md-icon icon="control_point" style="fill: red;position: relative;top: 3px;" size="16"></ng-md-icon>-->
                                    <!--Remove-->
                                    <!--</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">
                        <div class="icon-button" ng-click="addClient();">
                            <ng-md-icon icon="control_point" style="fill: gray;" size="24"></ng-md-icon>
                            <span>Add Client</span>
                        </div>
                    </div>
                </div>


                <h4 class="info-title">PAST CLIENTS THAT YOU HAVE WORKED WITH</h4>
                <div class="form-group" ng-class="{'has-error': submittedWork && workForm.past_client.$invalid}">
                    <md-input-container class="md-block">
                        <input class='form-control' name="past_client" ng-model="freelancer.work.past_client" placeholder="Short Text">
                    </md-input-container>
                </div>

                <h4 class="info-title">AWARDS AND RECOGNITION</h4>
                <div class="form-group" ng-class="{'has-error': submittedWork && workForm.awards.$invalid}">
                    <md-input-container class="md-block">
                        <input class='form-control' name="awards" placeholder="Short text" ng-model="freelancer.work.awards">
                    </md-input-container>
                </div>
            </form>

            <h4 class="info-title">UPLOAD SAMPLES OF WORK</h4>
            <div class="form-group">
                <div class="samples-border" ng-if="freelancer.work.work_samples.length">
                    <div ng-repeat="sample_work in freelancer.work.work_samples" style="border-bottom: 1px solid lightgray">
                        <div class="inline-block" ng-if="editWork != sample_work._id">
                            <p class="text-bold">Title:{{sample_work.title}}</p>
                            <div>Description: {{sample_work.description}}</div>
                            <div ng-if="sample_work.url">Link to the sample: {{sample_work.url}}</div>
                        </div>
                        <div ng-if="editWork == sample_work._id">
                            <md-input-container class="md-block">
                                <input class='form-control' name="title" placeholder="Title" ng-model="edit_work.title">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <input class='form-control' name="description" placeholder="Description" ng-model="edit_work.description">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <input class='form-control' name="url" placeholder="Link to the sample" ng-model="edit_work.url">
                            </md-input-container>
                        </div>
                        <div class="relative inline-block" style="height: 60px;width: 60px;float: right;">
                            <img class="client-src" ng-src="{{sample_work.attachments[0].url}}">
                        </div>
                        <div class="icon-button">
                            <div class="inline-block marginR10" ng-if="editWork != sample_work._id" ng-click="editWork = sample_work._id; activeEdit(sample_work)">
                                <ng-md-icon icon="mode_edit" size="24"></ng-md-icon>
                                <span >Edit</span>
                            </div>
                            <div class="inline-block red marginR10" ng-if="editWork != sample_work._id">
                                <ng-md-icon icon="remove_circle_outline" size="24"></ng-md-icon>
                                <span ng-click="deleteSampleWork(sample_work._id);freelancer.work.work_samples.splice($index,1)">Remove</span>
                            </div>
                            <div class="inline-block marginR10" ng-if="editWork == sample_work._id">
                                <ng-md-icon icon="mode_edit" size="24"></ng-md-icon>
                                <span ng-click="editSampleWork(edit_work, $index)">Submit</span>
                            </div>
                            <div class="inline-block red marginR10" ng-if="editWork == sample_work._id" ng-click="activeEdit({_id:0})">
                                <ng-md-icon icon="remove_circle_outline" size="24"></ng-md-icon>
                                <span>Cancel</span>
                            </div>
                        </div>
                    </div>
                </div>
                <form name="sample_work" novalidate>
                    <div class="samples-border">
                        <div class="form-group" ng-class="{'has-error': freelancer_area.submittedSample && sample_work.title.$invalid}">
                            <md-input-container class="md-block">
                                <input class='form-control' name="title" placeholder="Title" ng-model="new_sample.title">
                            </md-input-container>
                        </div>

                        <div class="form-group" ng-class="{'has-error': freelancer_area.submittedSample && sample_work.description.$invalid}">
                            <md-input-container class="md-block">
                                <textarea class='form-control' name="description" ng-model="new_sample.description" placeholder="Description"></textarea>
                            </md-input-container>
                        </div>
                        <div class="form-group" ng-class="{'has-error': freelancer_area.submittedSample && sample_work.url.$invalid}">
                            <md-input-container class="md-block">
                                <input class='form-control' name="url" ng-model="new_sample.url" placeholder="Link to the sample(optional)"/>
                            </md-input-container>
                        </div>


                        <div class="attach-sample-block" style="height: 100px">
                            <div class="inline-block floatL relative preview" ng-repeat="attach in new_sample.preview_attachments track by $index" ng-if="$index < 5">
                                <img ngf-src="attach" class="thumb">
                                <span class="close pointer" ng-click="new_sample.preview_attachments.splice($index,1)"><i class="fa fa-times" aria-hidden="true"></i></span>
                            </div>

                            <div style="width: 100%;" class="attach-sample-button" class="pointer" ngf-select="addSampleWorkFiles($files)" ngf-pattern="'image/*'" ngf-multiple="true">
                                <ng-md-icon icon="attach_file" size="32"></ng-md-icon>
                                <span style="position:relative;font-size: 20px;top:-8px;">Attach Files</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="icon-button" ng-click="freelancer_area.submittedSample=true;submitSample(sample_work.$invalid);">
                            <ng-md-icon icon="control_point" style="fill: gray;" size="24"></ng-md-icon>
                            <span>Add Work</span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <md-button class="md-raised prev-button" ng-click="freelancer_area.activeTab='expertise'"> PREVIOUS</md-button>
                </div>
                <div class="col-md-6">
                    <md-button class="md-raised next-button" ng-click="submittedWork=true;submitWork()"> NEXT</md-button>
                </div>
            </div>
        </section>

        <form name="contactForm" ng-show="freelancer_area.activeTab == 'contact'">
            <div class="tab-title-wrap">
                <h3 class="tab-title">Contact Details</h3>
                <p class="sub-tab-title">Please provide contact details at which marketers can contact you</p>
            </div>

            <h4 class="info-title">Contact Person Name*</h4>
            <div class="form-group" ng-class="{'has-error': submittedContact && contactForm.contact_name.$invalid}">
                <md-input-container class="md-block">
                    <input class='form-control' name="contact_name" aria-label="hidden" ng-model="freelancer.contact_detail.name" required>

                    <div ng-messages="submittedContact && contactForm.contact_name.$invalid" ng-class="{'md-auto-hide': !submittedContact}">
                        <div ng-show="submittedContact && contactForm.contact_name.$error.required" ng-message="required">Contact Person Name is</div>
                    </div>
                </md-input-container>
            </div>

            <h4 class="info-title">Email ID at which marketers can contact you*</h4>
            <div style="color: lightgrey;"><i>Will not be shared publicly</i></div>
            <div class="form-group" ng-class="{'has-error': submittedContact && contactForm.contact_email.$invalid}">
                <md-input-container class="md-block">
                    <input class='form-control' name="contact_email" ng-model="freelancer.contact_detail.email"
                           aria-label="hidden"
                           ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required>

                    <div ng-messages="submittedContact && contactForm.contact_name.$invalid" ng-class="{'md-auto-hide': !submittedContact}">
                        <div ng-show="submittedContact && contactForm.contact_email.$error.required" ng-message="required">Email ID is</div>
                        <div ng-show="submittedContact && !contactForm.contact_email.$error.required && contactForm.contact_email.$error.pattern"
                             ng-message="pattern">Email ID is invalid
                        </div>
                    </div>
                </md-input-container>
            </div>

            <h4 class="info-title">Mobile Number to send the contact request*</h4>
            <div style="color: lightgrey;"><i>Will not be shared publicly</i></div>
            <div class="form-group" ng-class="{'has-error': submittedContact && contactForm.contact_mobile.$invalid}">
                <md-input-container class="md-block">
                    <input class='form-control' phone-number name="contact_mobile"
                           aria-label="hidden"
                           ng-model="freelancer.contact_detail.mobile" required>

                    <div ng-messages="submittedContact && contactForm.contact_mobile.$invalid" ng-class="{'md-auto-hide': !submittedContact}">
                        <div ng-show="submittedContact && contactForm.contact_mobile.$error.required" ng-message="required">Mobile Number is</div>
                    </div>
                </md-input-container>
            </div>

            <!--<div class="text-right pointer" ng-click="show.profilePreview=true;">-->
            <!--<img ng-src="{{freelancer.contact_detail.preview}}" style="max-width: 70px" ng-if="freelancer.contact_detail.preview">-->
            <!--<span style="font-size: 20px">Attach samples</span>-->
            <!--<ng-md-icon icon="attach_file" style="fill: gray;" size="48"></ng-md-icon>-->
            <!--</div>-->

            <div class="row">
                <div class="col-md-6">
                    <md-button class="md-raised prev-button" ng-click="freelancer_area.activeTab='work'"> PREVIOUS</md-button>
                </div>
                <div class="col-md-6">
                    <md-button class="md-raised next-button" ng-click="submittedContact=true;addContactDetails(contactForm.$invalid)"> SUBMIT</md-button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="show.pkgModal" class="delete-modal-block">
        <div class="createPackage" ng-include="'template/freelancer_registration/create_package.html'"></div>
    </div>

    <div ng-if="show.profilePreview" class="delete-modal-block">
        <div class="createPackage">
            <form name="myForm">
                <fieldset ng-init="freelancer_area.profilePreview=freelancer.contact_detail.preview || ''">
                    <legend>Upload the file</legend>
                    <h3 style="color: red; margin: 0">{{errorMessage}}</h3>
                    <div ngf-drop ng-hide="freelancer_area.profilePreview" ngf-select="setProfileTempPreview($file)" class="drop-box">Drop file or click</div>
                    <div style="width: 100%;height: 300px" ng-show="freelancer_area.profilePreview">
                        <img-crop area-type="square" image="freelancer_area.profilePreview" result-image="freelancer_area.croppedProfile">
                        </img-crop>
                    </div>
                    <div style="text-align: center;margin-top: 10px;">
                        <button class="btn regular-button" ng-click="freelancer_area.profilePreview='';" style="height:45px; padding-left: 25px! important;padding-right: 25px! important;">Upload New</button>
                        <button class="btn regular-button" ng-click="submitCropped(freelancer_area.croppedProfile, show.typeImg, show, freelancer_area  )" style="height:45px;">Submit</button>
                        <button class="btn regular-button" ng-click="freelancer_area.croppedProfile='';show.profilePreview=false;" style=" height:45px;">CANCEL</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <script type="text/ng-template" id="attachFile">

        <form name="myForm">
            <fieldset>
                <legend>Upload the file</legend>
                <div class="testContainer">
                    <div ng-show="showDrop" ngf-drop ngf-select ng-model="picFile" class="drop-box">Drop file or click</div>
                     <span class="progress" ng-show="picFile.progress >= 0">
                      <div style="width:{{picFile.progress}}%"
                           ng-bind="picFile.progress + '%'"></div>
                    </span>
                    <span ng-show="picFile.result">Upload Successful</span>
                </div>
                <i ng-show="myForm.file.$error.maxSize">File too large
                    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </fieldset>
            <br>

        </form>

    </script>

    <script type="text/ng-template" id="has_sent">
        <div class="text-center">
            <h2 style="color: rgb(115, 160, 115);font-weight: bolder" class="text-center">Congratulations!</h2>
            <h3 style="color: rgb(115, 160, 115);" class="text-center">You registration request has been sent. We will notify you by email when admin approve your request!</h3>
            <button class="btn btn-default" ng-click="closeThisDialog()">Go to Home Page</button>
        </div>
    </script>
</section>


