<div style="margin-top: 20px">
    <h2 ng-if="!jobs.length" class="text-center" style="margin-top: 74px">No pending jobs</h2>
    <table class="table table-striped" ng-if="jobs.length">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Budget</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Client Name</th>
            <th>Company Name</th>
            <th>Date Of Completion</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="job in jobs" ng-class="{'rejecting-row': job_area.rejectedItemIndex == $index}">
            <td>{{job.title}}</td>
            <td>{{job.description}}</td>
            <td>{{job.budget}}</td>
            <td>{{job.email}}</td>
            <td>{{job.mobile}}</td>
            <td>{{job.client_name}}</td>
            <td>{{job.company_name}}</td>
            <td>{{job.date_of_completion}}</td>
            <td>{{job.created_at}}</td>
            <td>
                <button class="btn btn-sm btn-check white" ng-confirm-click="Are you sure your want to approve job <b>{{job.name}} </b> ?"
                        ng-confirm-action="rejectApproveJob('approve', job._id, $index)" ng-show="job.admin_approved==0 || job.admin_approved==2">
                    <span  class="pointer fa fa-check"></span>
                </button>

                <button class="btn btn-sm btn-times white" ng-click="reject(job, $index)" style="color: red" ng-show="job.admin_approved==0 || job.admin_approved==1">
                    <span class="pointer fa fa-trash-o"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <div class="text-center">
            <div custom-pagination="configPagination" cb="cb(currentPage)"></div>
        </div>
    </div>
</div>