<div style="margin-top: 20px">
    <h2 ng-if="!jobs.length" class="text-center">No pending jobs</h2>
    <table class="table table-striped" st-safe-src="jobs" st-table="jobsCopy" ng-if="jobsCopy.length">
        <thead>
        <tr>
            <th>Title</th>
            <th>Types</th>
            <th>Description</th>
            <th>Budget</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Client Name</th>
            <th>Company Name</th>
            <th>Date Of Completion</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="job in jobsCopy" ng-class="{'rejecting-row': job_area.rejectedItemIndex == $index}">
            <td>{{job.title}}</td>
            <td><span ng-repeat="type in job.types">{{type}}<span ng-if="!$last">,</span> </span></td>
            <td>{{job.description}}</td>
            <td>{{job.budget}}</td>
            <td>{{job.email}}</td>
            <td>{{job.mobile}}</td>
            <td>{{job.client_name}}</td>
            <td>{{job.company_name}}</td>
            <td>{{job.date_of_completion}}</td>
            <td>
                <span ng-confirm-click="Are you sure your want to approve job <b>{{job.name}} </b> ?"
                      ng-confirm-action="rejectApproveJob('approve', job._id, $index)"
                      ng-show="job.admin_approved==0 || job.admin_approved==2"
                      style="color: green" class="pointer glyphicon glyphicon-ok"></span>

                <span ng-click="reject(job, $index)" style="color: red"
                      ng-show="job.admin_approved==0 || job.admin_approved==1"
                      class="pointer glyphicon glyphicon-remove"></span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>