<div class="full-width star-rating-block" style="display: inline-flex;justify-content: space-between;">
    <i class="fa" ng-class="{'fa-star':ratingArr[0], ' fa-star-o':!ratingArr[0], pointer:!isDisable}" ng-click="sendRating(1)"></i>
    <i class="fa" ng-class="{'fa-star':ratingArr[1], ' fa-star-o':!ratingArr[1], pointer:!isDisable}" ng-click="sendRating(2)"></i>
    <i class="fa" ng-class="{'fa-star':ratingArr[2], ' fa-star-o':!ratingArr[2], pointer:!isDisable}" ng-click="sendRating(3)"></i>
    <i class="fa" ng-class="{'fa-star':ratingArr[3], ' fa-star-o':!ratingArr[3], pointer:!isDisable}" ng-click="sendRating(4)"></i>
    <i class="fa" ng-class="{'fa-star':ratingArr[4], ' fa-star-o':!ratingArr[4], pointer:!isDisable}" ng-click="sendRating(5)"></i>
</div>