<div class="text-left">
    <a>{{user.name}}</a>
    <div>{{user.nameChat}}</div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row background-msg" style="">
            <div class="col-md-12">
                <div class="row chat-block">
                    <div ng-if="!messages" id="chat">
                        <loading h="100" w="100"></loading>
                    </div>
                    <div class="col-md-12" ng-if="messages" id="chat">
                        <h3 class="text-center" ng-if="!messages.length">Enter you first message</h3>
                        <div class="block-msg" ng-repeat="msg in messages track by $index">
                            <div class="row" style="    padding: 20px;">
                                <div class="message  col-md-10">
                                    <div class="relative">
                                        <div class="avatar-msg inline-block">
                                            <img class="avatar-img-msg" ng-src="{{msg.avatar}}">
                                        </div>
                                        <span ng-if="currentUserName == msg.name" class="isOnline online"></span>
                                        <span ng-if="currentUserName != msg.name"  class="isOnline" ng-class="{online:online, offline:!online}"></span>
                                        <div class="text-bold inline-block name-msg">{{msg.name}}</div>
                                    </div>
                                    <div class="body-msg">{{msg.message}}</div>
                                    <div ng-if="msg.files.length" style="padding: 10px">
                                        <div style="color:grey">Attach files :</div>
                                        <div class="theme-msg paddingLR10" ng-repeat="file in  msg.files">
                                            <a target="_blank" ng-href="{{file.url}}">{{file.name}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-left">{{msg.time.time ? msg.time.time : msg.time.date}}</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row enter-block">
                    <div class="col-md-10">
                        <textarea class="form-control" row="3" ng-enter="send(msg)" ng-model="msg"></textarea>
                        <div class="text-right pointer" ngf-select="addFiles($files)" ngf-pattern="'image/*'" ngf-multiple="true">
                            <ng-md-icon class="upload-button" icon="attach_file" size="24"></ng-md-icon>
                        </div>
                        <div class="text-right">
                            <div class="row Files">
                                <div class="col-xs-8">
                                    <div class="inline-block floatL relative preview" ng-repeat="attach in chat_area.previewFiles track by $index">
                                        <img ng-src="{{attach}}" class="thumb">
                                        <span class="close pointer" ng-click="deleteImg($index)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn full-width send-button" ng-click="send(msg)">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>