<div class="row">
    <div class="col-xs-2 text-bold marginLR20 text-center" ng-repeat="type in open">{{type}}</div>
</div>

<div class="row" ng-repeat="job in jobs">
    <div class="col-xs-2 marginB10 text-center" ng-repeat="(key, value) in job.data">{{value}}</div>
    <div class="col-xs-2 marginB10 text-center">
        <div>
            <a class="width45 pointer block text-orange-link text-bottom-line" ng-click="action(job.elem._id, 'Commuticate')">Communicate</a>
            <a class="width45 pointer block text-orange-link text-bottom-line" ng-click="action(job.elem._id, 'Accept')">Accept</a>
            <a class="width45 pointer block text-orange-link text-bottom-line" ng-click="action(job.elem._id, 'Reject')">Reject</a>
        </div>
    </div>
</div>
